Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(cloud-styles): use @ovh-ux/manager-cloud-styles
  client/app/app.less
  client/app/cloud/project/cloud-project.html
  client/app/index.js
  client/index.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(usage): additional services price
  client/app/cloud/components/project/billing/additional-services/additional-services.component.controller.js
  client/app/cloud/components/project/billing/additional-services/additional-services.component.html
  client/app/cloud/components/project/billing/additional-services/additional-services.component.js
  client/app/cloud/components/project/billing/hourly-resource-list/billing-hourly-resource-list.component.controller.js
  client/app/cloud/components/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/app/cloud/components/project/billing/monthly-resource-list/billing-monthly-resource-list.component.html
  client/app/cloud/components/project/billing/outgoing-trafic/outgoing-trafic.component.html
  client/app/cloud/components/project/billing/translations/Messages_fr_FR.json
  client/app/cloud/project/billing/cloud-project-billing.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(cloud.project.compute.infrastructure): replace region service (#1381)
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
  client/components/cloud/project/billing/archive-storage-list/billing-archive-storage-list.component.html
  client/components/cloud/project/billing/details-popover/instance-details-popover.html
  client/components/cloud/project/billing/details-popover/volume-details-popover.html
  client/components/cloud/project/billing/instance-list/billing-instance-list.component.html
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.html
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.html
  client/components/cloud/project/billing/snapshot-list/billing-snapshot-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

refactor(cloud-styles): remove unused runabove less styles
  client/app/app.less
Due: stylelint 'client/**/*.less' --fix

fix(translation): t1-180 flaviour
  client/app/cloud/project/compute/infrastructure/translations/Messages_fr_FR.json
Due: none

fix(translation): t1-180 flaviour
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
  client/app/cloud/project/compute/infrastructure/translations/Messages_fr_FR.json
  client/app/cloud/project/compute/infrastructure/translations/Messages_it_IT.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(order): display doing message when create order
  package.json
  yarn.lock
Due: none

fix(order): display doing message when create order (#1370)
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations
  client/app/vps/translations/Messages_en_ASIA.json
  client/app/vps/translations/Messages_en_AU.json
  client/app/vps/translations/Messages_en_CA.json
  client/app/vps/translations/Messages_en_GB.json
  client/app/vps/translations/Messages_en_SG.json
  client/app/vps/translations/Messages_fi_FI.json
  client/app/vps/translations/Messages_lt_LT.json
Due: none

fix(iplb): infinite loading ssl certifiacte order
  client/app/iplb/sslCertificate/order/iplb-ssl-certificate-order.controller.js
Due: eslint --fix

fix(iplb): status in dashboard
  client/app/iplb/home/iplb-home.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

release v7.19.2
  CHANGELOG.md
  package.json
Due: none

release v7.19.3
  CHANGELOG.md
  package.json
Due: none

fix(deps): upgrade ovh-api-services to v6.1.2
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ovh-api-services to v6.1.2 (#1390)
  package.json
  yarn.lock
Due: none

build(cloud-styles): update split dependencies
  package.json
  yarn.lock
Due: none

fix(storage): remove cloud-button deprecated class
  client/app/cloud/project/storage/storage-add-object/modal.html
  client/components/cloud-ui/button/button.less
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations
  client/app/vps/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/components/project/billing/translations/Messages_pt_PT.json
  client/app/vps/translations/Messages_de_DE.json
Due: none

fix(translation): t1-180 flaviour
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.controller.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/flavor.service.js
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
  client/app/cloud/project/compute/infrastructure/translations/Messages_fr_FR.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

release v7.20.0
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/components/project/billing/translations/Messages_en_ASIA.json
  client/app/cloud/components/project/billing/translations/Messages_en_AU.json
  client/app/cloud/components/project/billing/translations/Messages_en_CA.json
  client/app/cloud/components/project/billing/translations/Messages_en_GB.json
  client/app/cloud/components/project/billing/translations/Messages_en_SG.json
  client/app/cloud/components/project/billing/translations/Messages_fi_FI.json
  client/app/cloud/components/project/billing/translations/Messages_lt_LT.json
  client/app/vps/translations/Messages_en_ASIA.json
  client/app/vps/translations/Messages_en_AU.json
  client/app/vps/translations/Messages_en_CA.json
  client/app/vps/translations/Messages_en_GB.json
  client/app/vps/translations/Messages_en_SG.json
  client/app/vps/translations/Messages_fi_FI.json
  client/app/vps/translations/Messages_lt_LT.json
Due: none

fix(pci-usage): replace tables with datagrid
  client/app/cloud/components/project/billing/instance-list/billing-instance-list.component.html
  client/app/cloud/components/project/billing/snapshot-list/billing-snapshot-list.component.html
  client/app/cloud/components/project/billing/volume-list/billing-volume-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(infrastructure): remove incorrect fa-icon
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(i18n): add missing translations
  client/app/cloud/components/project/billing/translations/Messages_it_IT.json
  client/app/vps/translations/Messages_es_ES.json
  client/app/vps/translations/Messages_pl_PL.json
  client/app/vps/translations/Messages_pt_PT.json
Due: none

build(cloud-styles): update cloud-style split branch
  package.json
  yarn.lock
Due: none

fix(virtualmachine-addedit): remove unopened html tag
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

style(popover): fix popover button padding
  client/app/app.less
Due: stylelint 'client/**/*.less' --fix

build(cloud-styles): update cloud-universe-components split branch
  package.json
  yarn.lock
Due: none

fix(pci-usage): replace tables with datagrid
  client/app/cloud/components/project/billing/instance-list/billing-instance-list.component.html
  client/app/cloud/components/project/billing/snapshot-list/billing-snapshot-list.component.html
  client/app/cloud/components/project/billing/volume-list/billing-volume-list.component.html
  client/app/cloud/project/billing/cloud-project-billing.less
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations
  client/app/cloud/components/project/billing/translations/Messages_de_DE.json
Due: none

feat(kube): add terminate cluster
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/kubernetes-service.routes.js
  client/app/kubernetes/service/terminate/kubernetes-service-terminate.controller.js
  client/app/kubernetes/service/terminate/kubernetes-service-terminate.html
  client/app/kubernetes/service/terminate/kubernetes-service-terminate.modal.controller.js
  client/app/kubernetes/translations/Messages_fr_FR.json
  package.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

build(*): bump cloud-styles & cloud-universe-components
  package.json
  yarn.lock
Due: none

fix(kubernetes): display modals
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/update/kubernetes-service-update.controller.js
  client/app/kubernetes/service/update/kubernetes-service-update.modal.controller.js
  client/app/kubernetes/service/upgrade-policy/kubernetes-service-upgrade-policy.controller.js
Due: eslint --fix

fix(pci-usage): replace tables with datagrid
  client/app/app.less
  client/app/cloud/components/project/billing/details-popover/details-popover.controller.js
  client/app/cloud/components/project/billing/details-popover/details-popover.less
  client/app/cloud/components/project/billing/details-popover/details-popover.service.js
  client/app/cloud/components/project/billing/details-popover/instance-details-popover.html
  client/app/cloud/components/project/billing/details-popover/volume-details-popover.html
  client/app/cloud/components/project/billing/instance-list/billing-instance-list.component.controller.js
  client/app/cloud/components/project/billing/instance-list/billing-instance-list.component.html
  client/app/cloud/components/project/billing/object-storage-list/billing-object-storage-list.component.html
  client/app/cloud/components/project/billing/snapshot-list/billing-snapshot-list.component.html
  client/app/cloud/components/project/billing/volume-list/billing-volume-list.component.controller.js
  client/app/cloud/components/project/billing/volume-list/billing-volume-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(servers-storage): loader visibility
  client/app/cloud/project/storage/storage.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(kubernetes): display modals (#1396)
  service/kubernetes-service.controller.js
  service/update/kubernetes-service-update.controller.js
  service/update/kubernetes-service-update.modal.controller.js
  service/upgrade-policy/kubernetes-service-upgrade-policy.controller.js
Due: eslint --fix

fix(kubernetes): display modals (#1396)
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/update/kubernetes-service-update.controller.js
  client/app/kubernetes/service/update/kubernetes-service-update.modal.controller.js
  client/app/kubernetes/service/upgrade-policy/kubernetes-service-upgrade-policy.controller.js
Due: eslint --fix

release v7.20.1
  CHANGELOG.md
  package.json
Due: none

style(billing): fix billing consumption & history
  client/app/cloud/project/billing/history/cloud-project-billing-history.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
