Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(cloud.project.billing): order credits with Agora for all subs
  client/app/cloud/project/billing/vouchers/agora/addCredit/cloud-project-billing-vouchers-add-credit-agora.controller.js
  client/app/cloud/project/billing/vouchers/agora/cloud-project-billing-vouchers-agora.controller.js
  client/app/cloud/project/billing/vouchers/agora/cloud-project-billing-vouchers-agora.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(constants): add express urls for all subsidiaries
  client/app/config/all.ca.js
  client/app/config/all.eu.js
  client/app/config/all.us.js
Due: eslint --fix

refactor(cloud.project.vouchers): create constants for default values
  client/app/cloud/project/billing/vouchers/agora/addCredit/cloud-project-billing-vouchers-add-credit-agora.controller.js
  client/app/cloud/project/billing/vouchers/agora/addCredit/cloud-project-billing-vouchers-add-credit.constant.js
Due: eslint --fix

feat(cloud.project.billing): add vouchers with agora
  client/app/cloud/project/billing/vouchers/addVoucher/cloud-project-billing-vouchers-add.controller.js
  client/app/cloud/project/billing/vouchers/addVoucher/cloud-project-billing-vouchers-add.html
  client/app/cloud/project/billing/vouchers/agora/cloud-project-billing-vouchers-agora.controller.js
  client/app/cloud/project/billing/vouchers/agora/cloud-project-billing-vouchers-agora.html
  client/app/cloud/project/billing/vouchers/agora/translations/Messages_fr_FR.json
  client/app/cloud/project/billing/vouchers/legacy/cloud-project-billing-vouchers-legacy.controller.js
  client/app/cloud/project/billing/vouchers/legacy/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(project.billing.vouchers): display pci accounts for agora projects
  client/app/cloud/project/billing/vouchers/agora/cloud-project-billing-vouchers-agora.constant.js
  client/app/cloud/project/billing/vouchers/agora/cloud-project-billing-vouchers-agora.controller.js
  client/app/cloud/project/billing/vouchers/agora/cloud-project-billing-vouchers-agora.html
  client/app/cloud/project/billing/vouchers/agora/cloud-project-billing-vouchers-agora.js
  client/app/cloud/project/billing/vouchers/agora/cloud-project-billing-vouchers-agora.service.js
  client/app/cloud/project/billing/vouchers/agora/operations/cloud-project-billing-vouchers-agora-operations.component.js
  client/app/cloud/project/billing/vouchers/agora/operations/cloud-project-billing-vouchers-agora-operations.controller.js
  client/app/cloud/project/billing/vouchers/agora/operations/cloud-project-billing-vouchers-agora-operations.html
  client/app/cloud/project/billing/vouchers/agora/operations/cloud-project-billing-vouchers-agora-operations.js
  client/app/cloud/project/billing/vouchers/agora/translations/Messages_fr_FR.json
  client/app/cloud/project/billing/vouchers/cloud-project-billing-vouchers.html
  client/app/cloud/project/billing/vouchers/cloud-project-billing-vouchers.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(cloud.project.billing): rewrite prices fetching
  client/app/cloud/project/billing/vouchers/agora/addCredit/cloud-project-billing-vouchers-add-credit-agora.controller.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_en_GB.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_nl_NL.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_en_GB.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/loadbalancer/translations/Messages_de_DE.json
  client/app/cloud/project/compute/translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_it_IT.json
  client/app/cloud/project/compute/loadbalancer/translations/Messages_it_IT.json
Due: none

fix(location): openstreetmap location is missing
  client/components/openStreetMap/openStreetMap.filter.js
Due: eslint --fix

fix(components.openstreetmap): add missing location for APAC regions (#1262)
  client/components/openStreetMap/openStreetMap.filter.js
Due: eslint --fix

feat(cloud.logs): add optional and explicit indexation status (#1260)
  client/app/dbaas/logs/detail/aliases/logs-aliases.service.js
  client/app/dbaas/logs/detail/inputs/add/configure/logs-inputs-add-configure.controller.js
  client/app/dbaas/logs/detail/inputs/add/configure/logs-inputs-add-configure.html
  client/app/dbaas/logs/detail/streams/add/logs-streams-add.html
  client/app/dbaas/logs/detail/streams/alerts/home/alerts-home.html
  client/app/dbaas/logs/detail/streams/home/logs-streams-home.html
  client/app/dbaas/logs/detail/streams/logs-streams.service.js
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat: PCI menu entries revamp (#1255)
  client/app/app.less
  client/app/cloud/project/billing/cloud-project-billing.html
  client/app/cloud/project/billing/vouchers/cloud-project-billing-vouchers.html
  client/app/cloud/project/cloud-project.controller.js
  client/app/cloud/project/cloud-project.html
  client/app/cloud/project/cloud-project.js
  client/app/cloud/project/cloud-project.less
  client/app/cloud/project/compute/cloud-project-compute.html
  client/app/cloud/project/compute/translations/Messages_fr_FR.json
  client/app/cloud/project/onboarding/onboarding-pci.controller.js
  client/app/cloud/project/onboarding/onboarding-pci.html
  client/app/cloud/project/onboarding/onboarding-pci.less
  client/app/cloud/project/onboarding/translations/Messages_fr_FR.json
  client/app/cloud/project/translations/Messages_fr_FR.json
  client/assets/images/onboarding/compute-storage_uk.jpg
  client/assets/images/onboarding/gestion-tech-admin_uk.jpg
  client/assets/images/onboarding/openstack.jpg
  client/assets/images/onboarding/pay-as-you-go.jpg
  client/components/navbar/navbar.service.js
  client/components/sidebar/products/project-sidebar.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat: PCI menu entries revamp (#1255)
  navbar.service.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/translations/Messages_en_GB.json
  client/app/cloud/project/compute/translations/Messages_nl_NL.json
  client/app/cloud/project/translations/Messages_en_GB.json
  client/app/cloud/project/translations/Messages_nl_NL.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/translations/Messages_it_IT.json
Due: none

release v7.13.0
  CHANGELOG.md
  package.json
Due: none

release v7.14.0
  CHANGELOG.md
  package.json
Due: none

feat(vps): add resolve on top parent state and manage error page
  client/app/app.js
  client/app/error/error.controller.js
  client/app/error/error.html
  client/app/error/error.routes.js
  client/app/error/translations/Messages_fr_FR.json
  client/app/vps/vps.js
  client/components/angular-ui-router/angular-ui-router.module.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/cloud/project/compute/translations/Messages_it_IT.json
  client/app/cloud/project/translations/Messages_it_IT.json
Due: none

feat(vps.agora): add agora update view
  client/app/vps/upgrade/legacy/vps-upgrade-legacy.controller.js
  client/app/vps/upgrade/legacy/vps-upgrade-legacy.html
  client/app/vps/upgrade/vps-upgrade.controller.js
  client/app/vps/upgrade/vps-upgrade.html
  client/app/vps/vps.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

build(deps): upgrade ng-ovh-sso-auth and ng-ovh-sso-auth-modal-plugin
  client/app/app.js
  client/app/app.less
  client/app/index.js
  client/components/auth/auth.config.js
  client/components/sso/ovh-angular-sso-auth-modal-plugin.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations
  client/app/cloud/project/translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations
  client/app/dbaas/logs/translations/Messages_de_DE.json
Due: none

fix(navbar): revamp style and texts
  client/app/app.less
  client/app/common/translations/Messages_fr_FR.json
  client/components/navbar/navbar-builder.service.js
  client/components/navbar/navbar-menu-header/index.js
  client/components/navbar/navbar-menu-header/navbar-menu-header.component.html
  client/components/navbar/navbar-menu-header/navbar-menu-header.component.js
  client/components/navbar/navbar-menu-header/navbar-menu-header.html
  client/components/navbar/navbar-notification.service.js
  client/components/navbar/navbar.less
  client/components/navbar/navbar.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(iplb): enable ssl tab in US
  client/app/iplb/header/iplb-dashboard-header.controller.js
  client/app/iplb/header/iplb-dashboard-header.html
  client/app/iplb/iplb-metrics.service.js
  client/app/iplb/iplb.constants.js
  client/app/iplb/sslCertificate/iplb-ssl-certificate.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

build(deps): upgrade ng-ovh-sso-auth and ng-ovh-sso-auth-modal-plugin (#1269)
  client/app/app.js
  client/app/app.less
  client/app/index.js
  client/components/auth/auth.config.js
  client/components/sso/ovh-angular-sso-auth-modal-plugin.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint 'client/**/*.less' --fix

feat(kube-reset): woker nodes policy control addition
  client/app/common/translations/Messages_fr_FR.json
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/nodes/kubernetes-nodes.controller.js
  client/app/kubernetes/nodes/kubernetes-nodes.html
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/reset/kubernetes-service-reset.controller.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.html
  client/app/kubernetes/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(kubernetes): woker nodes policy control addition (#1268)
  kubernetes.constants.js
  kubernetes.service.js
  nodes/kubernetes-nodes.controller.js
  nodes/kubernetes-nodes.html
  service/kubernetes-service.html
  service/reset/kubernetes-service-reset.controller.js
  service/reset/kubernetes-service-reset.html
  translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(kubernetes): woker nodes policy control addition (#1268)
  client/app/common/translations/Messages_fr_FR.json
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/nodes/kubernetes-nodes.controller.js
  client/app/kubernetes/nodes/kubernetes-nodes.html
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/reset/kubernetes-service-reset.controller.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.html
  client/app/kubernetes/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(info): show new DC available info message
  client/app/home/home.controller.js
  client/app/home/home.html
  client/app/home/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(navbar): revamp style and texts (#1237)
  navbar-builder.service.js
  navbar-menu-header/index.js
  navbar-menu-header/navbar-menu-header.component.html
  navbar-menu-header/navbar-menu-header.component.js
  navbar-menu-header/navbar-menu-header.html
  navbar-notification.service.js
  navbar.less
  navbar.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(navbar): revamp style and texts (#1237)
  client/app/app.less
  client/app/common/translations/Messages_fr_FR.json
  client/components/navbar/navbar-builder.service.js
  client/components/navbar/navbar-menu-header/index.js
  client/components/navbar/navbar-menu-header/navbar-menu-header.component.html
  client/components/navbar/navbar-menu-header/navbar-menu-header.component.js
  client/components/navbar/navbar-menu-header/navbar-menu-header.html
  client/components/navbar/navbar-notification.service.js
  client/components/navbar/navbar.less
  client/components/navbar/navbar.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

release v7.15.0
  CHANGELOG.md
  package.json
Due: none

fix(cloud.project.onboarding): set right asset path
  client/app/cloud/project/onboarding/onboarding-pci.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
