Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(vps-tracking): track click event
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
  client/app/vps/veeam/order/vps-order-veeam.controller.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(vps-tracking): track click event
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(i18n): move xml files to json files
  navbar.service.js
Due: eslint --fix

feat(i18n): move xml files to json files
  containers/kubernetes-containers.routes.js
  kubernetes.routes.js
  nodes/kubernetes-nodes.routes.js
  service/kubernetes-service.routes.js
  translations/Messages_cs_CZ.json
  translations/Messages_cs_CZ.xml
  translations/Messages_de_DE.json
  translations/Messages_de_DE.xml
  translations/Messages_en_ASIA.json
  translations/Messages_en_ASIA.xml
  translations/Messages_en_AU.json
  translations/Messages_en_AU.xml
  translations/Messages_en_CA.json
  translations/Messages_en_CA.xml
  translations/Messages_en_GB.json
  translations/Messages_en_GB.xml
  translations/Messages_en_SG.json
  translations/Messages_en_SG.xml
  translations/Messages_en_US.json
  translations/Messages_en_US.xml
  translations/Messages_es_ES.json
  translations/Messages_es_ES.xml
  translations/Messages_es_US.json
  translations/Messages_es_US.xml
  translations/Messages_fi_FI.json
  translations/Messages_fi_FI.xml
  translations/Messages_fr_CA.json
  translations/Messages_fr_CA.xml
  translations/Messages_fr_FR.json
  translations/Messages_fr_FR.xml
  translations/Messages_it_IT.json
  translations/Messages_it_IT.xml
  translations/Messages_lt_LT.json
  translations/Messages_lt_LT.xml
  translations/Messages_nl_NL.json
  translations/Messages_nl_NL.xml
  translations/Messages_pl_PL.json
  translations/Messages_pl_PL.xml
  translations/Messages_pt_PT.json
  translations/Messages_pt_PT.xml
Due: eslint --fix

fix(i18n): add missing translations
  translations/Messages_cs_CZ.json
  translations/Messages_de_DE.json
  translations/Messages_en_ASIA.json
  translations/Messages_en_AU.json
  translations/Messages_en_CA.json
  translations/Messages_en_GB.json
  translations/Messages_en_SG.json
  translations/Messages_en_US.json
  translations/Messages_fi_FI.json
  translations/Messages_fr_CA.json
  translations/Messages_it_IT.json
  translations/Messages_lt_LT.json
  translations/Messages_nl_NL.json
  translations/Messages_pl_PL.json
  translations/Messages_pt_PT.json
Due: none

fix(servers.add-server): region seleciton color
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(servers.add-server): region seleciton color
  package.json
  yarn.lock
Due: none

fix(project.virtualmachine.add): set blue region selection color
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(pci-menu): PCI menu entries revamp
  client/app/cloud/project/billing/cloud-project-billing.html
  client/app/cloud/project/billing/vouchers/cloud-project-billing-vouchers.html
  client/app/cloud/project/cloud-project.html
  client/app/cloud/project/cloud-project.js
  client/app/cloud/project/compute/cloud-project-compute.html
  client/app/cloud/project/translations/Messages_fr_FR.json
  client/components/sidebar/products/project-sidebar.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(action-menu-align): action menu alignment
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(pci-menu): PCI menu entries revamp
  client/app/cloud/project/cloud-project.html
  client/app/cloud/project/compute/translations/Messages_fr_FR.json
  client/app/cloud/project/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(pci-menu): PCI menu entries revamp
  client/app/cloud/project/cloud-project.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(button-alignment): action menu alignment fix
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

refactor(package.json): use start:eu as default start script
  package.json
Due: none

feat(pci-menu): PCI menu entries revamp …
  client/app/cloud/project/compute/translations/Messages_fr_FR.json
Due: none

fix(nasha.order): enable order
  client/components/sidebar/products/nasha-sidebar.service.js
Due: eslint --fix

fix(i18n): retrieve translations manually
  client/app/cloud/project/openstack/users/openrc/translations/Messages_de_DE.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_ASIA.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_AU.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_CA.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_GB.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_SG.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_US.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_es_ES.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_es_US.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_it_IT.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_nl_NL.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_pl_PL.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_pt_PT.json
  client/app/vps/translations/Messages_de_DE.json
  client/app/vps/translations/Messages_en_ASIA.json
  client/app/vps/translations/Messages_en_AU.json
  client/app/vps/translations/Messages_en_CA.json
  client/app/vps/translations/Messages_en_GB.json
  client/app/vps/translations/Messages_en_SG.json
  client/app/vps/translations/Messages_en_US.json
  client/app/vps/translations/Messages_es_ES.json
  client/app/vps/translations/Messages_es_US.json
  client/app/vps/translations/Messages_it_IT.json
  client/app/vps/translations/Messages_nl_NL.json
  client/app/vps/translations/Messages_pl_PL.json
  client/app/vps/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/openstack/users/openrc/translations/Messages_de_DE.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_ASIA.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_AU.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_CA.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_GB.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_SG.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_US.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_it_IT.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_nl_NL.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_pl_PL.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_pt_PT.json
  client/app/vps/translations/Messages_de_DE.json
  client/app/vps/translations/Messages_en_ASIA.json
  client/app/vps/translations/Messages_en_AU.json
  client/app/vps/translations/Messages_en_CA.json
  client/app/vps/translations/Messages_en_GB.json
  client/app/vps/translations/Messages_en_SG.json
  client/app/vps/translations/Messages_en_US.json
  client/app/vps/translations/Messages_it_IT.json
  client/app/vps/translations/Messages_nl_NL.json
  client/app/vps/translations/Messages_pl_PL.json
  client/app/vps/translations/Messages_pt_PT.json
Due: none

fix: align action menu
  client/app/cloud/project/billing/rights/cloud-project-billing-rights.html
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
  client/app/cloud/project/compute/volume/cloud-project-compute-volume.html
  client/app/cloud/project/openstack/users/openstack-users.html
  client/app/vps/veeam/order/vps-order-veeam.controller.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(ldp): password validation
  client/app/dbaas/logs/detail/account/password/logs-account-password.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(ldp): password validation
  client/app/dbaas/logs/detail/account/setup/logs-account-setup.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(i18n): add missing translations
  client/app/cloud/project/openstack/users/openrc/translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_ASIA.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_AU.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_CA.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_GB.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_SG.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_US.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_fi_FI.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_it_IT.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_lt_LT.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_nl_NL.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_pl_PL.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_pt_PT.json
  client/app/vps/translations/Messages_de_DE.json
  client/app/vps/translations/Messages_en_ASIA.json
  client/app/vps/translations/Messages_en_AU.json
  client/app/vps/translations/Messages_en_CA.json
  client/app/vps/translations/Messages_en_GB.json
  client/app/vps/translations/Messages_en_SG.json
  client/app/vps/translations/Messages_en_US.json
  client/app/vps/translations/Messages_fi_FI.json
  client/app/vps/translations/Messages_it_IT.json
  client/app/vps/translations/Messages_lt_LT.json
  client/app/vps/translations/Messages_nl_NL.json
  client/app/vps/translations/Messages_pl_PL.json
  client/app/vps/translations/Messages_pt_PT.json
Due: none

release v7.12.0
  CHANGELOG.md
  package.json
Due: none

fix(load-balancer): apply configuration error
  client/app/iplb/configuration/iplb-configuration.service.js
Due: eslint --fix

build(deps): upgrade ovh-ui-kit to v2.23.0
  package.json
  yarn.lock
Due: none

release v7.12.1
  CHANGELOG.md
  package.json
Due: none

fix(nasha): typo in generated order url
  client/app/nasha/add/nasha-add.service.js
Due: eslint --fix

release v7.12.2
  CHANGELOG.md
  package.json
Due: none

fix(dbaas.logs.detail.account): trigger validation when pasting password
  client/app/dbaas/logs/detail/account/password/logs-account-password.html
  client/app/dbaas/logs/detail/account/setup/logs-account-setup.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(pci-menu): PCI menu entries revamp
  client/app/cloud/project/cloud-project.less
  client/components/navbar/navbar.service.js
  client/components/sidebar/products/project-sidebar.service.js
Due: eslint --fix, stylelint 'client/**/*.less' --fix

feat(components.navbar): remove some assistance menu items for FR
  client/app/common/translations/Messages_fr_FR.json
  client/components/navbar/navbar.service.js
Due: eslint --fix

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
