Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore '**/noVNC/**' 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(core): add missing clipboard component translations (#1488)
  client/app/app.js
  client/app/common/translations/Messages_fr_FR.json
Due: eslint --fix

fix(deps): upgrade some dependencies
  package.json
  yarn.lock
Due: none

fix(deps): upgrade some dependencies (#1489)
  package.json
  yarn.lock
Due: none

release v7.25.11
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/common/translations/Messages_de_DE.json
  client/app/common/translations/Messages_en_ASIA.json
  client/app/common/translations/Messages_en_AU.json
  client/app/common/translations/Messages_en_CA.json
  client/app/common/translations/Messages_en_GB.json
  client/app/common/translations/Messages_en_SG.json
  client/app/common/translations/Messages_en_US.json
  client/app/common/translations/Messages_fi_FI.json
  client/app/common/translations/Messages_lt_LT.json
Due: none

fix(deps): upgrade ng-ovh-otrs to v7.1.5
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ng-ovh-otrs to v7.1.5 (#1493)
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations
  client/app/common/translations/Messages_es_ES.json
Due: none

feat: update tracking id
  client/components/at-internet/at-internet.constants.js
Due: eslint --fix

release v7.26.0
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/common/translations/Messages_it_IT.json
  client/app/common/translations/Messages_pl_PL.json
Due: none

fix(metrics-tokens-create): handle empty label
  client/app/dbaas/dbaas-metrics/token/add/metrics-token-add.controller.js
Due: eslint --fix

feat(cloud.logs): add filebeat 6.8 with 17 modules supported (#1480)
  client/app/dbaas/logs/logs-constants.js
Due: eslint --fix

release v7.27.0
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/common/translations/Messages_pt_PT.json
Due: none

fix(dbaas.metrics.token.add): handle empty label (#1497)
  client/app/dbaas/dbaas-metrics/token/add/metrics-token-add.controller.js
Due: eslint --fix

build(deps): upgrade ovh-api-services to v7.0.0
  package.json
  yarn.lock
Due: none

feat(cloud.logs): allow users to define alerts with a single character
  client/app/dbaas/logs/logs-constants.js
Due: eslint --fix

fix(i18n): data-gathering tool state update
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
Due: none

fix(i18n): confusing modal on disabled options
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: none

fix(cloud.logs): display debug helpers only for stream owners
  client/app/dbaas/logs/detail/streams/follow/streams-follow.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(cloud.logs): changing metrics aggregator for better rendering
  client/app/dbaas/logs/detail/home/logs-home.service.js
  client/app/dbaas/logs/logs-constants.js
Due: eslint --fix

fix(cloud.logs): fredericespiau review
  client/app/dbaas/logs/detail/streams/follow/streams-follow.html
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(cloud.logs): fredericespiau review
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
Due: none

feat(cloud.logs): strict mode for iceberg
  client/app/dbaas/logs/detail/aliases/logs-aliases.service.js
  client/app/dbaas/logs/detail/dashboards/logs-dashboards.service.js
  client/app/dbaas/logs/detail/home/logs-home.service.js
  client/app/dbaas/logs/detail/index/logs-index.service.js
  client/app/dbaas/logs/detail/inputs/logs-inputs.service.js
  client/app/dbaas/logs/detail/roles/logs-roles.service.js
  client/app/dbaas/logs/detail/streams/alerts/streams-alerts.service.js
  client/app/dbaas/logs/detail/streams/logs-streams.service.js
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
Due: eslint --fix

build(deps): upgrade ng-ovh-otrs to v7.1.6
  package.json
  yarn.lock
Due: none

build(deps): upgrade ng-ovh-otrs to v7.1.6 (#1504)
  package.json
  yarn.lock
Due: none

release v7.27.1
  CHANGELOG.md
  package.json
Due: none

fix(i18n): explicit details on kibana option
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
Due: none

release v7.27.2
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: none

fix(vps.ip.reverse): use ip call for additional ips
  client/app/vps/import/constants.js
  client/app/vps/import/vps.service.js
Due: eslint --fix

fix(logs-data-platform): fix cancel button
  client/app/dbaas/logs/detail/offer/logs-offer.controller.js
  client/app/dbaas/logs/detail/offer/logs-offer.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(dbaas.logs.detail.offer): fix cancel button (#1517)
  client/app/dbaas/logs/detail/offer/logs-offer.controller.js
  client/app/dbaas/logs/detail/offer/logs-offer.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(i18n): revert en_*
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
Due: none

feat(dbaas.logs): allow users to define alerts with a single character (#1503)
  client/app/dbaas/logs/detail/aliases/logs-aliases.service.js
  client/app/dbaas/logs/detail/dashboards/logs-dashboards.service.js
  client/app/dbaas/logs/detail/home/logs-home.service.js
  client/app/dbaas/logs/detail/index/logs-index.service.js
  client/app/dbaas/logs/detail/inputs/logs-inputs.service.js
  client/app/dbaas/logs/detail/roles/logs-roles.service.js
  client/app/dbaas/logs/detail/streams/alerts/streams-alerts.service.js
  client/app/dbaas/logs/detail/streams/follow/streams-follow.html
  client/app/dbaas/logs/detail/streams/logs-streams.service.js
  client/app/dbaas/logs/logs-constants.js
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix
