Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore '**/noVNC/**' 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(vps.import): use ip call for additional ips (#1516)
  client/app/vps/import/constants.js
  client/app/vps/import/vps.service.js
Due: eslint --fix

release v7.28.0
  CHANGELOG.md
  package.json
Due: none

fix(logs-data-platform): fix datagrid skeleton
  client/app/dbaas/logs/list/logs-list.controller.js
  client/app/dbaas/logs/list/logs-list.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
Due: none

build(deps): upgrade ovh-api-services to v8.0.0
  package.json
  yarn.lock
Due: none

refactor: remove duplicate ovh-api-service module injection
  client/app/app.js
Due: eslint --fix

fix(dbaas.logs.translations): fix typo in translations
  client/app/dbaas/logs/translations/Messages_fr_FR.json
Due: none

Update client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
Due: none

fix(dbaas.logs.translations): fix typo in translations (#1525)
  client/app/dbaas/logs/translations/Messages_fr_FR.json
Due: none

fix(i18n): add missing translations
  client/app/dbaas/logs/translations/Messages_de_DE.json
Due: none

fix(logs-data-platform): fix datagrid skeleton
  client/app/dbaas/dbaas-metrics/token/metrics-token.html
  client/app/dbaas/logs/detail/index/logs-index.html
  client/app/iplb/vrack/iplb-vrack.html
  client/app/veeam/storage/veeam-storage.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

build(deps): upgrade ng-ovh-http to v4.0.2 (#1526)
  package.json
  yarn.lock
Due: none

refactor: use ng uirouter layout component
  client/app/app.js
  client/components/angular-ui-router/angular-ui-router.module.js
  package.json
  yarn.lock
Due: eslint --fix

refactor: use ng uirouter layout component (#1519)
  client/app/app.js
  client/components/angular-ui-router/angular-ui-router.module.js
  package.json
  yarn.lock
Due: eslint --fix

fix(dbaas.logs): fix datagrid skeleton (#1523)
  client/app/dbaas/dbaas-metrics/token/metrics-token.html
  client/app/dbaas/logs/detail/index/logs-index.html
  client/app/dbaas/logs/list/logs-list.controller.js
  client/app/dbaas/logs/list/logs-list.html
  client/app/iplb/vrack/iplb-vrack.html
  client/app/veeam/storage/veeam-storage.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(iplb): fix button in configuration
  client/app/iplb/configuration/iplb-configuration.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(i18n): add missing translations
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: none

release v7.28.1
  CHANGELOG.md
  package.json
Due: none

fix(iplb.configuration): enable button to apply configuration(#1527)
  client/app/iplb/configuration/iplb-configuration.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(veem): update backup storage quota
  client/app/veeam/storage/translations/Messages_fr_FR.json
  client/app/veeam/storage/update-quota/veeam-storage-update-quota.controller.js
  client/app/veeam/storage/update-quota/veeam-storage-update-quota.html
  client/app/veeam/storage/veeam-storage.controller.js
  client/app/veeam/storage/veeam-storage.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

build(deps): upgrade some dependencies
  package.json
  yarn.lock
Due: none

build(deps): upgrade some dependencies (#1532)
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations
  client/app/dbaas/logs/translations/Messages_it_IT.json
Due: none

fix(veeam.storage): display error message if quota upgrade fails
  client/app/veeam/storage/veeam-storage.controller.js
  client/app/veeam/storage/veeam-storage.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(cloud.logs): allow to create index again
  client/app/dbaas/logs/detail/index/logs-index.service.js
Due: eslint --fix

fix(cloud.logs): allow to create index again (#1534)
  client/app/dbaas/logs/detail/index/logs-index.service.js
Due: eslint --fix

fix(veeam.storage): display error message if quota upgrade fails (#1533)
  client/app/veeam/storage/veeam-storage.controller.js
  client/app/veeam/storage/veeam-storage.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

release v7.28.2
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations [CDS 2]
  client/app/cda/translations/Messages_de_DE.json
  client/app/cda/translations/Messages_fr_CA.json
  client/app/cda/translations/Messages_it_IT.json
  client/app/cda/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations [CDS 4]
  client/app/cda/translations/Messages_pl_PL.json
Due: none

feat: add @ovh-ux/ng-ui-router-line-progress
  client/app/app.js
  client/app/app.less
  client/index.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat: add @ovh-ux/ng-ui-router-line-progress (#1540)
  client/app/app.js
  client/app/app.less
  client/index.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(iplb): quota threshold modal
  client/app/iplb/home/updateQuota/iplb-update-quota.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(database): fix translation
  client/app/common/translations/Messages_fr_FR.json
Due: none
