Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore '**/noVNC/**' 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(cloud): update wrong cuc directive
  client/app/cloud/project/compute/infrastructure/ip/add_OLD_/cloud-project-compute-infrastructure-ip-add.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(i18n): add missing translations
  client/app/dbaas/logs/translations/Messages_it_IT.json
Due: none

refactor(cloud): move writeRightRequired component in cloud section
  client/app/cloud/components/writeRightRequired/writeRightRequired.directive.js
Due: eslint --fix

refactor(cloud): move runabove component in cloud section
  client/app/app.less
  client/app/cloud/components/runabove/filelistener/filelistener-directive.js
  client/app/cloud/components/runabove/modal/modal-controller.js
  client/app/cloud/components/runabove/modal/modal-directive.js
  client/app/cloud/components/runabove/modal/modal.html
  client/app/cloud/components/runabove/modal/modal.less
  client/app/cloud/components/runabove/modal/module-service.js
  client/app/cloud/components/runabove/promise-task-state/promise-task-state.component.js
  client/app/cloud/components/runabove/promise-task-state/promise-task-state.html
  client/app/cloud/components/runabove/promise-task-state/promise-task-state.less
  client/app/cloud/components/runabove/runabove.less
  client/app/cloud/components/runabove/scrollHere/scroll-here-directive.js
  client/app/cloud/components/runabove/show-byte/show-byte.js
  client/app/cloud/components/runabove/units/bits/units-bits-filter.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations
  client/app/dbaas/logs/translations/Messages_es_ES.json
Due: none

fix(flavour): unavailable flavor selected
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/common/translations/Messages_en_ASIA.json
  client/app/common/translations/Messages_en_AU.json
  client/app/common/translations/Messages_en_CA.json
  client/app/common/translations/Messages_en_GB.json
  client/app/common/translations/Messages_en_SG.json
  client/app/common/translations/Messages_fi_FI.json
  client/app/common/translations/Messages_lt_LT.json
  client/components/sidebar/translations/Messages_en_ASIA.json
  client/components/sidebar/translations/Messages_en_AU.json
  client/components/sidebar/translations/Messages_en_CA.json
  client/components/sidebar/translations/Messages_en_GB.json
  client/components/sidebar/translations/Messages_en_SG.json
  client/components/sidebar/translations/Messages_fi_FI.json
  client/components/sidebar/translations/Messages_lt_LT.json
Due: none

fix(i18n): add missing translations
  client/components/sidebar/translations/Messages_de_DE.json
Due: none

release v7.19.0
  CHANGELOG.md
  package.json
Due: none

fix(translation): consistant words accross website, order and manager
  client/app/vps/translations/Messages_fr_FR.json
Due: none

fix(dbass.logs.detail.home.capped): add missing cuc prefix
  client/app/dbaas/logs/detail/home/capped/logs-home-capped.controller.js
  client/app/dbaas/logs/detail/home/capped/logs-home-capped.modal.controller.js
Due: eslint --fix

fix(dbass.logs.detail.home.capped): add missing cuc prefix (#1373)
  client/app/dbaas/logs/detail/home/capped/logs-home-capped.controller.js
  client/app/dbaas/logs/detail/home/capped/logs-home-capped.modal.controller.js
Due: eslint --fix

release v7.19.1
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/regions/translations/Messages_en_ASIA.json
  client/app/cloud/project/compute/regions/translations/Messages_en_AU.json
  client/app/cloud/project/compute/regions/translations/Messages_en_CA.json
  client/app/cloud/project/compute/regions/translations/Messages_en_GB.json
  client/app/cloud/project/compute/regions/translations/Messages_en_SG.json
  client/app/cloud/project/compute/regions/translations/Messages_fi_FI.json
  client/app/cloud/project/compute/regions/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
Due: none

Revert "fix(cloud.project.compute.infrastructure): remove T1-180 flavor restriction (#1334)"
  client/app/cloud/project/compute/infrastructure/flavor.service.js
Due: eslint --fix

fix(deps): upgrade ng-ovh-swimming-poll to v4.0.0
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

fix(deps): upgrade ng-ovh-swimming-poll to v4.0.0 (#1357)
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

fix(i18n): add missing translations
  client/app/cloud/project/compute/regions/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations
  client/app/dbaas/logs/translations/Messages_de_DE.json
Due: none

fix(i18n): add consistency across website, order and manager (#1359)
  client/app/vps/translations/Messages_fr_FR.json
Due: none

fix(cloud-logs): mobile menu
  client/components/navbar/navbar.service.js
Due: eslint --fix

fix(vps): display of option availability on dashboard
  client/app/vps/additional-disk/order/vps-order-additional-disk-order.controller.js
  client/app/vps/backup-storage/order/vps-backup-storage-order.controller.js
  client/app/vps/dashboard/vps-dashboard.controller.js
  client/app/vps/dashboard/vps-dashboard.html
  client/app/vps/snapshot/order/vps-snapshot-order.controller.js
  client/app/vps/translations/Messages_fr_FR.json
  client/app/vps/upgrade/vps-upgrade.controller.js
  client/app/vps/veeam/order/vps-veeam-order.controller.js
  client/app/vps/windows/order/vps-windows-order.controller.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(navbar): add mobile menu for logs data platform (#1379)
  client/components/navbar/navbar.service.js
Due: eslint --fix

fix(navbar): add mobile menu for logs data platform (#1379)
  navbar.service.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/cloud/components/project/billing/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations
  client/app/vps/translations/Messages_it_IT.json
Due: none

feat(tracking-cloud): track manager cloud
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/cloud-project.controller.js
  client/app/cloud/project/cloud-project.html
  client/app/cloud/project/onboarding/onboarding-pci.controller.js
  client/app/cloud/project/onboarding/onboarding-pci.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(deps): upgrade ng-ovh-api-wrappers to v3.0.0 (#1369)
  client/app/app.js
  package.json
  yarn.lock
Due: eslint --fix

feat(cloud.project): add tracking to pci menu and slideshow (#1377)
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/cloud-project.controller.js
  client/app/cloud/project/cloud-project.html
  client/app/cloud/project/onboarding/onboarding-pci.controller.js
  client/app/cloud/project/onboarding/onboarding-pci.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/vps/translations/Messages_es_ES.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/components/project/billing/translations/Messages_pt_PT.json
  client/app/cloud/project/compute/regions/translations/Messages_pt_PT.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: none

fix(deps): upgrade ng-at-internet to v4.0.0
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

fix(pci-regions): replace region service
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
  client/components/cloud/project/billing/archive-storage-list/billing-archive-storage-list.component.html
  client/components/cloud/project/billing/details-popover/instance-details-popover.html
  client/components/cloud/project/billing/details-popover/volume-details-popover.html
  client/components/cloud/project/billing/instance-list/billing-instance-list.component.html
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.html
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.html
  client/components/cloud/project/billing/snapshot-list/billing-snapshot-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(deps): upgrade ng-at-internet to v4.0.0 (#1380)
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix
