Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat: add manager banner
  client/app/app.js
  client/app/home/home.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat: add manager banner (#1571)
  client/app/app.js
  client/app/home/home.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

build: update @ovh-ux/manager-server-sidebar
  package.json
  yarn.lock
Due: none

build: update @ovh-ux/manager-server-sidebar (#1572)
  package.json
  yarn.lock
Due: none

release v7.32.0
  CHANGELOG.md
  package.json
Due: none

feat(vps): extract translations
  client/app/vps/dashboard/rebuild/translations/Messages_fr_FR.json
  client/app/vps/dashboard/terminate/translations/Messages_fr_FR.json
  client/app/vps/translations/Messages_fr_FR.json
Due: none

feat(vps): add vps redirection into legacy section (#1565)
  client/components/sidebar/products/vps-sidebar.service.js
  client/components/sidebar/sidebar.constants.js
Due: eslint --fix

release v99.0.5
  CHANGELOG.md
  package.json
Due: none

fix(vnc): restore vnc client
  client/app/index.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 48]
  client/app/vps/dashboard/rebuild/translations/Messages_de_DE.json
  client/app/vps/dashboard/rebuild/translations/Messages_fr_CA.json
  client/app/vps/dashboard/terminate/translations/Messages_de_DE.json
  client/app/vps/dashboard/terminate/translations/Messages_fr_CA.json
  client/app/vps/translations/Messages_de_DE.json
  client/app/vps/translations/Messages_fr_CA.json
Due: none

fix(vnc): restore vnc client (#1576)
  client/app/index.js
Due: eslint --fix

release v7.32.1
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations [CDS 58]
  client/app/vps/dashboard/rebuild/translations/Messages_es_ES.json
  client/app/vps/dashboard/terminate/translations/Messages_es_ES.json
  client/app/vps/translations/Messages_es_ES.json
Due: none

fix(i18n): add missing translations [CDS 60]
  client/app/vps/modal/shortcut/kvm/novnc/translations/Messages_de_DE.json
  client/app/vps/modal/shortcut/kvm/novnc/translations/Messages_fr_CA.json
Due: none

fix(i18n): add missing translations [CDS 61]
  client/app/vps/modal/shortcut/kvm/novnc/translations/Messages_en_GB.json
  client/app/vps/modal/shortcut/kvm/novnc/translations/Messages_fi_FI.json
  client/app/vps/modal/shortcut/kvm/novnc/translations/Messages_lt_LT.json
  client/app/vps/modal/shortcut/kvm/novnc/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations [CDS 65]
  client/app/vps/modal/shortcut/kvm/novnc/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations [CDS 67]
  client/app/vps/modal/shortcut/kvm/novnc/translations/Messages_es_ES.json
Due: none

feat: enterprise cloud database
  package.json
  yarn.lock
Due: none

feat: enterprise cloud database (#1580)
  package.json
  yarn.lock
Due: none

release v7.33.0
  CHANGELOG.md
  package.json
Due: none

feat: bump @ovh-ux/manager-navbar
  package.json
  yarn.lock
Due: none

feat: bump @ovh-ux/manager-navbar (#1584)
  package.json
  yarn.lock
Due: none

release v7.33.1
  CHANGELOG.md
  package.json
Due: none

fix: server sidebar version update
  package.json
  yarn.lock
Due: none

fix: server sidebar version update (#1583)
  package.json
  yarn.lock
Due: none

release v7.33.2
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations [CDS 68]
  client/app/vps/dashboard/rebuild/translations/Messages_it_IT.json
  client/app/vps/dashboard/terminate/translations/Messages_it_IT.json
  client/app/vps/modal/shortcut/kvm/novnc/translations/Messages_it_IT.json
  client/app/vps/translations/Messages_it_IT.json
Due: none

fix(i18n): add missing translations [CDS 70]
  client/app/vps/dashboard/rebuild/translations/Messages_pt_PT.json
  client/app/vps/dashboard/terminate/translations/Messages_pt_PT.json
  client/app/vps/translations/Messages_pt_PT.json
Due: none

feat(vps): make user go to IP page and filter with the service name
  client/app/config/all.ca.js
  client/app/config/all.eu.js
  client/app/config/all.us.js
Due: eslint --fix

feat(vps): make user go to IP page and filter with the service name (#1590)
  client/app/config/all.ca.js
  client/app/config/all.eu.js
  client/app/config/all.us.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 75]
  client/app/vps/dashboard/rebuild/translations/Messages_pl_PL.json
  client/app/vps/dashboard/terminate/translations/Messages_pl_PL.json
  client/app/vps/translations/Messages_pl_PL.json
Due: none

fix(ldp): JS error while adding adp role
  client/app/dbaas/logs/detail/roles/members/add/add-members.controller.js
  client/app/dbaas/logs/detail/roles/members/add/add-members.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(vps): create rebuild action for US VPS
  client/app/vps/dashboard/rebuild/index.js
  client/app/vps/dashboard/rebuild/vps-rebuild.component.js
  client/app/vps/dashboard/rebuild/vps-rebuild.controller.js
  client/app/vps/dashboard/rebuild/vps-rebuild.html
  client/app/vps/dashboard/rebuild/vps-rebuild.routing.js
  client/app/vps/dashboard/rebuild/vps-rebuild.service.js
  client/app/vps/dashboard/vps-dashboard.component.js
  client/app/vps/dashboard/vps-dashboard.controller.js
  client/app/vps/dashboard/vps-dashboard.html
  client/app/vps/vps-capabilities.service.js
  client/app/vps/vps.module.js
  client/app/vps/vps.routing.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(vps): disable unavailable capabilities
  client/app/vps/cloud-database/vps-cloud-database.constants.js
  client/app/vps/cloud-database/vps-cloud-database.routing.js
  client/app/vps/dashboard/rebuild/vps-rebuild.html
  client/app/vps/dashboard/vps-dashboard.component.js
  client/app/vps/dashboard/vps-dashboard.constants.js
  client/app/vps/dashboard/vps-dashboard.controller.js
  client/app/vps/dashboard/vps-dashboard.html
  client/app/vps/dashboard/vps-dashboard.routing.js
  client/app/vps/header/vps-header.component.js
  client/app/vps/header/vps-header.constants.js
  client/app/vps/header/vps-header.controller.js
  client/app/vps/header/vps-header.html
  client/app/vps/translations/Messages_fr_FR.json
  client/app/vps/vps-capabilities.service.js
  client/app/vps/vps.routing.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(vps): hide dash if no country set
  client/app/vps/dashboard/vps-dashboard.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix: fix translation
  client/app/vps/dashboard/rebuild/vps-rebuild.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(vps): fix missing features
  client/app/vps/header/vps-header.constants.js
  client/app/vps/header/vps-header.controller.js
Due: eslint --fix

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
