Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations
  client/app/common/translations/Messages_en_ASIA.json
  client/app/common/translations/Messages_en_AU.json
  client/app/common/translations/Messages_en_CA.json
  client/app/common/translations/Messages_en_GB.json
  client/app/common/translations/Messages_en_SG.json
  client/app/common/translations/Messages_fi_FI.json
  client/app/common/translations/Messages_lt_LT.json
  client/app/common/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations
  client/app/common/translations/Messages_it_IT.json
Due: none

fix(i18n): add missing translations
  client/app/common/translations/Messages_de_DE.json
Due: none

Refactor/manager core (#1404)
  .eslintrc.json
  client/app/app.js
  client/app/cloud/offer/cloud-offer.controller.js
  client/app/cloud/offer/cloud-offer.html
  client/app/cloud/project/cloud-project.controller.js
  client/app/cloud/project/cloud-project.html
  client/app/cloud/project/compute/infrastructure/cloud-project-compute-infrastructure.service.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.controller.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/quota/cloud-project-compute-quota.controller.js
  client/app/cloud/project/compute/quota/cloud-project-compute-quota.html
  client/app/cloud/project/delete/cloud-project-delete.controller.js
  client/app/config/all.ca.js
  client/app/config/all.eu.js
  client/app/config/all.us.js
  client/app/dbaas/logs/welcome/logs-welcome.controller.js
  client/app/dbaas/logs/welcome/logs-welcome.html
  client/app/home/home.controller.js
  client/app/home/home.html
  client/app/vrack/add/vrack-add.controller.js
  client/app/vrack/add/vrack-add.html
  client/components/at-internet/at-internet.config.js
  client/components/auth/auth.config.js
  client/components/changelog/changelog.controller.js
  client/components/docs/docs.service.js
  client/components/navbar/navbar-notification.service.js
  client/components/navbar/navbar.service.js
  client/components/sidebar/products/project-sidebar.service.js
  client/components/translate/translate.service.js
  package.json
  webpack.config.js
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/common/translations/Messages_cs_CZ.json
  client/app/error/translations/Messages_cs_CZ.json
  client/app/error/translations/Messages_nl_NL.json
  client/app/error/translations/Messages_pt_PT.json
  client/app/vps/additional-disk/order/translations/Messages_cs_CZ.json
  client/app/vps/additional-disk/order/translations/Messages_nl_NL.json
  client/app/vps/backup-storage/order/translations/Messages_cs_CZ.json
  client/app/vps/backup-storage/order/translations/Messages_nl_NL.json
  client/app/vps/backup-storage/order/translations/Messages_pt_PT.json
  client/app/vps/snapshot/order/translations/Messages_cs_CZ.json
  client/app/vps/snapshot/order/translations/Messages_nl_NL.json
  client/app/vps/snapshot/order/translations/Messages_pt_PT.json
  client/app/vps/translations/Messages_cs_CZ.json
  client/app/vps/translations/Messages_nl_NL.json
  client/app/vps/upgrade/translations/Messages_cs_CZ.json
  client/app/vps/upgrade/translations/Messages_nl_NL.json
  client/app/vps/veeam/order/translations/Messages_cs_CZ.json
  client/app/vps/veeam/order/translations/Messages_nl_NL.json
  client/app/vps/windows/order/translations/Messages_cs_CZ.json
  client/app/vps/windows/order/translations/Messages_nl_NL.json
Due: none

fix(i18n): add missing translations
  client/app/common/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/error/translations/Messages_de_DE.json
  client/app/error/translations/Messages_es_ES.json
  client/app/error/translations/Messages_pl_PL.json
  client/app/vps/additional-disk/order/translations/Messages_de_DE.json
  client/app/vps/additional-disk/order/translations/Messages_es_ES.json
  client/app/vps/additional-disk/order/translations/Messages_pt_PT.json
  client/app/vps/backup-storage/order/translations/Messages_es_ES.json
  client/app/vps/snapshot/order/translations/Messages_es_ES.json
  client/app/vps/translations/Messages_es_ES.json
  client/app/vps/translations/Messages_pt_PT.json
  client/app/vps/upgrade/translations/Messages_es_ES.json
  client/app/vps/upgrade/translations/Messages_pt_PT.json
  client/app/vps/veeam/order/translations/Messages_es_ES.json
  client/app/vps/veeam/order/translations/Messages_pt_PT.json
  client/app/vps/windows/order/translations/Messages_es_ES.json
  client/app/vps/windows/order/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations
  client/app/vps/additional-disk/order/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations
  client/app/vps/snapshot/order/translations/Messages_pl_PL.json
  client/app/vps/translations/Messages_pl_PL.json
  client/app/vps/veeam/order/translations/Messages_pl_PL.json
  client/app/vps/windows/order/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/regions/translations/Messages_nl_NL.json
  client/app/common/translations/Messages_nl_NL.json
Due: none

fix(i18n): add missing translations
  client/app/vps/windows/order/translations/Messages_en_ASIA.json
  client/app/vps/windows/order/translations/Messages_en_AU.json
  client/app/vps/windows/order/translations/Messages_en_CA.json
  client/app/vps/windows/order/translations/Messages_en_GB.json
  client/app/vps/windows/order/translations/Messages_en_SG.json
  client/app/vps/windows/order/translations/Messages_en_US.json
Due: none

fix(i18n): add missing translations
  client/app/vps/snapshot/order/translations/Messages_en_ASIA.json
  client/app/vps/snapshot/order/translations/Messages_en_AU.json
  client/app/vps/snapshot/order/translations/Messages_en_CA.json
  client/app/vps/snapshot/order/translations/Messages_en_GB.json
  client/app/vps/snapshot/order/translations/Messages_en_SG.json
  client/app/vps/snapshot/order/translations/Messages_en_US.json
  client/app/vps/translations/Messages_en_ASIA.json
  client/app/vps/translations/Messages_en_AU.json
  client/app/vps/translations/Messages_en_CA.json
  client/app/vps/translations/Messages_en_GB.json
  client/app/vps/translations/Messages_en_SG.json
  client/app/vps/translations/Messages_en_US.json
Due: none

fix(i18n): add missing translations
  client/app/error/translations/Messages_it_IT.json
  client/app/vps/additional-disk/order/translations/Messages_it_IT.json
  client/app/vps/backup-storage/order/translations/Messages_it_IT.json
  client/app/vps/snapshot/order/translations/Messages_it_IT.json
  client/app/vps/translations/Messages_it_IT.json
  client/app/vps/upgrade/translations/Messages_it_IT.json
  client/app/vps/veeam/order/translations/Messages_it_IT.json
  client/app/vps/windows/order/translations/Messages_it_IT.json
Due: none

fix(vps.snapshot.order.legacy): add missing translations
  client/app/vps/snapshot/order/legacy/vps-snapshot-order-legacy.html
  client/app/vps/snapshot/order/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(kubernetes.nodes): retrieve correctly the associated projects
  client/app/kubernetes/nodes/add/kubernetes-nodes-add.controller.js
  client/app/kubernetes/nodes/kubernetes-nodes.controller.js
  client/app/kubernetes/nodes/kubernetes-nodes.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

release v7.25.1
  CHANGELOG.md
  package.json
Due: none

fix(components.navbar): display the right label from language menu
  client/components/navbar/navbar.service.js
  yarn.lock
Due: eslint --fix

fix(components.navbar): display the right label from language menu (#1442)
  client/components/navbar/navbar.service.js
  yarn.lock
Due: eslint --fix

fix(i18n): add missing translations
  client/app/error/translations/Messages_fi_FI.json
  client/app/error/translations/Messages_lt_LT.json
  client/app/vps/additional-disk/order/translations/Messages_fi_FI.json
  client/app/vps/additional-disk/order/translations/Messages_lt_LT.json
  client/app/vps/backup-storage/order/translations/Messages_fi_FI.json
  client/app/vps/backup-storage/order/translations/Messages_lt_LT.json
  client/app/vps/translations/Messages_fi_FI.json
  client/app/vps/translations/Messages_lt_LT.json
  client/app/vps/upgrade/translations/Messages_fi_FI.json
  client/app/vps/upgrade/translations/Messages_lt_LT.json
  client/app/vps/veeam/order/translations/Messages_fi_FI.json
  client/app/vps/veeam/order/translations/Messages_lt_LT.json
  client/app/vps/windows/order/translations/Messages_fi_FI.json
  client/app/vps/windows/order/translations/Messages_lt_LT.json
Due: none

fix(i18n): add missing translations
  client/app/vps/backup-storage/order/translations/Messages_de_DE.json
  client/app/vps/backup-storage/order/translations/Messages_pl_PL.json
  client/app/vps/snapshot/order/translations/Messages_de_DE.json
  client/app/vps/snapshot/order/translations/Messages_es_ES.json
  client/app/vps/snapshot/order/translations/Messages_it_IT.json
  client/app/vps/snapshot/order/translations/Messages_pl_PL.json
  client/app/vps/snapshot/order/translations/Messages_pt_PT.json
  client/app/vps/veeam/order/translations/Messages_de_DE.json
Due: none

feat(sidebar): add link to new manager
  client/components/sidebar/sidebar.constants.js
  client/components/sidebar/sidebar.js
  client/components/sidebar/sidebar.less
  client/components/sidebar/translations/Messages_fr_FR.json
Due: eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_de_DE.json
  client/app/common/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations
  client/app/common/translations/Messages_de_DE.json
  client/app/vps/translations/Messages_de_DE.json
  client/app/vps/windows/order/translations/Messages_de_DE.json
Due: none

fix: update dependencies
  client/app/app.less
  client/app/cloud/less/cloud.popover.less
  client/app/index.js
  client/index.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat: add @ovh-ux/manager-navbar
  client/app/app.js
  client/app/app.less
  client/app/common/less/navbar.less
  client/app/index.js
  client/components/navbar/navbar-builder.service.js
  client/components/navbar/navbar-menu-header/index.js
  client/components/navbar/navbar-menu-header/navbar-menu-header.component.html
  client/components/navbar/navbar-menu-header/navbar-menu-header.component.js
  client/components/navbar/navbar-menu-header/navbar-menu-header.html
  client/components/navbar/navbar-notification.service.js
  client/components/navbar/navbar.config.js
  client/components/navbar/navbar.less
  client/components/navbar/navbar.service.js
  client/components/ovh-angular-otrs/ovh-angular-otrs.js
  client/index.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(sidebar): add translations for redirection to public-cloud
  client/components/sidebar/translations/Messages_cs_CZ.json
  client/components/sidebar/translations/Messages_de_DE.json
  client/components/sidebar/translations/Messages_en_ASIA.json
  client/components/sidebar/translations/Messages_en_AU.json
  client/components/sidebar/translations/Messages_en_CA.json
  client/components/sidebar/translations/Messages_en_GB.json
  client/components/sidebar/translations/Messages_en_SG.json
  client/components/sidebar/translations/Messages_en_US.json
  client/components/sidebar/translations/Messages_es_ES.json
  client/components/sidebar/translations/Messages_es_US.json
  client/components/sidebar/translations/Messages_fi_FI.json
  client/components/sidebar/translations/Messages_fr_CA.json
  client/components/sidebar/translations/Messages_it_IT.json
  client/components/sidebar/translations/Messages_lt_LT.json
  client/components/sidebar/translations/Messages_nl_NL.json
  client/components/sidebar/translations/Messages_pl_PL.json
  client/components/sidebar/translations/Messages_pt_PT.json
Due: none

release v7.25.2
  CHANGELOG.md
  package.json
Due: none

feat: adapt sidebar to responsive
  client/app/app.scss
  client/app/common/cloud-main-controller.controller.js
  client/components/manager-preload/manager-preload.config.js
  client/index.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix: bump @ovh-ux/manager-server-sidebar
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations
  client/app/common/translations/Messages_pl_PL.json
  client/app/vps/additional-disk/order/translations/Messages_pl_PL.json
  client/app/vps/translations/Messages_pl_PL.json
  client/app/vps/upgrade/translations/Messages_de_DE.json
Due: none

release v7.25.3
  CHANGELOG.md
  package.json
Due: none

fix: CA region use now right link
  package.json
  yarn.lock
Due: none

build: update fake version
  package.json
Due: none

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
