Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

release v99.0.1
  CHANGELOG.md
  package.json
Due: none

fix(vps): fix upgrading
  client/app/vps/upgrade/legacy/vps-upgrade-legacy.controller.js
Due: eslint --fix

release v7.25.4
  CHANGELOG.md
  package.json
Due: none

feat: change new manager url display
  client/app/common/cloud-main-controller.controller.js
  client/app/common/common.less
  client/app/common/main.constants.js
  client/app/common/translations/Messages_cs_CZ.json
  client/app/common/translations/Messages_de_DE.json
  client/app/common/translations/Messages_en_ASIA.json
  client/app/common/translations/Messages_en_AU.json
  client/app/common/translations/Messages_en_CA.json
  client/app/common/translations/Messages_en_GB.json
  client/app/common/translations/Messages_en_SG.json
  client/app/common/translations/Messages_en_US.json
  client/app/common/translations/Messages_es_ES.json
  client/app/common/translations/Messages_es_US.json
  client/app/common/translations/Messages_fi_FI.json
  client/app/common/translations/Messages_fr_CA.json
  client/app/common/translations/Messages_fr_FR.json
  client/app/common/translations/Messages_it_IT.json
  client/app/common/translations/Messages_lt_LT.json
  client/app/common/translations/Messages_nl_NL.json
  client/app/common/translations/Messages_pl_PL.json
  client/app/common/translations/Messages_pt_PT.json
  client/components/sidebar/sidebar.js
  client/index.html
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

perf: remove useless huge api call
  client/app/common/cloud-main-controller.controller.js
Due: eslint --fix

build: upgrade dependencies
  package.json
  yarn.lock
Due: none

release v7.25.5
  CHANGELOG.md
  package.json
Due: none

feat: change new manager url display (#1456)
  client/app/common/cloud-main-controller.controller.js
  client/app/common/common.less
  client/app/common/main.constants.js
  client/app/common/translations/Messages_cs_CZ.json
  client/app/common/translations/Messages_de_DE.json
  client/app/common/translations/Messages_en_ASIA.json
  client/app/common/translations/Messages_en_AU.json
  client/app/common/translations/Messages_en_CA.json
  client/app/common/translations/Messages_en_GB.json
  client/app/common/translations/Messages_en_SG.json
  client/app/common/translations/Messages_en_US.json
  client/app/common/translations/Messages_es_ES.json
  client/app/common/translations/Messages_es_US.json
  client/app/common/translations/Messages_fi_FI.json
  client/app/common/translations/Messages_fr_CA.json
  client/app/common/translations/Messages_fr_FR.json
  client/app/common/translations/Messages_it_IT.json
  client/app/common/translations/Messages_lt_LT.json
  client/app/common/translations/Messages_nl_NL.json
  client/app/common/translations/Messages_pl_PL.json
  client/app/common/translations/Messages_pt_PT.json
  client/components/sidebar/sidebar.js
  client/index.html
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

release v99.0.2
  CHANGELOG.md
  package.json
Due: none

fix(cloud.logs): take service.createdAt in account for consumption chart
  client/app/dbaas/logs/detail/home/logs-home.service.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/vps/snapshot/order/translations/Messages_en_AU.json
  client/app/vps/snapshot/order/translations/Messages_en_CA.json
  client/app/vps/snapshot/order/translations/Messages_en_GB.json
  client/app/vps/snapshot/order/translations/Messages_en_SG.json
  client/app/vps/snapshot/order/translations/Messages_en_US.json
  client/app/vps/snapshot/order/translations/Messages_fi_FI.json
  client/app/vps/snapshot/order/translations/Messages_lt_LT.json
Due: none

build: bump dependencies
  package.json
  yarn.lock
Due: none

release v7.25.6
  CHANGELOG.md
  package.json
Due: none

fix(dbaas.logs.detail): take service.createdAt in account (#1460)
  client/app/dbaas/logs/detail/home/logs-home.service.js
Due: eslint --fix

fix(components.translate): remove duplicate service
  client/components/translate/translate.constants.js
  client/components/translate/translate.service.js
Due: eslint --fix

release v7.25.7
  CHANGELOG.md
  package.json
Due: none

fix(deps): bump manager-navbar to v0.5.0 (#1469)
  package.json
  yarn.lock
Due: none

release v7.25.8
  CHANGELOG.md
  package.json
Due: none

fix(deps): upgrade manager-server-sidebar to 0.1.6
  package.json
  yarn.lock
Due: none

fix(deps): upgrade manager-server-sidebar to 0.1.6 (#1475)
  package.json
  yarn.lock
Due: none

release v7.25.9
  CHANGELOG.md
  package.json
Due: none

build(package.json): set the right package name
  package.json
Due: none

build(package.json): set the right package name (#1477)
  package.json
Due: none

feat(cloud.logs): filebeat 6.8 with 17 modules supported
  client/app/dbaas/logs/logs-constants.js
Due: eslint --fix

fix(deps): upgrade ng-ovh-otrs to v7.1.4 (#1481)
  package.json
  yarn.lock
Due: none

feat: redirect pci project creation to public cloud manager
  client/app/config/all.ca.js
  client/app/config/all.eu.js
  client/app/config/all.us.js
  client/components/sidebar/products/project-sidebar.service.js
Due: eslint --fix

feat(sidebar): change redirection for kube order
  client/components/sidebar/products/kubernetes-constants.js
  client/components/sidebar/products/kubernetes-sidebar.service.js
Due: eslint --fix

feat: remove project creation form
  client/app/cloud/project/add/cloud-project-add.config.js
  client/app/cloud/project/add/cloud-project-add.controller.js
  client/app/cloud/project/add/cloud-project-add.html
  client/app/cloud/project/add/cloud-project-add.js
  client/app/cloud/project/add/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(sidebar): change redirection for kube order (#1483)
  client/components/sidebar/products/kubernetes-constants.js
  client/components/sidebar/products/kubernetes-sidebar.service.js
Due: eslint --fix

release v99.0.3
  CHANGELOG.md
  package.json
Due: none

build: bump @ovh-ux/manager-navbar and @ovh-ux/manager-core
  client/index.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

build: bump @ovh-ux/manager-navbar and @ovh-ux/manager-core (#1482)
  client/index.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

release v7.25.10
  CHANGELOG.md
  package.json
Due: none

fix(core): add missing clipboard component translations
  client/app/app.js
  client/app/common/translations/Messages_fr_FR.json
Due: eslint --fix

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
