Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations
  translations/Messages_pl_PL.json
Due: none

refactor(cui): move page and message to cuc
  client/app/app.less
  client/app/ui-components/dropdown-menu/dropdown-menu.component.js
  client/app/ui-components/dropdown-menu/dropdown-menu.html
  client/app/ui-components/dropdown-menu/dropdown-menu.less
  client/app/ui-components/guide-component/guide-component.component.js
  client/app/ui-components/guide-component/guide-component.html
  client/app/ui-components/guide-component/guide-component.less
  client/app/ui-components/icons/button-guide.html
  client/app/ui-components/message/message-container.component.js
  client/app/ui-components/message/message-container.html
  client/app/ui-components/page/_variables.less
  client/app/ui-components/page/page-content.component.js
  client/app/ui-components/page/page-header.component.js
  client/app/ui-components/page/page.less
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(kubernetes): view and update kubernetes upgrade policy (#1309)
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/upgrade-policy/kubernetes-service-upgrade-policy.controller.js
  client/app/kubernetes/service/upgrade-policy/kubernetes-service-upgrade-policy.html
  client/app/kubernetes/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(kubernetes): view and update kubernetes upgrade policy (#1309)
  kubernetes.constants.js
  kubernetes.service.js
  service/kubernetes-service.controller.js
  service/kubernetes-service.html
  service/upgrade-policy/kubernetes-service-upgrade-policy.controller.js
  service/upgrade-policy/kubernetes-service-upgrade-policy.html
  translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_pl_PL.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_pt_PT.json
Due: none

refactor(vrack): move vrack service to cuc
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
  client/app/iplb/home/iplb-home.controller.js
  client/app/iplb/vrack/iplb-vrack.controller.js
  client/app/vrack/add/vrack-add.controller.js
  client/app/vrack/modals/selectVrack.controller.js
  client/app/vrack/modals/selectVrack.html
  client/app/vrack/vrack.controller.js
  client/app/vrack/vrack.service.js
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(flavor): t1 180 flavor
  client/app/cloud/project/compute/infrastructure/flavor.service.js
Due: eslint --fix

feat(kube): add version for reset cluster
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.controller.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.html
  client/app/kubernetes/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(kube): add version for reset cluster
  kubernetes.service.js
  service/reset/kubernetes-service-reset.controller.js
  service/reset/kubernetes-service-reset.html
  translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

build: set ovh-api-sevices branch
  package.json
  yarn.lock
Due: none

fix(deps): upgrade ng-ovh-apiv7 to v2.0.0
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

fix(deps): upgrade ng-ovh-apiv7 to v2.0.0 (#1329)
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

refactor: move directives to cuc
  client/app/cloud/project/billing/rights/cloud-project-billing-rights.html
  client/app/cloud/project/billing/vouchers/addCredit/cloud-project-billing-vouchers-add-credit-agora.html
  client/app/cloud/project/billing/vouchers/addCredit/cloud-project-billing-vouchers-add-credit.html
  client/app/cloud/project/compute/infrastructure/ip/add_OLD_/cloud-project-compute-infrastructure-ip-add.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/monitoring/cloud-project-compute-infrastructure-virtualMachine-monitoring.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/vnc/cloud-project-compute-infrastructure-virtual-machine-vnc.html
  client/app/cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.html
  client/app/cloud/project/compute/snapshot/add/cloud-project-compute-snapshot-add.html
  client/app/cloud/project/compute/ssh/cloud-project-compute-ssh.html
  client/app/cloud/project/compute/volume/snapshot/cloud-project-compute-volume-snapshot-add.html
  client/app/cloud/project/openstack/users/add/openstack-users-add.html
  client/app/cloud/project/openstack/users/token/openstack-users-token.html
  client/app/cloud/project/rename/cloud-project-rename.html
  client/app/dbaas/dbaas-metrics/token/edit/metrics-token-edit.html
  client/app/dbaas/logs/detail/account/password/logs-account-password.html
  client/app/dbaas/logs/detail/account/setup/logs-account-setup.html
  client/app/dbaas/logs/detail/aliases/add/logs-aliases-add.html
  client/app/dbaas/logs/detail/dashboards/crud/logs-dashboards-crud.html
  client/app/dbaas/logs/detail/home/account/logs-home-account.html
  client/app/dbaas/logs/detail/index/add/logs-index-add.html
  client/app/dbaas/logs/detail/inputs/add/edit/logs-inputs-add-edit.html
  client/app/dbaas/logs/detail/inputs/add/networks/logs-inputs-add-networks.html
  client/app/dbaas/logs/detail/roles/add/logs-role-add.html
  client/app/dbaas/logs/detail/roles/members/add/add-members.html
  client/app/dbaas/logs/detail/streams/add/logs-streams-add.html
  client/app/dbaas/logs/detail/streams/alerts/add/alerts-add.html
  client/app/dbaas/logs/detail/tokens/add/logs-token-add.html
  client/app/dbaas/ts/project/details/key/addOrEdit/dbaasts-project-details-key-add-or-edit.html
  client/app/dbaas/ts/sidebar/sidebar-edit/dbaasts-sidebar-edit.html
  client/app/deskaas/deskaas-change-password/deskaas-change-password.html
  client/app/iplb/home/updateQuota/iplb-update-quota.html
  client/app/vps/modal/shortcut/kvm/vps-kvm.html
  client/components/autofocus/autofocus.js
  client/components/autoselect/autoselect.js
  client/components/clickEnterOnKeypress/clickEnterOnKeypress.js
  client/components/smoothScrollHere/smooth-scroll-here.directive.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor: move directives to cuc (#1332)
  client/app/cloud/project/billing/rights/cloud-project-billing-rights.html
  client/app/cloud/project/billing/vouchers/addCredit/cloud-project-billing-vouchers-add-credit-agora.html
  client/app/cloud/project/billing/vouchers/addCredit/cloud-project-billing-vouchers-add-credit.html
  client/app/cloud/project/compute/infrastructure/ip/add_OLD_/cloud-project-compute-infrastructure-ip-add.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/monitoring/cloud-project-compute-infrastructure-virtualMachine-monitoring.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/vnc/cloud-project-compute-infrastructure-virtual-machine-vnc.html
  client/app/cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.html
  client/app/cloud/project/compute/snapshot/add/cloud-project-compute-snapshot-add.html
  client/app/cloud/project/compute/ssh/cloud-project-compute-ssh.html
  client/app/cloud/project/compute/volume/snapshot/cloud-project-compute-volume-snapshot-add.html
  client/app/cloud/project/openstack/users/add/openstack-users-add.html
  client/app/cloud/project/openstack/users/token/openstack-users-token.html
  client/app/cloud/project/rename/cloud-project-rename.html
  client/app/dbaas/dbaas-metrics/token/edit/metrics-token-edit.html
  client/app/dbaas/logs/detail/account/password/logs-account-password.html
  client/app/dbaas/logs/detail/account/setup/logs-account-setup.html
  client/app/dbaas/logs/detail/aliases/add/logs-aliases-add.html
  client/app/dbaas/logs/detail/dashboards/crud/logs-dashboards-crud.html
  client/app/dbaas/logs/detail/home/account/logs-home-account.html
  client/app/dbaas/logs/detail/index/add/logs-index-add.html
  client/app/dbaas/logs/detail/inputs/add/edit/logs-inputs-add-edit.html
  client/app/dbaas/logs/detail/inputs/add/networks/logs-inputs-add-networks.html
  client/app/dbaas/logs/detail/roles/add/logs-role-add.html
  client/app/dbaas/logs/detail/roles/members/add/add-members.html
  client/app/dbaas/logs/detail/streams/add/logs-streams-add.html
  client/app/dbaas/logs/detail/streams/alerts/add/alerts-add.html
  client/app/dbaas/logs/detail/tokens/add/logs-token-add.html
  client/app/dbaas/ts/project/details/key/addOrEdit/dbaasts-project-details-key-add-or-edit.html
  client/app/dbaas/ts/sidebar/sidebar-edit/dbaasts-sidebar-edit.html
  client/app/deskaas/deskaas-change-password/deskaas-change-password.html
  client/app/iplb/home/updateQuota/iplb-update-quota.html
  client/app/vps/modal/shortcut/kvm/vps-kvm.html
  client/components/autofocus/autofocus.js
  client/components/autoselect/autoselect.js
  client/components/clickEnterOnKeypress/clickEnterOnKeypress.js
  client/components/smoothScrollHere/smooth-scroll-here.directive.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

build: update ovh-api-services version
  package.json
  yarn.lock
Due: none

feat(cloud.project.billing): get if project uses agora
  client/app/cloud/project/billing/consumption/cloud-project-billing-consumption.js
Due: eslint --fix

refactor(cloud.project.billing): switch function to a class
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
Due: eslint --fix

style(cloud.project.billing): sort parameters
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
Due: eslint --fix

style(components.billing.instance-list): sort parameters
  client/components/cloud/project/billing/instance-list/billing-instance-list.component.controller.js
Due: eslint --fix

style(cloud.project.billing): rename controller
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.html
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(components.billing.instance-list): switch to a class
  client/components/cloud/project/billing/instance-list/billing-instance-list.component.controller.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/privateNetwork/translations/Messages_es_ES.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_es_ES.json
  client/app/cloud/project/compute/loadbalancer/translations/Messages_es_ES.json
  client/app/cloud/project/compute/regions/translations/Messages_es_ES.json
  client/app/cloud/project/compute/translations/Messages_es_ES.json
  client/app/cloud/project/onboarding/translations/Messages_es_ES.json
  client/app/cloud/project/storage/storage-add/translations/Messages_es_ES.json
  client/app/cloud/project/storage/storage-details/translations/Messages_es_ES.json
  client/app/cloud/project/storage/translations/Messages_es_ES.json
  client/app/cloud/project/translations/Messages_es_ES.json
  client/app/dbaas/dbaas-metrics/dashboard/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/home/translations/Messages_es_ES.json
  client/app/iplb/configuration/translations/Messages_es_ES.json
  client/app/iplb/frontends/translations/Messages_es_ES.json
  client/app/iplb/serverFarm/translations/Messages_es_ES.json
  client/app/nasha/add/translations/Messages_es_ES.json
  client/app/veeam/dashboard/translations/Messages_es_ES.json
  client/app/veeam/translations/Messages_es_ES.json
  client/app/vps/translations/Messages_es_ES.json
  client/app/vrack/modals/translations/Messages_es_ES.json
  client/components/cloud/project/billing/translations/Messages_es_ES.json
  client/components/sidebar/translations/Messages_es_ES.json
Due: none

refactor(cloud.project.billing.estimate): switch controller to a class
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

style(cloud.project.billing.estimate): prefix attributes with data-
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(cloud.project.billing.estimate): hide icon for screen readers
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

style(cloud.project.billing.estimate): replace ng-show with ng-if
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

style(cloud.project.billing.estimate): rename controller to $ctrl
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

style(cloud.project.billing.estimate): use ng-bind
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(cloud.project.billing): adapt estimate consumption display
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.component.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.js
Due: eslint --fix

refactor(cloud.project.billing): extract hourly forecast
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(cloud.project.billing): extract monthly forecast
  client/app/cloud/project/billing/consumption/cloud-project-billing-consumption.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.component.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

style(cloud.project.billing): rename data property to forecast
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

style(cloud.project.billing.consumption): rename functions
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(cloud.project.billing): split current consumption from forecast
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
Due: eslint --fix

refactor(cloud.project.billing): extract total forecast
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

style(cloud.project.billing): rename services
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/history/details/cloud-project-billing-history-details.controller.js
  client/app/cloud/project/delete/cloud-project-delete.controller.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/kubernetes/translations/Messages_pl_PL.json
Due: none

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
