Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(navbar.user): add tracking on user menu
  client/components/navbar/navbar.service.js
Due: eslint --fix

feat(navbar.user): add tracking on user menu
  navbar.service.js
Due: eslint --fix

fix(deps): update manager-webpack-config to v2.4.7
  package.json
  yarn.lock
Due: none

feat(openstack): openrc v3 file download
  client/app/cloud/project/openstack/users/openrc/openstack-users-openrc.constant.js
  client/app/cloud/project/openstack/users/openrc/openstack-users-openrc.controller.js
  client/app/cloud/project/openstack/users/openrc/openstack-users-openrc.html
  client/app/cloud/project/openstack/users/openrc/translations/Messages_fr_FR.xml
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(kube): reset cluster
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/kubernetes-service.routes.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.controller.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.html
  client/app/kubernetes/service/reset/kubernetes-service-reset.modal.controller.js
  client/app/kubernetes/translations/Messages_en_GB.xml
  client/app/kubernetes/translations/Messages_fr_FR.xml
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(deps): upgrade manager-webpack-config to v3.0.0
  package.json
  yarn.lock
Due: none

feat(kube): reset cluster improvments
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/reset/kubernetes-service-reset.controller.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.modal.controller.js
  client/app/kubernetes/translations/Messages_en_GB.xml
  client/app/kubernetes/translations/Messages_fr_FR.xml
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(kube): remove GPU instances
  client/app/kubernetes/kubernetes.constants.js
Due: eslint --fix

fix(cloud.project.billing): error no data
  client/app/cloud/project/billing/cloud-project-billing.service.js
Due: eslint --fix

release v7.9.1
  CHANGELOG.md
  package.json
Due: none

feat(kube): reset cluster confirmation
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.controller.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.html
  client/app/kubernetes/translations/Messages_fr_FR.xml
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(kube): remove GPU instances
  kubernetes.constants.js
Due: eslint --fix

fix(cloud.project.billing): consumption error
  client/app/cloud/project/billing/cloud-project-billing.service.js
Due: eslint --fix

release v7.9.2
  CHANGELOG.md
  package.json
Due: none

Update client/app/cloud/project/openstack/users/openrc/openstack-users-openrc.html
  client/app/cloud/project/openstack/users/openrc/openstack-users-openrc.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(kube): reset cluster
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/kubernetes-service.routes.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.controller.js
  client/app/kubernetes/service/reset/kubernetes-service-reset.html
  client/app/kubernetes/service/reset/kubernetes-service-reset.modal.controller.js
  client/app/kubernetes/translations/Messages_en_GB.xml
  client/app/kubernetes/translations/Messages_fr_FR.xml
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(kube): reset cluster
  kubernetes.constants.js
  kubernetes.service.js
  service/kubernetes-service.controller.js
  service/kubernetes-service.html
  service/kubernetes-service.routes.js
  service/reset/kubernetes-service-reset.controller.js
  service/reset/kubernetes-service-reset.html
  service/reset/kubernetes-service-reset.modal.controller.js
  translations/Messages_en_GB.xml
  translations/Messages_fr_FR.xml
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(i18n): submit translations
  client/app/kubernetes/translations/Messages_fr_FR.xml
Due: none

fix(i18n): submit translations
  translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  translations/Messages_cs_CZ.xml
  translations/Messages_de_DE.xml
  translations/Messages_en_ASIA.xml
  translations/Messages_en_AU.xml
  translations/Messages_en_CA.xml
  translations/Messages_en_GB.xml
  translations/Messages_en_SG.xml
  translations/Messages_en_US.xml
  translations/Messages_es_ES.xml
  translations/Messages_es_US.xml
  translations/Messages_fi_FI.xml
  translations/Messages_fr_CA.xml
  translations/Messages_it_IT.xml
  translations/Messages_lt_LT.xml
  translations/Messages_nl_NL.xml
  translations/Messages_pl_PL.xml
  translations/Messages_pt_PT.xml
Due: none

fix(add-server): inconsistent select-picker
  package.json
  yarn.lock
Due: none

fix(i18n): retrieve translations
  client/app/cloud/project/billing/consumption/estimate/alert/add/translations/Messages_fr_CA.xml
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_en_ASIA.xml
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_en_AU.xml
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_en_CA.xml
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_en_GB.xml
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_en_SG.xml
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_en_US.xml
  client/app/cloud/project/compute/quota/translations/Messages_es_ES.xml
  client/app/cloud/project/compute/quota/translations/Messages_pl_PL.xml
  client/app/kubernetes/translations/Messages_es_ES.xml
  client/app/kubernetes/translations/Messages_pl_PL.xml
Due: none

fix(): fix after first test
  client/app/iplb/header/iplb-dashboard-header.controller.js
  client/app/iplb/header/iplb-dashboard-header.html
  client/app/iplb/home/iplb-home.controller.js
  client/app/iplb/home/iplb-home.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(cloud.project.vm): random click image choice
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.controller.js
  yarn.lock
Due: eslint --fix

release v7.9.3
  CHANGELOG.md
  package.json
Due: none

fix(i18n): retrieve translations
  translations/Messages_es_ES.xml
  translations/Messages_pl_PL.xml
Due: none

fix(i18n): retrieve translations
  client/app/cloud/project/storage/storage-add/translations/Messages_fr_CA.xml
  client/app/common/translations/Messages_fr_CA.xml
  client/app/iplb/translations/Messages_fr_CA.xml
Due: none

fix(iplb): wrong guides link
  client/app/iplb/header/iplb-dashboard-header.controller.js
Due: eslint --fix

fix(deps): upgrade ovh-api-services to v3.24.0
  package.json
  yarn.lock
Due: none

release v7.10.0
  CHANGELOG.md
  package.json
Due: none

fix(veeam.order): ask for retranslating text with issue
  client/app/vps/backup-storage/order/vps-order-backup-storage.html
  client/app/vps/translations/Messages_fr_FR.xml
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(deps): add missing ovh-angular-apiv7
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

release v7.10.1
  CHANGELOG.md
  package.json
Due: none

fix(volume): estimation price display in volumes section
  client/app/cloud/project/compute/volume/cloud-project-compute-volume.controller.js
  client/app/cloud/project/compute/volume/cloud-project-compute-volume.html
  client/app/cloud/project/compute/volume/translations/Messages_fr_FR.xml
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
