Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore '**/noVNC/**' 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

release v7.12.4
  CHANGELOG.md
  package.json
Due: none

feat(pci-menu): PCI menu entries revamp
  client/app/app.less
  client/app/cloud/project/billing/cloud-project-billing.html
  client/app/cloud/project/billing/vouchers/cloud-project-billing-vouchers.html
  client/app/cloud/project/cloud-project.controller.js
  client/app/cloud/project/cloud-project.html
  client/app/cloud/project/cloud-project.js
  client/app/cloud/project/cloud-project.less
  client/app/cloud/project/compute/cloud-project-compute.html
  client/app/cloud/project/compute/translations/Messages_fr_FR.json
  client/app/cloud/project/onboarding/onboarding-pci.html
  client/app/cloud/project/onboarding/onboarding-pci.less
  client/app/cloud/project/onboarding/onboarding-pic.controller.js
  client/app/cloud/project/onboarding/translations/Messages_fr_FR.json
  client/app/cloud/project/translations/Messages_fr_FR.json
  client/assets/images/onboarding/compute-storage_uk.jpg
  client/assets/images/onboarding/gestion-tech-admin_uk.jpg
  client/assets/images/onboarding/openstack.jpg
  client/assets/images/onboarding/pay-as-you-go.jpg
  client/assets/images/onboarding/revamp-PCI.jpg
  client/components/navbar/navbar.service.js
  client/components/sidebar/products/project-sidebar.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(ie11): bump @ovh-ux/translate-async-loader
  yarn.lock
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/translations/Messages_pl_PL.json
  client/app/cloud/project/storage/storage-add/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/privateNetwork/translations/Messages_pl_PL.json
  client/app/cloud/project/compute/loadbalancer/translations/Messages_pl_PL.json
  client/app/cloud/project/storage/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations
  client/app/common/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations
  client/app/iplb/configuration/translations/Messages_pl_PL.json
  client/app/iplb/frontends/translations/Messages_pl_PL.json
  client/app/iplb/serverFarm/translations/Messages_pl_PL.json
  client/app/kubernetes/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations
  translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations
  client/app/nasha/add/translations/Messages_pl_PL.json
  client/app/veeam/dashboard/translations/Messages_pl_PL.json
  client/app/veeam/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations
  client/app/vps/translations/Messages_pl_PL.json
  client/components/sidebar/translations/Messages_pl_PL.json
Due: none

fix(server-vm-add): option to hide unavailable flavors
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(cloud.virtualmachine.add): add option to hide unavailable flavors (#1256)
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/privateNetwork/translations/Messages_de_DE.json
  client/app/cloud/project/compute/loadbalancer/translations/Messages_de_DE.json
  client/app/cloud/project/compute/translations/Messages_de_DE.json
  client/app/cloud/project/storage/storage-add/translations/Messages_de_DE.json
  client/app/cloud/project/storage/storage-details/translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/storage/translations/Messages_de_DE.json
  client/app/common/translations/Messages_de_DE.json
  client/app/iplb/configuration/translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations
  translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations
  client/app/iplb/frontends/translations/Messages_de_DE.json
  client/app/iplb/serverFarm/translations/Messages_de_DE.json
  client/app/kubernetes/translations/Messages_de_DE.json
  client/app/nasha/add/translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations
  client/app/veeam/translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations
  client/app/vps/translations/Messages_de_DE.json
  client/app/vrack/modals/translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations
  client/components/sidebar/translations/Messages_de_DE.json
Due: none

feat(pci-menu): PCI menu entries revamp
  client/app/cloud/project/cloud-project.controller.js
  client/app/cloud/project/cloud-project.html
  client/app/cloud/project/onboarding/onboarding-pci.controller.js
  client/app/cloud/project/onboarding/onboarding-pci.html
  client/app/cloud/project/onboarding/onboarding-pci.less
  client/app/cloud/project/onboarding/translations/Messages_fr_FR.json
  client/app/cloud/project/translations/Messages_fr_FR.json
  client/assets/images/onboarding/compute-storage_uk.jpg
  client/assets/images/onboarding/gestion-tech-admin_uk.jpg
  client/assets/images/onboarding/openstack.jpg
  client/assets/images/onboarding/pay-as-you-go.jpg
  client/assets/images/onboarding/revamp-PCI.jpg
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/privateNetwork/translations/Messages_en_GB.json
  client/app/cloud/project/compute/loadbalancer/translations/Messages_en_GB.json
  client/app/cloud/project/compute/translations/Messages_en_GB.json
  client/app/common/translations/Messages_en_GB.json
Due: none

fix(cloud.project.storage): ui revamp
  client/app/cloud/project/storage/storage-add/storage/step_container_type/add-storage-step-container-type-controller.js
  client/app/cloud/project/storage/storage-add/storage/step_container_type/add-storage-step-container-type.html
  client/app/cloud/project/storage/storage-add/storage/step_region/add-storage-step-region-controller.js
  client/app/cloud/project/storage/storage-add/storage/step_region/add-storage-step-region.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

release v7.12.5
  CHANGELOG.md
  package.json
Due: none

fix(cloud.logs): missing and update translations
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: none

fix(cloud.logs): remove deprecated parameters from flowgger
  client/app/dbaas/logs/detail/inputs/add/configure/logs-inputs-add-configure.controller.js
  client/app/dbaas/logs/detail/inputs/add/configure/logs-inputs-add-configure.html
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(cloud.logs): optional indexation
  client/app/dbaas/logs/detail/streams/add/logs-streams-add.html
  client/app/dbaas/logs/detail/streams/alerts/home/alerts-home.html
  client/app/dbaas/logs/detail/streams/home/logs-streams-home.html
  client/app/dbaas/logs/detail/streams/logs-streams.service.js
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(cloud.logs): explicit indexation status
  client/app/dbaas/logs/detail/aliases/logs-aliases.service.js
  client/app/dbaas/logs/detail/streams/home/logs-streams-home.html
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(pci-tracking): track steps of create server
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(pci-tracking): new pci project page
  client/app/cloud/project/add/cloud-project-add.controller.js
  client/app/cloud/project/add/cloud-project-add.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(*): support NVIDIA GPU OS
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/compute/infrastructure/image.service.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
  client/assets/images/cloud/apps/nvidia_ngc.png
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(cloud.logs): marie jones review
  client/app/dbaas/logs/detail/streams/add/logs-streams-add.html
  client/app/dbaas/logs/detail/streams/alerts/home/alerts-home.html
  client/app/dbaas/logs/detail/streams/home/logs-streams-home.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(pci-tracking): new pci project page
  client/app/cloud/project/add/cloud-project-add.controller.js
  client/app/cloud/project/add/cloud-project-add.html
  client/app/cloud/project/add/cloud-project-add.less
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(cloud.project): add tracking to server creation (#1261)
  client/app/cloud/project/add/cloud-project-add.controller.js
  client/app/cloud/project/add/cloud-project-add.html
  client/app/cloud/project/add/cloud-project-add.less
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/privateNetwork/translations/Messages_it_IT.json
  client/app/cloud/project/compute/infrastructure/privateNetwork/translations/Messages_nl_NL.json
  client/app/cloud/project/compute/infrastructure/privateNetwork/translations/Messages_pt_PT.json
  client/app/cloud/project/compute/loadbalancer/translations/Messages_it_IT.json
  client/app/cloud/project/compute/loadbalancer/translations/Messages_pt_PT.json
  client/app/cloud/project/compute/translations/Messages_it_IT.json
  client/app/cloud/project/compute/translations/Messages_nl_NL.json
  client/app/cloud/project/compute/translations/Messages_pt_PT.json
  client/app/cloud/project/storage/storage-add/translations/Messages_it_IT.json
  client/app/cloud/project/storage/storage-add/translations/Messages_nl_NL.json
  client/app/cloud/project/storage/storage-add/translations/Messages_pt_PT.json
  client/app/cloud/project/storage/storage-details/translations/Messages_it_IT.json
  client/app/cloud/project/storage/storage-details/translations/Messages_pt_PT.json
  client/app/cloud/project/storage/translations/Messages_it_IT.json
  client/app/cloud/project/storage/translations/Messages_pt_PT.json
  client/app/common/translations/Messages_it_IT.json
  client/app/common/translations/Messages_nl_NL.json
  client/app/common/translations/Messages_pt_PT.json
  client/app/dbaas/dbaas-metrics/dashboard/translations/Messages_pl_PL.json
  client/app/iplb/configuration/translations/Messages_en_GB.json
  client/app/iplb/configuration/translations/Messages_it_IT.json
  client/app/iplb/configuration/translations/Messages_nl_NL.json
  client/app/iplb/configuration/translations/Messages_pt_PT.json
  client/app/iplb/frontends/translations/Messages_it_IT.json
  client/app/iplb/frontends/translations/Messages_nl_NL.json
  client/app/iplb/frontends/translations/Messages_pt_PT.json
  client/app/iplb/serverFarm/translations/Messages_it_IT.json
  client/app/iplb/serverFarm/translations/Messages_nl_NL.json
  client/app/iplb/serverFarm/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations
  client/app/kubernetes/translations/Messages_en_GB.json
  client/app/kubernetes/translations/Messages_it_IT.json
  client/app/kubernetes/translations/Messages_nl_NL.json
  client/app/kubernetes/translations/Messages_pt_PT.json
  client/app/nasha/add/translations/Messages_en_GB.json
  client/app/nasha/add/translations/Messages_it_IT.json
  client/app/nasha/add/translations/Messages_nl_NL.json
  client/app/nasha/add/translations/Messages_pt_PT.json
  client/app/veeam/dashboard/translations/Messages_it_IT.json
  client/app/veeam/dashboard/translations/Messages_pt_PT.json
  client/app/veeam/translations/Messages_it_IT.json
  client/app/veeam/translations/Messages_pt_PT.json
  client/app/vps/translations/Messages_en_GB.json
  client/app/vps/translations/Messages_it_IT.json
  client/app/vps/translations/Messages_nl_NL.json
  client/app/vps/translations/Messages_pt_PT.json
  client/app/vrack/modals/translations/Messages_en_GB.json
  client/app/vrack/modals/translations/Messages_it_IT.json
  client/app/vrack/modals/translations/Messages_nl_NL.json
  client/app/vrack/modals/translations/Messages_pt_PT.json
  client/components/sidebar/translations/Messages_en_GB.json
  client/components/sidebar/translations/Messages_it_IT.json
  client/components/sidebar/translations/Messages_nl_NL.json
  client/components/sidebar/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations
  translations/Messages_en_GB.json
  translations/Messages_it_IT.json
  translations/Messages_nl_NL.json
  translations/Messages_pt_PT.json
Due: none

style(project.billing.vouchers): remove useless parameters and sort
  client/app/cloud/project/billing/vouchers/legacy/cloud-project-billing-vouchers-legacy.controller.js
Due: eslint --fix
