Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore '**/noVNC/**' 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

feat(public-cloud): bandwidth usage
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.controller.js
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.html
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.js
  client/components/cloud/project/billing/translations/Messages_fr_FR.json
  client/components/cloud/region/region.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix: graphic stats URL
  client/app/cloud/translations/Messages_fr_FR.json
  client/app/iplb/iplb.constants.js
Due: eslint --fix

fix: do not expand first contract by default
  client/app/vps/upgrade/vps-upgrade.controller.js
Due: eslint --fix

refactor(cui-tabs): move cui-tabs to cuc
  client/app/app.js
  client/app/app.less
  client/app/common/cloud-navigation.service.js
  client/app/index.js
  client/app/ui-components/tabs/tabs.component.js
  client/app/ui-components/tabs/tabs.less
  client/app/ui-components/tabs/tabs.service.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint 'client/**/*.less' --fix

fix(deps): remove ovh-angular-a-disabled from dependency
  client/app/app.js
  client/app/cloud/project/add/cloud-project-add.html
  client/app/index.js
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(deps): replace ovh-angular-stop-event dependency
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

refactor(deps): replace ovh-angular-doc-url dependency
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

refactor(components): move products service to cuc
  client/app/common/cloud-main-controller.controller.js
  client/app/vps/vps-header.controller.js
  client/components/manager-preload/manager-preload.config.js
  client/components/navbar/navbar.service.js
  client/components/products/products.service.js
  client/components/sidebar/sidebar.js
  package.json
  yarn.lock
Due: eslint --fix

refactor(components): move products service to cuc
  navbar.service.js
Due: eslint --fix

refactor(deps): replace ovh-angular-doc-url dependency (#1300)
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

refactor(deps): replace ovh-angular-stop-event dependency (#1301)
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

feat(home): add traffic apac guide
  client/app/common/translations/Messages_en_ASIA.json
  client/app/common/translations/Messages_en_AU.json
  client/app/common/translations/Messages_en_CA.json
  client/app/common/translations/Messages_en_GB.json
  client/app/common/translations/Messages_en_SG.json
  client/app/common/translations/Messages_en_US.json
  client/app/common/translations/Messages_fr_FR.json
  client/components/docs/docs.constants.js
Due: eslint --fix

feat(cloud): show bandwidth usage along with price group by region (#1291)
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.controller.js
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.html
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.js
  client/components/cloud/project/billing/translations/Messages_fr_FR.json
  client/components/cloud/region/region.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(kubernetes): add name field to the node add pop-up (#1290)
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/nodes/add/kubernetes-nodes-add.controller.js
  client/app/kubernetes/nodes/add/kubernetes-nodes-add.html
  client/app/kubernetes/nodes/kubernetes-nodes.controller.js
  client/app/kubernetes/nodes/kubernetes-nodes.html
  client/app/kubernetes/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(kubernetes): add name field to the node add pop-up (#1290)
  kubernetes.service.js
  nodes/add/kubernetes-nodes-add.controller.js
  nodes/add/kubernetes-nodes-add.html
  nodes/kubernetes-nodes.controller.js
  nodes/kubernetes-nodes.html
  translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix: code review feedbacks
  client/app/error/error.controller.js
  client/app/vps/backup-storage/order/vps-backup-storage-order.controller.js
  client/app/vps/veeam/order/vps-veeam-order.controller.js
Due: eslint --fix

release v7.15.6
  CHANGELOG.md
  package.json
Due: none

feat(kubernetes): kubernetes upgrade policy
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/upgrade-policy/kubernetes-service-upgrade-policy.controller.js
  client/app/kubernetes/service/upgrade-policy/kubernetes-service-upgrade-policy.html
  client/app/kubernetes/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(cui): move page and message to cuc
  client/app/app.less
  client/app/ui-components/dropdown-menu/dropdown-menu.component.js
  client/app/ui-components/dropdown-menu/dropdown-menu.html
  client/app/ui-components/dropdown-menu/dropdown-menu.less
  client/app/ui-components/guide-component/guide-component.component.js
  client/app/ui-components/guide-component/guide-component.html
  client/app/ui-components/guide-component/guide-component.less
  client/app/ui-components/icons/button-guide.html
  client/app/ui-components/message/message-container.component.js
  client/app/ui-components/message/message-container.html
  client/app/ui-components/page/_variables.less
  client/app/ui-components/page/page-content.component.js
  client/app/ui-components/page/page-header.component.js
  client/app/ui-components/page/page.less
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix: add en translations
  client/app/cloud/project/compute/regions/translations/Messages_en_ASIA.json
  client/app/cloud/project/compute/regions/translations/Messages_en_AU.json
  client/app/cloud/project/compute/regions/translations/Messages_en_CA.json
  client/app/cloud/project/compute/regions/translations/Messages_en_GB.json
  client/app/cloud/project/compute/regions/translations/Messages_en_SG.json
  client/app/cloud/project/compute/regions/translations/Messages_en_US.json
Due: none

fix(i18n): add missing translations
  translations/Messages_de_DE.json
  translations/Messages_it_IT.json
  translations/Messages_pt_PT.json
Due: none

release v7.15.7
  CHANGELOG.md
  package.json
Due: none

feat(kubernetes): kubernetes upgrade policy
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/upgrade-policy/kubernetes-service-upgrade-policy.controller.js
  client/app/kubernetes/service/upgrade-policy/kubernetes-service-upgrade-policy.html
  client/app/kubernetes/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/cloud/project/onboarding/translations/Messages_en_ASIA.json
  client/app/cloud/project/onboarding/translations/Messages_en_AU.json
  client/app/cloud/project/onboarding/translations/Messages_en_GB.json
  client/app/cloud/project/onboarding/translations/Messages_en_SG.json
  client/app/cloud/project/onboarding/translations/Messages_fi_FI.json
  client/app/cloud/project/onboarding/translations/Messages_lt_LT.json
  client/app/cloud/project/onboarding/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations
  client/app/home/translations/Messages_de_DE.json
  client/app/home/translations/Messages_en_ASIA.json
  client/app/home/translations/Messages_en_AU.json
  client/app/home/translations/Messages_en_GB.json
  client/app/home/translations/Messages_en_SG.json
  client/app/home/translations/Messages_fi_FI.json
  client/app/home/translations/Messages_it_IT.json
  client/app/home/translations/Messages_lt_LT.json
  client/app/home/translations/Messages_nl_NL.json
Due: none

fix(i18n): add missing translations
  client/app/home/translations/Messages_pl_PL.json
  client/app/home/translations/Messages_pt_PT.json
Due: none

refactor(common): move common service to cuc
  navbar-notification.service.js
Due: eslint --fix

refactor(common): move common service to cuc
  nodes/kubernetes-nodes.controller.js
  service/kubernetes-service.controller.js
  service/reset/kubernetes-service-reset.controller.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/home/translations/Messages_en_ASIA.json
  client/app/home/translations/Messages_en_AU.json
  client/app/home/translations/Messages_en_GB.json
  client/app/home/translations/Messages_en_SG.json
  client/app/home/translations/Messages_fi_FI.json
  client/app/home/translations/Messages_lt_LT.json
Due: none

release v7.16.0
  CHANGELOG.md
  package.json
Due: none

fix: replace region add success message
  client/app/cloud/project/compute/regions/translations/Messages_de_DE.json
  client/app/cloud/project/compute/regions/translations/Messages_en_ASIA.json
  client/app/cloud/project/compute/regions/translations/Messages_en_AU.json
  client/app/cloud/project/compute/regions/translations/Messages_en_CA.json
  client/app/cloud/project/compute/regions/translations/Messages_en_GB.json
  client/app/cloud/project/compute/regions/translations/Messages_en_SG.json
  client/app/cloud/project/compute/regions/translations/Messages_en_US.json
  client/app/cloud/project/compute/regions/translations/Messages_fi_FI.json
  client/app/cloud/project/compute/regions/translations/Messages_fr_FR.json
  client/app/cloud/project/compute/regions/translations/Messages_it_IT.json
  client/app/cloud/project/compute/regions/translations/Messages_lt_LT.json
  client/app/cloud/project/compute/regions/translations/Messages_nl_NL.json
  client/app/cloud/project/compute/regions/translations/Messages_pl_PL.json
  client/app/cloud/project/compute/regions/translations/Messages_pt_PT.json
Due: none

feat(cloud.project.compute.infrastructure): support NVIDIA GPU OS (#1277)
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/compute/infrastructure/image.service.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
  client/assets/images/cloud/apps/nvidia_ngc.png
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

release v7.17.0
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/kubernetes/translations/Messages_pl_PL.json
Due: none
