Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore '**/noVNC/**' 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(kube.terminate): CR fixes
  client/app/kubernetes/service/kubernetes-service.routes.js
  client/app/kubernetes/service/terminate/kubernetes-service-terminate.controller.js
  client/app/kubernetes/service/terminate/kubernetes-service-terminate.html
  client/app/kubernetes/service/terminate/kubernetes-service-terminate.modal.controller.js
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(pci.ip): add alert message when no pci instance
  client/app/cloud/project/compute/infrastructure/ip/failover/buy/cloud-project-compute-infrastructure-ip-failover-buy.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(kube): add terminate cluster (#1395)
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/kubernetes-service.routes.js
  client/app/kubernetes/service/terminate/kubernetes-service-terminate.controller.js
  client/app/kubernetes/service/terminate/kubernetes-service-terminate.html
  client/app/kubernetes/service/terminate/kubernetes-service-terminate.modal.controller.js
  client/app/kubernetes/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

Develop (#1400)
  client/app/cloud/components/project/billing/translations/Messages_de_DE.json
  client/app/cloud/components/project/billing/translations/Messages_en_ASIA.json
  client/app/cloud/components/project/billing/translations/Messages_en_AU.json
  client/app/cloud/components/project/billing/translations/Messages_en_CA.json
  client/app/cloud/components/project/billing/translations/Messages_en_GB.json
  client/app/cloud/components/project/billing/translations/Messages_en_SG.json
  client/app/cloud/components/project/billing/translations/Messages_fi_FI.json
  client/app/cloud/components/project/billing/translations/Messages_it_IT.json
  client/app/cloud/components/project/billing/translations/Messages_lt_LT.json
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/kubernetes-service.routes.js
  client/app/kubernetes/service/terminate/kubernetes-service-terminate.controller.js
  client/app/kubernetes/service/terminate/kubernetes-service-terminate.html
  client/app/kubernetes/service/terminate/kubernetes-service-terminate.modal.controller.js
  client/app/kubernetes/translations/Messages_fr_FR.json
  client/app/vps/translations/Messages_en_ASIA.json
  client/app/vps/translations/Messages_en_AU.json
  client/app/vps/translations/Messages_en_CA.json
  client/app/vps/translations/Messages_en_GB.json
  client/app/vps/translations/Messages_en_SG.json
  client/app/vps/translations/Messages_es_ES.json
  client/app/vps/translations/Messages_fi_FI.json
  client/app/vps/translations/Messages_lt_LT.json
  client/app/vps/translations/Messages_pl_PL.json
  client/app/vps/translations/Messages_pt_PT.json
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

Develop (#1400)
  kubernetes.constants.js
  kubernetes.service.js
  service/kubernetes-service.controller.js
  service/kubernetes-service.html
  service/kubernetes-service.routes.js
  service/terminate/kubernetes-service-terminate.controller.js
  service/terminate/kubernetes-service-terminate.html
  service/terminate/kubernetes-service-terminate.modal.controller.js
  translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

release v7.21.0
  CHANGELOG.md
  package.json
Due: none

build: update lockfile
  yarn.lock
Due: none

fix(cloud.logs): new option translations
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: none

refactor: project is now using @ovh-ux/manager-core
  .eslintrc.json
  client/app/app.js
  client/app/cloud/offer/cloud-offer.controller.js
  client/app/cloud/offer/cloud-offer.html
  client/app/cloud/project/cloud-project.controller.js
  client/app/cloud/project/cloud-project.html
  client/app/cloud/project/compute/infrastructure/cloud-project-compute-infrastructure.service.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.controller.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/quota/cloud-project-compute-quota.controller.js
  client/app/cloud/project/compute/quota/cloud-project-compute-quota.html
  client/app/cloud/project/delete/cloud-project-delete.controller.js
  client/app/config/all.ca.js
  client/app/config/all.eu.js
  client/app/config/all.us.js
  client/app/dbaas/logs/welcome/logs-welcome.controller.js
  client/app/dbaas/logs/welcome/logs-welcome.html
  client/app/home/home.controller.js
  client/app/home/home.html
  client/app/vrack/add/vrack-add.controller.js
  client/app/vrack/add/vrack-add.html
  client/components/at-internet/at-internet.config.js
  client/components/auth/auth.config.js
  client/components/changelog/changelog.controller.js
  client/components/docs/docs.service.js
  client/components/navbar/navbar-notification.service.js
  client/components/navbar/navbar.service.js
  client/components/sidebar/products/project-sidebar.service.js
  client/components/translate/translate.service.js
  package.json
  webpack.config.js
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(regions): show inactive regions
  client/app/app.scss
  client/app/cloud/cloud.less
  client/app/cloud/project/compute/infrastructure/cloud-project-compute-infrastructure.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.js
  client/app/cloud/project/compute/infrastructure/region.service.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
  client/app/cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.html
  client/app/cloud/project/compute/quota/cloud-project-compute-quota.controller.js
  client/app/cloud/project/compute/quota/cloud-project-compute-quota.html
  client/app/cloud/project/compute/quota/cloud-project-compute-quota.js
  client/app/cloud/project/compute/regions/translations/Messages_fr_FR.json
  client/app/cloud/project/storage/storage-add/storage/add-storage-controller.js
  client/app/cloud/project/storage/storage-add/storage/step_region/add-storage-step-region.html
  client/app/cloud/project/storage/storage.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations
  client/app/cloud/components/project/billing/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/kubernetes/translations/Messages_es_ES.json
  client/app/kubernetes/translations/Messages_it_IT.json
Due: none

build: use webpack from webpack-config
  package.json
  webpack.config.js
  yarn.lock
Due: eslint --fix

fix: remove console.log
  client/components/sidebar/products/project-sidebar.service.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/cloud/components/project/billing/translations/Messages_en_ASIA.json
  client/app/cloud/components/project/billing/translations/Messages_en_AU.json
  client/app/cloud/components/project/billing/translations/Messages_en_CA.json
  client/app/cloud/components/project/billing/translations/Messages_en_GB.json
  client/app/cloud/components/project/billing/translations/Messages_en_SG.json
  client/app/cloud/components/project/billing/translations/Messages_fi_FI.json
  client/app/cloud/components/project/billing/translations/Messages_lt_LT.json
  client/app/cloud/components/project/billing/translations/Messages_pt_PT.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
  client/app/kubernetes/translations/Messages_en_ASIA.json
  client/app/kubernetes/translations/Messages_en_AU.json
  client/app/kubernetes/translations/Messages_en_CA.json
  client/app/kubernetes/translations/Messages_en_GB.json
  client/app/kubernetes/translations/Messages_en_SG.json
  client/app/kubernetes/translations/Messages_fi_FI.json
  client/app/kubernetes/translations/Messages_lt_LT.json
  client/app/kubernetes/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/components/project/billing/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/kubernetes/translations/Messages_de_DE.json
Due: none

fix(iaas): check if value is NaN
  client/app/cloud/project/compute/infrastructure/ip/failover/buy/cloud-project-compute-infrastructure-ip-failover-buy.controller.js
Due: eslint --fix

fix(translation): t1-180 flavor (#1324)
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.controller.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/flavor.service.js
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
  client/app/cloud/project/compute/infrastructure/translations/Messages_fr_FR.json
  client/app/cloud/project/compute/infrastructure/translations/Messages_it_IT.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(regions): show inactive regions (#1385)
  client/app/app.scss
  client/app/cloud/cloud.less
  client/app/cloud/project/compute/infrastructure/cloud-project-compute-infrastructure.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.js
  client/app/cloud/project/compute/infrastructure/region.service.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
  client/app/cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.html
  client/app/cloud/project/compute/quota/cloud-project-compute-quota.controller.js
  client/app/cloud/project/compute/quota/cloud-project-compute-quota.html
  client/app/cloud/project/compute/quota/cloud-project-compute-quota.js
  client/app/cloud/project/compute/regions/translations/Messages_fr_FR.json
  client/app/cloud/project/storage/storage-add/storage/add-storage-controller.js
  client/app/cloud/project/storage/storage-add/storage/step_region/add-storage-step-region.html
  client/app/cloud/project/storage/storage.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(pci): servers are not loaded in list view
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
Due: eslint --fix

fix(pci): servers are not loaded in list view (#1407)
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
Due: eslint --fix

fix(us): display modal for each order in US
  client/components/disable-order-modal/controller.js
  client/components/disable-order-modal/template.html
  client/components/sidebar/sidebar-order.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(us): add icon for external link redirect
  client/components/disable-order-modal/template.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(pci-usage): replace tables with datagrid
  client/app/cloud/components/project/billing/archive-storage-list/billing-archive-storage-list.component.html
  client/app/cloud/components/project/billing/details-popover/instance-details-popover.html
  client/app/cloud/components/project/billing/details-popover/volume-details-popover.html
  client/app/cloud/components/project/billing/hourly-resource-list/billing-hourly-resource-list.component.controller.js
  client/app/cloud/components/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/app/cloud/components/project/billing/instance-list/billing-instance-list.component.html
  client/app/cloud/components/project/billing/monthly-resource-list/billing-monthly-resource-list.component.controller.js
  client/app/cloud/components/project/billing/monthly-resource-list/billing-monthly-resource-list.component.html
  client/app/cloud/components/project/billing/object-storage-list/billing-object-storage-list.component.html
  client/app/cloud/components/project/billing/outgoing-trafic/outgoing-trafic.component.html
  client/app/cloud/components/project/billing/snapshot-list/billing-snapshot-list.component.html
  client/app/cloud/components/project/billing/volume-list/billing-volume-list.component.controller.js
  client/app/cloud/components/project/billing/volume-list/billing-volume-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(t1): t1 180 launch
  client/app/cloud/project/compute/infrastructure/flavor.service.js
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
Due: eslint --fix

fix(cloud): create windows/linux server with t1-180 instance (#1410)
  client/app/cloud/project/compute/infrastructure/flavor.service.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
Due: eslint --fix

release v7.22.0
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/translations/Messages_de_DE.json
  client/app/cloud/project/compute/infrastructure/translations/Messages_it_IT.json
  client/app/cloud/project/compute/infrastructure/translations/Messages_pl_PL.json
  client/app/cloud/project/compute/infrastructure/translations/Messages_pt_PT.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_de_DE.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_es_ES.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_it_IT.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_pl_PL.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_pt_PT.json
  client/app/cloud/project/compute/regions/translations/Messages_de_DE.json
  client/app/cloud/project/compute/regions/translations/Messages_es_ES.json
  client/app/cloud/project/compute/regions/translations/Messages_it_IT.json
  client/app/cloud/project/compute/regions/translations/Messages_pl_PL.json
  client/app/cloud/project/compute/regions/translations/Messages_pt_PT.json
Due: none

fixed negation & typo
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_de_DE.json
Due: none

fix(i18n.cloud.virtualmachine.add): fix negation and typo (#1414)
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/translations/Messages_en_ASIA.json
  client/app/cloud/project/compute/infrastructure/translations/Messages_en_AU.json
  client/app/cloud/project/compute/infrastructure/translations/Messages_en_CA.json
  client/app/cloud/project/compute/infrastructure/translations/Messages_en_GB.json
  client/app/cloud/project/compute/infrastructure/translations/Messages_en_SG.json
  client/app/cloud/project/compute/infrastructure/translations/Messages_fi_FI.json
  client/app/cloud/project/compute/infrastructure/translations/Messages_lt_LT.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_en_ASIA.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_en_AU.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_en_CA.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_en_GB.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_en_SG.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_fi_FI.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_lt_LT.json
  client/app/cloud/project/compute/regions/translations/Messages_en_ASIA.json
  client/app/cloud/project/compute/regions/translations/Messages_en_AU.json
  client/app/cloud/project/compute/regions/translations/Messages_en_CA.json
  client/app/cloud/project/compute/regions/translations/Messages_en_GB.json
  client/app/cloud/project/compute/regions/translations/Messages_en_SG.json
  client/app/cloud/project/compute/regions/translations/Messages_fi_FI.json
  client/app/cloud/project/compute/regions/translations/Messages_lt_LT.json
Due: none

release v7.22.1
  CHANGELOG.md
  package.json
Due: none

feat: addition of adp
  client/components/sidebar/products/analytics-sidebar.service.js
  client/components/sidebar/sections/analytics-section.service.js
  client/components/sidebar/sidebar-order.service.js
  client/components/sidebar/sidebar-products.service.js
  client/components/sidebar/sidebar.js
  client/components/sidebar/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: eslint --fix

feat(adp): addition of adp component
  client/app/app.js
  package.json
  yarn.lock
Due: eslint --fix

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_de_DE.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_it_IT.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_pt_PT.json
Due: none
