Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/privateNetwork/translations/Messages_es_ES.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_es_ES.json
  client/app/cloud/project/compute/loadbalancer/translations/Messages_es_ES.json
  client/app/cloud/project/compute/regions/translations/Messages_es_ES.json
  client/app/cloud/project/compute/translations/Messages_es_ES.json
  client/app/cloud/project/onboarding/translations/Messages_es_ES.json
  client/app/cloud/project/storage/storage-add/translations/Messages_es_ES.json
  client/app/cloud/project/storage/storage-details/translations/Messages_es_ES.json
  client/app/cloud/project/storage/translations/Messages_es_ES.json
  client/app/cloud/project/translations/Messages_es_ES.json
  client/app/dbaas/dbaas-metrics/dashboard/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/home/translations/Messages_es_ES.json
  client/app/iplb/configuration/translations/Messages_es_ES.json
  client/app/iplb/frontends/translations/Messages_es_ES.json
  client/app/iplb/serverFarm/translations/Messages_es_ES.json
  client/app/nasha/add/translations/Messages_es_ES.json
  client/app/veeam/dashboard/translations/Messages_es_ES.json
  client/app/veeam/translations/Messages_es_ES.json
  client/app/vps/translations/Messages_es_ES.json
  client/app/vrack/modals/translations/Messages_es_ES.json
  client/components/cloud/project/billing/translations/Messages_es_ES.json
  client/components/sidebar/translations/Messages_es_ES.json
Due: none

feat(cloud.project): display hourly total consumption for all services
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(components.billing.object-storage): switch controller to class
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.controller.js
Due: eslint --fix

style(components.billing.snapshot-list): sort parameters
  client/components/cloud/project/billing/snapshot-list/billing-snapshot-list.component.controller.js
Due: eslint --fix

feat(cloud.project.billing): adapt snapshot hourly consumption display
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/cloud-project-billing.constants.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.html
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.js
  client/components/cloud/project/billing/snapshot-detailed-consumption/billing-snapshot-detailed-consumption.component.controller.js
  client/components/cloud/project/billing/snapshot-detailed-consumption/billing-snapshot-detailed-consumption.component.html
  client/components/cloud/project/billing/snapshot-detailed-consumption/billing-snapshot-detailed-consumption.component.js
  client/components/cloud/project/billing/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(cloud.project.billing): display instances hourly consumption detail
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/components/cloud/project/billing/instance-list/billing-instance-list.component.controller.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(components.billing.volume-list): replace foreach + push by map
  client/components/cloud/project/billing/volume-list/billing-volume-list.component.controller.js
Due: eslint --fix

refactor(components.billing.snapshot-list): switch to a class
  client/components/cloud/project/billing/snapshot-list/billing-snapshot-list.component.controller.js
Due: eslint --fix

refactor(components.billing.volume-list): switch to a class
  client/components/cloud/project/billing/volume-list/billing-volume-list.component.controller.js
Due: eslint --fix

style(components.billing.instance-list): remove unused code
  client/components/cloud/project/billing/instance-list/billing-instance-list.component.controller.js
Due: eslint --fix

style(components.billing.volume-list): remove unused code
  client/components/cloud/project/billing/volume-list/billing-volume-list.component.controller.js
Due: eslint --fix

feat(cloud.project): display instances total hourly consumption
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/cloud-project-billing-consumption.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

style(components.billing.volume-list): sort parameters
  client/components/cloud/project/billing/volume-list/billing-volume-list.component.controller.js
Due: eslint --fix

style(components.billing.object-storage): sort parameters
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.controller.js
Due: eslint --fix

feat(project.cloud.billing): display volume consumption for all services
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/components/cloud/project/billing/volume-list/billing-volume-list.component.controller.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(components.billing.instance-list): change object initialization
  client/components/cloud/project/billing/instance-list/billing-instance-list.component.controller.js
Due: eslint --fix

release v7.17.1
  CHANGELOG.md
  package.json
Due: none

feat(kube): add order in sidebar
  client/app/config/all.ca.js
  client/app/config/all.eu.js
  client/app/config/all.us.js
  client/components/featureAvailability/featureAvailability.service.js
  client/components/sidebar/products/kubernetes-sidebar.service.js
  client/components/sidebar/sidebar-order.service.js
  client/components/sidebar/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: eslint --fix

fix(deps): upgrade ng-ovh-form-flat to v4.0.0
  client/app/app.js
  client/app/app.less
  client/app/cloud/less/cloud.popover.less
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.less
  client/app/cloud/project/compute/infrastructure/virtualMachine/monitoring/cloud-project-compute-infrastructure-virtualMachine-monitoring.less
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations
  translations/Messages_de_DE.json
  translations/Messages_en_ASIA.json
  translations/Messages_en_AU.json
  translations/Messages_en_GB.json
  translations/Messages_en_SG.json
  translations/Messages_fi_FI.json
  translations/Messages_lt_LT.json
  translations/Messages_nl_NL.json
Due: none

fix(i18n): add missing translations
  client/app/kubernetes/translations/Messages_de_DE.json
  client/app/kubernetes/translations/Messages_en_ASIA.json
  client/app/kubernetes/translations/Messages_en_AU.json
  client/app/kubernetes/translations/Messages_en_GB.json
  client/app/kubernetes/translations/Messages_en_SG.json
  client/app/kubernetes/translations/Messages_fi_FI.json
  client/app/kubernetes/translations/Messages_lt_LT.json
  client/app/kubernetes/translations/Messages_nl_NL.json
Due: none

feat(cloud.project.billing): adapt object storage consumption
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/cloud-project-billing.constants.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.controller.js
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(components.cloud.billing): switch function to a class
  client/components/cloud/project/billing/archive-storage-list/billing-archive-storage-list.component.controller.js
Due: eslint --fix

style(components.cloud.billing.outgoing-trafic): add missing export
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.controller.js
Due: eslint --fix

feat(cloud.project.billing): adapt hourly consumptions display
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

refactor(components.billing.archive-storage-list): use oui-spinner
  client/components/cloud/project/billing/archive-storage-list/billing-archive-storage-list.component.html
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(cloud.project.billing): adapt archive storage consumption display
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/components/cloud/project/billing/archive-storage-list/billing-archive-storage-list.component.controller.js
  client/components/cloud/project/billing/archive-storage-list/billing-archive-storage-list.component.html
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(components.cloud.billing): replace tooltips by popovers
  client/components/cloud/project/billing/archive-storage-list/billing-archive-storage-list.component.html
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.html
  client/components/cloud/project/billing/snapshot-detailed-consumption/billing-snapshot-detailed-consumption.component.html
  client/components/cloud/project/billing/snapshot-list/billing-snapshot-list.component.html
  client/components/cloud/project/billing/translations/Messages_fr_FR.json
  client/components/cloud/project/billing/volume-list/billing-volume-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

style(cloud.project.billing): prefix attributes with data-
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(cloud.project.billing.consumption): adapt monthly consumption
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.html
  client/components/cloud/project/billing/monthly-resource-list/billing-monthly-resource-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

style(components.billing-hourly-resource): prefix attributes with data-
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

style(components.billing.monthly): prefix attributes with data-
  client/components/cloud/project/billing/monthly-resource-list/billing-monthly-resource-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(cloud.project.billing): adapt outgoing trafic display
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.controller.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(iplb): translation interropolation
  client/app/iplb/configuration/iplb-configuration.service.js
  client/app/iplb/frontends/iplb-frontends.service.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/common/translations/Messages_en_ASIA.json
  client/app/common/translations/Messages_en_AU.json
  client/app/common/translations/Messages_en_GB.json
  client/app/common/translations/Messages_en_SG.json
  client/app/common/translations/Messages_fi_FI.json
  client/app/common/translations/Messages_lt_LT.json
  client/app/kubernetes/translations/Messages_en_ASIA.json
  client/app/kubernetes/translations/Messages_en_AU.json
  client/app/kubernetes/translations/Messages_en_GB.json
  client/app/kubernetes/translations/Messages_en_SG.json
  client/app/kubernetes/translations/Messages_es_ES.json
  client/app/kubernetes/translations/Messages_fi_FI.json
  client/app/kubernetes/translations/Messages_lt_LT.json
  client/app/kubernetes/translations/Messages_nl_NL.json
  client/components/cloud/project/billing/translations/Messages_en_ASIA.json
  client/components/cloud/project/billing/translations/Messages_en_AU.json
  client/components/cloud/project/billing/translations/Messages_en_GB.json
  client/components/cloud/project/billing/translations/Messages_en_SG.json
  client/components/cloud/project/billing/translations/Messages_fi_FI.json
  client/components/cloud/project/billing/translations/Messages_lt_LT.json
  client/components/cloud/project/billing/translations/Messages_nl_NL.json
Due: none

fix(i18n): add missing translations
  translations/Messages_en_ASIA.json
  translations/Messages_en_AU.json
  translations/Messages_en_GB.json
  translations/Messages_en_SG.json
  translations/Messages_es_ES.json
  translations/Messages_fi_FI.json
  translations/Messages_lt_LT.json
  translations/Messages_nl_NL.json
Due: none

feat(kube): version update
  client/app/common/translations/Messages_fr_FR.json
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/nodes/kubernetes-nodes.controller.js
  client/app/kubernetes/nodes/kubernetes-nodes.html
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/kubernetes-service.routes.js
  client/app/kubernetes/service/update/kubernetes-service-update.controller.js
  client/app/kubernetes/service/update/kubernetes-service-update.html
  client/app/kubernetes/service/update/kubernetes-service-update.modal.controller.js
  client/app/kubernetes/service/upgrade-policy/kubernetes-service-upgrade-policy.controller.js
  client/app/kubernetes/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(kubernetes): add version update (#1317)
  client/app/common/translations/Messages_fr_FR.json
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/nodes/kubernetes-nodes.controller.js
  client/app/kubernetes/nodes/kubernetes-nodes.html
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/kubernetes-service.routes.js
  client/app/kubernetes/service/update/kubernetes-service-update.controller.js
  client/app/kubernetes/service/update/kubernetes-service-update.html
  client/app/kubernetes/service/update/kubernetes-service-update.modal.controller.js
  client/app/kubernetes/service/upgrade-policy/kubernetes-service-upgrade-policy.controller.js
  client/app/kubernetes/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(kubernetes): add version update (#1317)
  kubernetes.constants.js
  kubernetes.service.js
  nodes/kubernetes-nodes.controller.js
  nodes/kubernetes-nodes.html
  service/kubernetes-service.controller.js
  service/kubernetes-service.html
  service/kubernetes-service.routes.js
  service/update/kubernetes-service-update.controller.js
  service/update/kubernetes-service-update.html
  service/update/kubernetes-service-update.modal.controller.js
  service/upgrade-policy/kubernetes-service-upgrade-policy.controller.js
  translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(ordered-hash): move ordered-hash to cuc
  client/components/cloud/project/compute/infrastructure/internet/internet.factory.js
  client/components/cloud/project/compute/infrastructure/vrack/vrack.factory.js
  client/components/orderedHash/orderedHash.factory.js
  package.json
  yarn.lock
Due: eslint --fix

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
