Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(iplb): quota threshold modal
  client/app/iplb/home/updateQuota/iplb-update-quota.html
  client/app/iplb/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(i18n): add new postgres version (#1542)
  client/app/common/translations/Messages_fr_FR.json
Due: none

fix(sidebar): use nasha from cloud manager
  package.json
  yarn.lock
Due: none

fix: update manager urls
  client/app/config/all.ca.js
  client/app/config/all.eu.js
  client/app/config/all.us.js
Due: eslint --fix

fix: update manager urls (#1546)
  client/app/config/all.ca.js
  client/app/config/all.eu.js
  client/app/config/all.us.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 8]
  client/app/common/translations/Messages_de_DE.json
  client/app/common/translations/Messages_fr_CA.json
  client/app/common/translations/Messages_it_IT.json
  client/app/common/translations/Messages_pl_PL.json
  client/app/common/translations/Messages_pt_PT.json
Due: none

fix(iplb): quota threshold modal (#1544)
  client/app/iplb/home/updateQuota/iplb-update-quota.html
  client/app/iplb/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(sidebar): use nasha from cloud manager (#1545)
  package.json
  yarn.lock
Due: none

release v7.28.3
  CHANGELOG.md
  package.json
Due: none

fix(vps): database tab for CA and US
  client/app/vps/cloud-database/vps-cloud-database.routing.js
  client/app/vps/header/vps-header.controller.js
  client/app/vps/header/vps-header.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat: add @ovh-ux/ng-ovh-request-tagger
  package.json
  yarn.lock
Due: none

feat: add @ovh-ux/ng-ovh-request-tagger (#1550)
  package.json
  yarn.lock
Due: none

release v7.29.0
  CHANGELOG.md
  package.json
Due: none

fix(vps): hide VPS and cloudDatabase tabs in both CA and US region (#1549)
  client/app/vps/cloud-database/vps-cloud-database.routing.js
  client/app/vps/header/vps-header.controller.js
  client/app/vps/header/vps-header.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

release v7.29.1
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations [CDS 19]
  client/app/common/translations/Messages_es_ES.json
Due: none

fix(i18n): add missing translations [CDS 20]
  client/app/iplb/translations/Messages_de_DE.json
  client/app/iplb/translations/Messages_fr_CA.json
  client/app/iplb/translations/Messages_it_IT.json
  client/app/iplb/translations/Messages_pt_PT.json
Due: none

build(deps): upgrade ng-ovh-sso-auth to v4.2.0 (#1555)
  package.json
  yarn.lock
Due: none

feat(vps.agora): handle new refs in special mapping
  client/app/vps/upgrade/vps-upgrade.constants.js
  client/app/vps/upgrade/vps-upgrade.controller.js
Due: eslint --fix

fix(i18n): add missing translations [CDS 21]
  client/app/iplb/translations/Messages_pl_PL.json
Due: none

fix: remove partners entry from the navbar
  client/app/config/all.eu.js
  client/components/navbar/navbar.service.js
Due: eslint --fix

fix: remove partners entry from the navbar (#1557)
  client/app/config/all.eu.js
  client/components/navbar/navbar.service.js
Due: eslint --fix

release v99.0.4
  CHANGELOG.md
  package.json
Due: none

feat(vps.upgrade): handle new refs in special mapping (#1556)
  client/app/vps/upgrade/vps-upgrade.constants.js
  client/app/vps/upgrade/vps-upgrade.controller.js
Due: eslint --fix

docs: remove CODE_OF_CONDUCT.md file.
  CODE_OF_CONDUCT.md
Due: none

docs: remove CODE_OF_CONDUCT.md file. (#1558)
  CODE_OF_CONDUCT.md
Due: none

fix(i18n): add missing translations [CDS 22]
  client/app/cda/translations/Messages_es_ES.json
Due: none

release v7.30.0
  CHANGELOG.md
  package.json
Due: none

build(deps): upgrade ng-ovh-sso-auth to v4.2.1 (#1562)
  package.json
  yarn.lock
Due: none

release v7.30.1
  CHANGELOG.md
  package.json
Due: none

feat(vps): add vps redirection into legacy section
  client/components/sidebar/products/vps-sidebar.service.js
  client/components/sidebar/sidebar.constants.js
Due: eslint --fix

build(package.json): update ng-ovh-sso-auth to v4.2.2
  package.json
  yarn.lock
Due: none

fix(i18n): add missing translations [CDS 29]
  client/app/iplb/translations/Messages_es_ES.json
Due: none

fix(i18n): add missing translations [CDS 30]
  client/app/cda/translations/Messages_en_GB.json
  client/app/cda/translations/Messages_fi_FI.json
  client/app/cda/translations/Messages_lt_LT.json
Due: none

build: bump @ovh-ux/manager-core (#1567)
  package.json
  yarn.lock
Due: none

release v7.31.0
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
