Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore '**/noVNC/**' 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

feat(openstack): openRC v3 file download
  client/app/cloud/project/openstack/users/openrc/openstack-users-openrc.constant.js
  client/app/cloud/project/openstack/users/openrc/openstack-users-openrc.controller.js
  client/app/cloud/project/openstack/users/openrc/openstack-users-openrc.html
  client/app/cloud/project/openstack/users/openrc/translations/Messages_fr_FR.xml
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/components/sidebar/translations/Messages_fr_CA.json
Due: none

feat(components.navbar): remove some assistance menu items for FR
  client/app/common/translations/Messages_fr_FR.xml
  client/components/navbar/navbar.service.js
Due: eslint --fix

fix(vps.upgrade): previous state
  client/app/vps/upgrade/vps-upgrade.controller.js
Due: eslint --fix

fix(veeam.order): ask for retranslating text with issue
  client/app/vps/backup-storage/order/vps-order-backup-storage.html
  client/app/vps/translations/Messages_fr_FR.xml
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(i18n): submit translations
  client/app/cloud/project/openstack/users/openrc/translations/Messages_fr_FR.xml
  client/app/vps/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  translations/Messages_cs_CZ.xml
  translations/Messages_de_DE.xml
  translations/Messages_en_ASIA.xml
  translations/Messages_en_AU.xml
  translations/Messages_en_CA.xml
  translations/Messages_en_GB.xml
  translations/Messages_en_SG.xml
  translations/Messages_en_US.xml
  translations/Messages_es_ES.xml
  translations/Messages_es_US.xml
  translations/Messages_fi_FI.xml
  translations/Messages_fr_CA.xml
  translations/Messages_it_IT.xml
  translations/Messages_lt_LT.xml
  translations/Messages_nl_NL.xml
  translations/Messages_pl_PL.xml
  translations/Messages_pt_PT.xml
Due: none

fix(cloud.project.rclone): undefined content file
  client/app/cloud/project/openstack/users/rclone/openstack-users-rclone.modal.controller.js
Due: eslint --fix

release v7.10.2
  CHANGELOG.md
  package.json
Due: none

test
  package.json
  yarn.lock
Due: none

fix(deps): upgrade npm-run-all to v4.1.5
  package.json
  yarn.lock
Due: none

release v7.10.1
  CHANGELOG.md
  package.json
Due: none

fix(deps): add missing ovh-angular-apiv7
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

fix(cloud): wrong guide url
  client/components/docs/docs.constants.js
Due: eslint --fix

release v7.11.0
  CHANGELOG.md
  package.json
Due: none

feat(navbar.tracking): track universe change
  client/app/home/home.js
Due: eslint --fix

fix(i18n): add translations for OTRS module
  client/components/ovh-angular-otrs/ovh-angular-otrs.js
Due: eslint --fix

fix(button-alignment): action menu alignment fix
  client/app/cloud/project/billing/rights/cloud-project-billing-rights.html
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
  client/app/cloud/project/compute/volume/cloud-project-compute-volume.html
  client/app/cloud/project/openstack/users/openstack-users.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(deps): ugrade ovh-angular-sidebar-menu to v7.2.2
  package.json
  yarn.lock
Due: none

fix(button-alignment): action menu alignment fix
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(servers.add-server): region seleciton color
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'
