Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore '**/noVNC/**' 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(kube): remove beta message
  client/app/kubernetes/containers/kubernetes-containers.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

release v7.18.4
  CHANGELOG.md
  package.json
Due: none

build: update @ovh-ux/ng-ovh-cloud-universe-components
  package.json
  yarn.lock
Due: none

feat(cloud.project.billing): adapt estimate consumption display
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/cloud-project-billing.constant.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.component.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.js
Due: eslint --fix

style(cloud.project.billing): rename data property to forecast
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(cloud.project.billing): extract hourly forecast
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(cloud.project.billing): split current consumption from forecast
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
Due: eslint --fix

style(cloud.project.billing.consumption): rename functions
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(cloud.project.billing): extract total forecast
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(cloud.project.billing): extract monthly forecast
  client/app/cloud/project/billing/consumption/cloud-project-billing-consumption.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.component.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

style(cloud.project.billing): rename services
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/history/details/cloud-project-billing-history-details.controller.js
  client/app/cloud/project/delete/cloud-project-delete.controller.js
Due: eslint --fix

style(cloud.project.billing): rename services file
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/cloud-project-billing-legacy.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
Due: eslint --fix

fix(cloud.project.billing): fix consumption chart hiding on alert delete
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
Due: eslint --fix

fix(cloud.project.billing): make service stateless
  client/app/cloud/project/billing/cloud-project-billing-legacy.service.js
Due: eslint --fix

refactor(cloud.project.billing): extract chart init from alert fetching
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
Due: eslint --fix

feat(cloud.project.billing): display last consumption update
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.html
  client/app/cloud/project/billing/consumption/estimate/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

style(cloud.project.billing): give functions a name
  client/app/cloud/project/billing/cloud-project-billing-legacy.service.js
Due: eslint --fix

refactor(components): move components to cuc
  service/kubernetes-service.controller.js
  service/reset/kubernetes-service-reset.controller.js
  service/reset/kubernetes-service-reset.modal.controller.js
Due: eslint --fix

refactor(components): move components to cuc
  navbar.service.js
Due: eslint --fix

feat(tracking-cloud): track manager cloud
  client/app/cloud/project/billing/rights/addRights/cloud-project-billing-rights-add.controller.js
  client/app/cloud/project/billing/rights/cloud-project-billing-rights.html
  client/app/cloud/project/billing/vouchers/addCredit/cloud-project-billing-vouchers-add-credit.controller.js
  client/app/cloud/project/billing/vouchers/addVoucher/cloud-project-billing-vouchers-add.controller.js
  client/app/cloud/project/billing/vouchers/cloud-project-billing-vouchers.html
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/ip/failover/buy/cloud-project-compute-infrastructure-ip-failover-buy.controller.js
  client/app/cloud/project/compute/infrastructure/ip/failover/import/cloud-project-compute-infrastructure-ip-failover-import.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.controller.js
  client/app/cloud/project/compute/loadbalancer/cloud-project-compute-loadbalancer.controller.js
  client/app/cloud/project/compute/loadbalancer/cloud-project-compute-loadbalancer.html
  client/app/cloud/project/compute/quota/cloud-project-compute-quota.html
  client/app/cloud/project/compute/ssh/cloud-project-compute-ssh.controller.js
  client/app/cloud/project/compute/ssh/cloud-project-compute-ssh.html
  client/app/cloud/project/compute/volume/cloud-project-compute-volume.html
  client/app/cloud/project/openstack/users/add/openstack-users-add.controller.js
  client/app/cloud/project/openstack/users/openstack-users.html
  client/app/cloud/project/storage/storage-add/storage/step_name/add-storage-step-name.html
  client/app/cloud/project/storage/storage.controller.js
  client/app/cloud/project/storage/storage.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(currency): move currency filter & service to cuc
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.controller.js
  client/app/dbaas/logs/detail/options/home/logs-options-home.controller.js
  client/app/dbaas/logs/detail/options/manage/logs-options-manage.controller.js
  client/components/currency/currency.config.js
  client/components/currency/currency.constant.js
  client/components/currency/currency.service.js
  client/components/currency/ucentsToCurrency.filter.js
Due: eslint --fix

feat(tracking-cloud): track manager cloud
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/billing/rights/addRights/cloud-project-billing-rights-add.controller.js
  client/app/cloud/project/billing/rights/cloud-project-billing-rights.controller.js
  client/app/cloud/project/billing/rights/cloud-project-billing-rights.html
  client/app/cloud/project/billing/vouchers/addCredit/cloud-project-billing-vouchers-add-credit.controller.js
  client/app/cloud/project/billing/vouchers/addVoucher/cloud-project-billing-vouchers-add.controller.js
  client/app/cloud/project/billing/vouchers/cloud-project-billing-vouchers.controller.js
  client/app/cloud/project/billing/vouchers/cloud-project-billing-vouchers.html
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/ip/failover/buy/cloud-project-compute-infrastructure-ip-failover-buy.controller.js
  client/app/cloud/project/compute/infrastructure/ip/failover/import/cloud-project-compute-infrastructure-ip-failover-import.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.controller.js
  client/app/cloud/project/compute/loadbalancer/cloud-project-compute-loadbalancer.controller.js
  client/app/cloud/project/compute/quota/cloud-project-compute-quota.controller.js
  client/app/cloud/project/compute/quota/cloud-project-compute-quota.html
  client/app/cloud/project/compute/ssh/cloud-project-compute-ssh.controller.js
  client/app/cloud/project/compute/ssh/cloud-project-compute-ssh.html
  client/app/cloud/project/compute/volume/cloud-project-compute-volume.controller.js
  client/app/cloud/project/compute/volume/cloud-project-compute-volume.html
  client/app/cloud/project/openstack/users/add/openstack-users-add.controller.js
  client/app/cloud/project/openstack/users/openstack-users.controller.js
  client/app/cloud/project/openstack/users/openstack-users.html
  client/app/cloud/project/storage/storage-add/storage/add-storage-controller.js
  client/app/cloud/project/storage/storage-add/storage/step_name/add-storage-step-name.html
  client/app/cloud/project/storage/storage.controller.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(tracking-cloud): track manager cloud
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/compute/infrastructure/cloud-project-compute-infrastructure.service.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.controller.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor: move highlighted-element to cuc
  client/app/app.js
  client/app/app.less
  client/app/cloud/project/compute/cloud-project-compute.html
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.controller.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/ip/add_OLD_/cloud-project-compute-infrastructure-ip-add.controller.js
  client/app/cloud/project/compute/infrastructure/less/cloud-project-compute-infrastructure-vm.less
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
  client/app/cloud/project/compute/infrastructure/privateNetwork/dialog/cloud-project-compute-infrastructure-privateNetwork-dialog.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/monitoring/cloud-project-compute-infrastructure-virtualMachine-monitoring.controller.js
  client/app/cloud/project/compute/infrastructure/volume/addEdit/cloud-project-compute-infrastructure-volume-addEdit.controller.js
  client/app/dbaas/ts/project/details/dbaasts-project-details.html
  client/components/highlightedElement/highlightedElement.js
  client/components/highlightedElement/highlightedElement.less
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

Update Messages_fr_FR.json
  client/app/cloud/project/translations/Messages_fr_FR.json
Due: none

fix(html): hide unavailable flavors
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(i18n): add missing translations
  client/app/common/translations/Messages_pt_PT.json
  client/components/sidebar/translations/Messages_es_ES.json
  client/components/sidebar/translations/Messages_pt_PT.json
Due: none

feat(cloud.logs): allow queryFilter on alert conditions (#1303)
  client/app/dbaas/logs/detail/home/account/logs-home-account.controller.js
  client/app/dbaas/logs/detail/home/account/logs-home-account.html
  client/app/dbaas/logs/detail/home/capped/logs-home-capped.controller.js
  client/app/dbaas/logs/detail/home/capped/logs-home-capped.html
  client/app/dbaas/logs/detail/home/capped/logs-home-capped.modal.controller.js
  client/app/dbaas/logs/detail/home/logs-home.controller.js
  client/app/dbaas/logs/detail/home/logs-home.html
  client/app/dbaas/logs/detail/home/logs-home.js
  client/app/dbaas/logs/detail/home/logs-home.service.js
  client/app/dbaas/logs/detail/streams/alerts/add/alerts-add.html
  client/app/dbaas/logs/detail/streams/alerts/streams-alerts.service.js
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(kubernetes.nodes): update flavor after a node is added (#1346)
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/nodes/kubernetes-nodes.controller.js
Due: eslint --fix

fix(kubernetes.nodes): update flavor after a node is added (#1346)
  kubernetes.service.js
  nodes/kubernetes-nodes.controller.js
Due: eslint --fix

fix(iplb.configuration): error on apply configuration success (#1355)
  client/app/cloud/project/compute/infrastructure/cloud-project-compute-infrastructure.service.js
  client/app/iplb/configuration/iplb-configuration.service.js
  client/app/iplb/frontends/iplb-frontends.service.js
  client/app/iplb/server/iplb-server.service.js
  client/app/iplb/serverFarm/iplb-server-farm.service.js
  client/app/iplb/sslCertificate/iplb-ssl-certificate.service.js
  client/app/iplb/vrack/iplb-vrack.service.js
Due: eslint --fix

fix(pci): remove menu for us region
  client/app/cloud/project/cloud-project.controller.js
  client/app/cloud/project/cloud-project.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

release v7.18.5
  CHANGELOG.md
  package.json
Due: none

feat(tracking-cloud): track manager cloud
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/billing/rights/addRights/cloud-project-billing-rights-add.controller.js
  client/app/cloud/project/billing/rights/cloud-project-billing-rights.html
  client/app/cloud/project/billing/vouchers/addCredit/cloud-project-billing-vouchers-add-credit.controller.js
  client/app/cloud/project/billing/vouchers/addVoucher/cloud-project-billing-vouchers-add.controller.js
  client/app/cloud/project/billing/vouchers/cloud-project-billing-vouchers.controller.js
  client/app/cloud/project/billing/vouchers/cloud-project-billing-vouchers.html
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/storage/storage-add/storage/step_name/add-storage-step-name.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(cloud.project.compute.infrastructure): remove T1-180 flavor restriction (#1334)
  client/app/cloud/project/compute/infrastructure/flavor.service.js
Due: eslint --fix

fix(i18n): add missing translations
  client/components/sidebar/translations/Messages_it_IT.json
  client/components/sidebar/translations/Messages_pl_PL.json
Due: none

fix(cloud): update wrong cuc directive
  client/app/cloud/project/compute/infrastructure/ip/add_OLD_/cloud-project-compute-infrastructure-ip-add.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'
