Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(adp): adp click handle - redirect to list of clusters
  client/components/sidebar/sections/analytics-section.service.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_en_ASIA.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_en_AU.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_en_CA.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_en_GB.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_en_SG.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_fi_FI.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_lt_LT.json
Due: none

feat(adp): adp version update to latest
  client/components/sidebar/sections/analytics-section.service.js
  yarn.lock
Due: eslint --fix

feat(adp): translations addition
  client/components/sidebar/translations/Messages_cs_CZ.json
  client/components/sidebar/translations/Messages_de_DE.json
  client/components/sidebar/translations/Messages_en_ASIA.json
  client/components/sidebar/translations/Messages_en_AU.json
  client/components/sidebar/translations/Messages_en_CA.json
  client/components/sidebar/translations/Messages_en_GB.json
  client/components/sidebar/translations/Messages_en_SG.json
  client/components/sidebar/translations/Messages_en_US.json
  client/components/sidebar/translations/Messages_es_ES.json
  client/components/sidebar/translations/Messages_es_US.json
  client/components/sidebar/translations/Messages_fi_FI.json
  client/components/sidebar/translations/Messages_fr_CA.json
  client/components/sidebar/translations/Messages_fr_FR.json
  client/components/sidebar/translations/Messages_it_IT.json
  client/components/sidebar/translations/Messages_lt_LT.json
  client/components/sidebar/translations/Messages_nl_NL.json
  client/components/sidebar/translations/Messages_pl_PL.json
  client/components/sidebar/translations/Messages_pt_PT.json
Due: none

docs(contributing): remove signed commit requirements
  CONTRIBUTING.md
Due: none

docs(contributing): add translations part
  CONTRIBUTING.md
Due: none

feat(adp): ui fixes
  client/app/cloud/components/region.less
  package.json
  yarn.lock
Due: stylelint 'client/**/*.less' --fix

feat(adp): adp version update
  yarn.lock
Due: none

feat(cloud.logs): new coldstorage options
  client/app/dbaas/logs/detail/logs-detail.less
  client/app/dbaas/logs/detail/streams/add/logs-streams-add.controller.js
  client/app/dbaas/logs/detail/streams/add/logs-streams-add.html
  client/app/dbaas/logs/detail/streams/alerts/add/alerts-add.html
  client/app/dbaas/logs/detail/streams/alerts/home/alerts-home.html
  client/app/dbaas/logs/detail/streams/logs-streams.service.js
  client/app/dbaas/logs/logs-constants.js
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(adp): version update
  yarn.lock
Due: none

feat(adp): update adp version
  yarn.lock
Due: none

fix(vps.monitoring): safely access to the monitoring data
  client/app/vps/monitoring/vps-monitoring.controller.js
Due: eslint --fix

feat(chatbot): open the chatbot from the assistance menu
  client/app/app.js
  client/app/common/translations/Messages_fr_FR.json
  client/components/navbar/navbar.service.js
  client/index.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(vps.monitoring): safely access to the monitoring data (#1420)
  client/app/vps/monitoring/vps-monitoring.controller.js
Due: eslint --fix

release v7.22.2
  CHANGELOG.md
  package.json
Due: none

feat(cloud.logs): filebeat wizard
  client/app/dbaas/logs/detail/inputs/logs-inputs.service.js
  client/app/dbaas/logs/logs-constants.js
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: eslint --fix

docs(contributing): remove deprecated information from translations part
  CONTRIBUTING.md
Due: none

docs(contributing): remove deprecated information from translations part (#1424)
  CONTRIBUTING.md
Due: none

feat: add chatbot accessible from the assistance menu (#1423)
  client/app/app.js
  client/app/common/translations/Messages_fr_FR.json
  client/components/navbar/navbar.service.js
  client/index.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

build(deps): upgrade some dependencies
  package.json
  yarn.lock
Due: none

build(deps): upgrade some dependencies (#1427)
  package.json
  yarn.lock
Due: none

release v7.23.0
  CHANGELOG.md
  package.json
Due: none

fix(cloud.logs): antleblanc review
  client/app/dbaas/logs/detail/logs-detail.less
  client/app/dbaas/logs/detail/streams/alerts/home/alerts-home.controller.js
  client/app/dbaas/logs/detail/streams/alerts/home/alerts-home.html
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(dbaas.logs): add new coldstorage options (#1419)
  client/app/dbaas/logs/detail/inputs/logs-inputs.service.js
  client/app/dbaas/logs/detail/streams/add/logs-streams-add.controller.js
  client/app/dbaas/logs/detail/streams/add/logs-streams-add.html
  client/app/dbaas/logs/detail/streams/alerts/add/alerts-add.html
  client/app/dbaas/logs/detail/streams/alerts/home/alerts-home.controller.js
  client/app/dbaas/logs/detail/streams/alerts/home/alerts-home.html
  client/app/dbaas/logs/detail/streams/logs-streams.service.js
  client/app/dbaas/logs/logs-constants.js
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

release v7.24.0
  CHANGELOG.md
  package.json
Due: none

fix(components.navbar): remove duplicate ticket entry
  client/app/common/translations/Messages_fr_FR.json
  client/components/navbar/navbar.service.js
Due: eslint --fix

add image for dataiku app
  client/app/cloud/project/compute/infrastructure/image.service.js
  client/assets/images/cloud/apps/dataiku.png
Due: eslint --fix

fix(components.navbar): remove duplicate ticket entry (#1433)
  client/app/common/translations/Messages_fr_FR.json
  client/components/navbar/navbar.service.js
Due: eslint --fix

Update dataiku.png
  client/assets/images/cloud/apps/dataiku.png
Due: none

feat(cloud.project.infrastructure): add dataiku application (#1434)
  client/app/cloud/project/compute/infrastructure/image.service.js
  client/assets/images/cloud/apps/dataiku.png
Due: eslint --fix

release v7.25.0
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
  client/components/sidebar/translations/Messages_nl_NL.json
Due: none

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
