Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore '**/noVNC/**' 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

feat(pci-menu): PCI menu entries revamp
  client/app/cloud/project/cloud-project.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(pci-menu): PCI menu entries revamp …
  client/app/cloud/project/compute/translations/Messages_fr_FR.json
Due: none

refactor(package.json): use start:eu as default start script
  package.json
Due: none

fix(nasha.order): enable order
  client/components/sidebar/products/nasha-sidebar.service.js
Due: eslint --fix

fix(i18n): retrieve translations manually
  client/app/cloud/project/openstack/users/openrc/translations/Messages_de_DE.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_ASIA.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_AU.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_CA.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_GB.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_SG.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_US.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_es_ES.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_es_US.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_it_IT.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_nl_NL.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_pl_PL.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_pt_PT.json
  client/app/vps/translations/Messages_de_DE.json
  client/app/vps/translations/Messages_en_ASIA.json
  client/app/vps/translations/Messages_en_AU.json
  client/app/vps/translations/Messages_en_CA.json
  client/app/vps/translations/Messages_en_GB.json
  client/app/vps/translations/Messages_en_SG.json
  client/app/vps/translations/Messages_en_US.json
  client/app/vps/translations/Messages_es_ES.json
  client/app/vps/translations/Messages_es_US.json
  client/app/vps/translations/Messages_it_IT.json
  client/app/vps/translations/Messages_nl_NL.json
  client/app/vps/translations/Messages_pl_PL.json
  client/app/vps/translations/Messages_pt_PT.json
Due: none

fix: align action menu
  client/app/cloud/project/billing/rights/cloud-project-billing-rights.html
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
  client/app/cloud/project/compute/volume/cloud-project-compute-volume.html
  client/app/cloud/project/openstack/users/openstack-users.html
  client/app/vps/veeam/order/vps-order-veeam.controller.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/cloud/project/openstack/users/openrc/translations/Messages_de_DE.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_ASIA.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_AU.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_CA.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_GB.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_SG.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_US.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_it_IT.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_nl_NL.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_pl_PL.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_pt_PT.json
  client/app/vps/translations/Messages_de_DE.json
  client/app/vps/translations/Messages_en_ASIA.json
  client/app/vps/translations/Messages_en_AU.json
  client/app/vps/translations/Messages_en_CA.json
  client/app/vps/translations/Messages_en_GB.json
  client/app/vps/translations/Messages_en_SG.json
  client/app/vps/translations/Messages_en_US.json
  client/app/vps/translations/Messages_it_IT.json
  client/app/vps/translations/Messages_nl_NL.json
  client/app/vps/translations/Messages_pl_PL.json
  client/app/vps/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/openstack/users/openrc/translations/Messages_de_DE.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_ASIA.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_AU.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_CA.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_GB.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_SG.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_en_US.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_fi_FI.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_it_IT.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_lt_LT.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_nl_NL.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_pl_PL.json
  client/app/cloud/project/openstack/users/openrc/translations/Messages_pt_PT.json
  client/app/vps/translations/Messages_de_DE.json
  client/app/vps/translations/Messages_en_ASIA.json
  client/app/vps/translations/Messages_en_AU.json
  client/app/vps/translations/Messages_en_CA.json
  client/app/vps/translations/Messages_en_GB.json
  client/app/vps/translations/Messages_en_SG.json
  client/app/vps/translations/Messages_en_US.json
  client/app/vps/translations/Messages_fi_FI.json
  client/app/vps/translations/Messages_it_IT.json
  client/app/vps/translations/Messages_lt_LT.json
  client/app/vps/translations/Messages_nl_NL.json
  client/app/vps/translations/Messages_pl_PL.json
  client/app/vps/translations/Messages_pt_PT.json
Due: none

build(deps): upgrade ovh-ui-kit to v2.23.0
  package.json
  yarn.lock
Due: none

release v7.12.0
  CHANGELOG.md
  package.json
Due: none

release v7.12.1
  CHANGELOG.md
  package.json
Due: none

fix(nasha): typo in generated order url
  client/app/nasha/add/nasha-add.service.js
Due: eslint --fix

release v7.12.2
  CHANGELOG.md
  package.json
Due: none

fix(dbaas.logs.detail.account): trigger validation when pasting password
  client/app/dbaas/logs/detail/account/password/logs-account-password.html
  client/app/dbaas/logs/detail/account/setup/logs-account-setup.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(pci-menu): PCI menu entries revamp
  client/app/cloud/project/cloud-project.less
  client/components/navbar/navbar.service.js
  client/components/sidebar/products/project-sidebar.service.js
Due: eslint --fix, stylelint 'client/**/*.less' --fix

fix(iplb.configuration): batch API calls correctly
  client/app/iplb/configuration/iplb-configuration.controller.js
Due: eslint --fix

fix(iplb.configuration): display success message correctly
  client/app/iplb/configuration/iplb-configuration.service.js
Due: eslint --fix

fix(loadbalancer): remove typo in text
  client/app/cloud/project/compute/loadbalancer/translations/Messages_fr_FR.json
Due: none

refactor(cpc): remove unused text entries
  client/app/cloud/project/compute/translations/Messages_fr_FR.json
Due: none

fix(iplb.configuration): change oui-table to oui-datagrid
  client/app/iplb/configuration/iplb-configuration.controller.js
  client/app/iplb/configuration/iplb-configuration.html
  client/app/iplb/configuration/iplb-configuration.js
  client/app/iplb/configuration/iplb-configuration.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(service-helper): more choices to get error message
  client/app/helper/service-helper.service.js
Due: eslint --fix

fix(*): replace all "datacentre" by "datacenter"
  client/app/cloud/project/compute/infrastructure/privateNetwork/translations/Messages_fr_FR.json
  client/app/cloud/project/compute/loadbalancer/translations/Messages_fr_FR.json
  client/app/cloud/project/compute/translations/Messages_fr_FR.json
  client/app/cloud/project/storage/storage-add/translations/Messages_fr_FR.json
  client/app/cloud/project/storage/storage-details/translations/Messages_fr_FR.json
  client/app/cloud/project/storage/translations/Messages_fr_FR.json
  client/app/dbaas/dbaas-metrics/dashboard/translations/Messages_fr_FR.json
  client/app/iplb/frontends/translations/Messages_fr_FR.json
  client/app/iplb/serverFarm/translations/Messages_fr_FR.json
  client/app/nasha/add/translations/Messages_fr_FR.json
  client/app/veeam/dashboard/translations/Messages_fr_FR.json
  client/app/veeam/translations/Messages_fr_FR.json
  client/app/vps/translations/Messages_fr_FR.json
Due: none

feat(iplb.configuration): enhance view features and texts
  client/app/iplb/configuration/iplb-configuration.controller.js
  client/app/iplb/configuration/iplb-configuration.html
  client/app/iplb/configuration/iplb-configuration.service.js
  client/app/iplb/configuration/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(*): PCI support in APAC
  .DS_Store
  .vscode/settings.json
  client/app/cloud/project/cloud-project.html
  client/app/cloud/project/regions/regions.controller.js
  client/app/cloud/project/regions/regions.html
  client/app/cloud/project/regions/regions.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(update-vrack-flow): vrack automation
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
Due: eslint --fix

fix(i18n): add missing translations
  client/components/sidebar/translations/Messages_en_GB.json
Due: none

fix(components.navbar): handle subsidiaries without support
  client/components/navbar/navbar.service.js
Due: eslint --fix

feat(pci-menu): PCI menu entries revamp
  client/app/app.less
  client/app/onboarding/onboarding.html
  client/app/onboarding/onboarding.js
  client/app/onboarding/pci/pci.html
  client/app/onboarding/pci/pci.js
  client/app/onboarding/pci/pci.less
  client/app/onboarding/translations/Messages_fr_FR.json
  client/assets/images/onboarding/revamp-PCI.jpg
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(pci-menu): PCI menu entries revamp
  client/app/onboarding/pci/pci.html
  client/app/onboarding/pci/pci.less
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', stylelint 'client/**/*.less' --fix

feat(*): support APAC region in PCI
  client/app/cloud/project/compute/regions/regions.controller.js
  client/app/cloud/project/compute/regions/regions.html
  client/app/cloud/project/compute/regions/regions.js
  client/app/cloud/project/compute/regions/regions.less
  client/app/cloud/project/compute/regions/translations/Messages_en_GB.json
  client/app/cloud/project/regions/regions.controller.js
  client/app/cloud/project/regions/regions.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

added french translation file
  client/app/cloud/project/compute/regions/regions.controller.js
  client/app/cloud/project/compute/regions/translations/Messages_en_GB.json
  client/app/cloud/project/compute/regions/translations/Messages_fr_FR.json
Due: eslint --fix

removed vscode/settings.json file
  .vscode/settings.json
Due: none

removed regions.less file, not required
  client/app/cloud/project/compute/regions/regions.html
  client/app/cloud/project/compute/regions/regions.less
  client/app/cloud/project/compute/regions/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', stylelint 'client/**/*.less' --fix

upgraded ovh-api-services dependency to 3.28.0
  client/app/cloud/project/compute/regions/regions.controller.js
  package.json
Due: eslint --fix

upgraded ovh-api-services dependency to 3.28.0
  yarn.lock
Due: none

fixed review comments
  client/app/cloud/project/compute/regions/regions.controller.js
  client/app/cloud/project/compute/regions/regions.html
  client/app/cloud/project/compute/regions/regions.js
  client/app/cloud/project/compute/regions/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(components.navbar): remove some assistance menu items for FR
  navbar.service.js
Due: eslint --fix

feat(components.navbar): remove some assistance menu items for FR
  client/app/common/translations/Messages_fr_FR.json
  client/components/navbar/navbar.service.js
Due: eslint --fix

fixed review comments
  client/app/cloud/project/compute/regions/regions.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'
