Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore '**/noVNC/**' 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

feat(*): support NVIDIA GPU OS
  client/app/cloud/cloud.constants.js
  client/app/cloud/project/compute/infrastructure/image.service.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.html
  client/assets/images/cloud/apps/nvidia_ngc.png
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(cloud.project.onboarding): set right asset path
  client/app/cloud/project/onboarding/onboarding-pci.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

release v7.15.1
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/dbaas/logs/translations/Messages_it_IT.json
Due: none

fix(i18n): translations uses now fallback correctly
  package.json
  yarn.lock
Due: none

release v7.15.2
  CHANGELOG.md
  package.json
Due: none

feat(translations): text messages for APAC trafic limit
  client/components/cloud/project/billing/translations/Messages_fr_FR.json
Due: none

fix(cloud.project.billing): add new translations for APAC traffic limit (#1281)
  client/components/cloud/project/billing/translations/Messages_fr_FR.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/translations/Messages_pl_PL.json
  client/app/cloud/project/compute/translations/Messages_pt_PT.json
  client/app/cloud/project/translations/Messages_pl_PL.json
  client/app/cloud/project/translations/Messages_pt_PT.json
Due: none

fix(i18n): translations use now correctly fallback language
  navbar.service.js
Due: eslint --fix

fix(i18n): translations use now correctly fallback language
  client/app/app.js
  client/components/navbar/navbar.service.js
  package.json
  yarn.lock
Due: eslint --fix

release v7.15.3
  CHANGELOG.md
  package.json
Due: none

fix(iplb): ssl order are now displayed correctly
  package.json
  yarn.lock
Due: none

release v7.15.4
  CHANGELOG.md
  package.json
Due: none

feat(vps.upgrade): wip: use agora to upgrade VPS
  client/app/cloud/iaas.js
  client/app/config/all.ca.js
  client/app/config/all.eu.js
  client/app/config/all.us.js
  client/app/vps/translations/Messages_fr_FR.json
  client/app/vps/upgrade/translations/Messages_fr_FR.json
  client/app/vps/upgrade/vps-upgrade.controller.js
  client/app/vps/upgrade/vps-upgrade.html
  client/app/vps/upgrade/vps-upgrade.routes.js
  client/app/vps/vps.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(vps.disk.order): wip: create state and distinct views
  client/app/vps/additional-disk/order/legacy/additional-disk-option.filter.js
  client/app/vps/additional-disk/order/legacy/vps-order-additional-disk-order-legacy.controller.js
  client/app/vps/additional-disk/order/legacy/vps-order-additional-disk-order-legacy.html
  client/app/vps/additional-disk/order/vps-order-additional-disk-order.controller.js
  client/app/vps/additional-disk/order/vps-order-additional-disk-order.html
  client/app/vps/additional-disk/order/vps-order-additional-disk-order.routes.js
  client/app/vps/additional-disk/order/vps-order-additional-disk.html
  client/app/vps/additional-disk/vps-additional-disk.html
  client/app/vps/additional-disk/vps-additional-disk.routes.js
  client/app/vps/vps.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(i18n): restore i18n fallback
  package.json
  yarn.lock
Due: none

fix(i18n): restore i18n fallback (#1286)
  package.json
  yarn.lock
Due: none

release v7.15.5
  CHANGELOG.md
  package.json
Due: none

feat(vps.upgrade): wip: agora upgrade
  client/app/common/translations/Messages_fr_FR.json
  client/app/vps/upgrade/translations/Messages_fr_FR.json
  client/app/vps/upgrade/vps-upgrade.controller.js
  client/app/vps/upgrade/vps-upgrade.html
  client/app/vps/upgrade/vps-upgrade.less
  client/app/vps/vps.less
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(i18n): add missing translations
  client/app/dbaas/logs/translations/Messages_pl_PL.json
Due: none

feat(vps.upgrade): vps upgrade through Agora for ssd types
  client/app/vps/upgrade/translations/Messages_fr_FR.json
  client/app/vps/upgrade/vps-upgrade.controller.js
  client/app/vps/upgrade/vps-upgrade.html
  client/app/vps/upgrade/vps-upgrade.routes.js
  client/app/vps/vps.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(cloud): fix IP Failover order
  client/app/cloud/project/compute/infrastructure/ip/failover/buy/cloud-project-compute-infrastructure-ip-failover-buy.controller.js
Due: eslint --fix

feat(vps.upgrade): use agora catalog to upgrade VPS
  client/app/vps/upgrade/translations/Messages_fr_FR.json
  client/app/vps/upgrade/vps-upgrade.constants.js
  client/app/vps/upgrade/vps-upgrade.controller.js
  client/app/vps/upgrade/vps-upgrade.html
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(cloud): fix IP Failover order
  client/app/cloud/project/compute/infrastructure/ip/failover/buy/cloud-project-compute-infrastructure-ip-failover-buy.controller.js
  client/app/cloud/project/compute/infrastructure/ip/failover/buy/cloud-project-compute-infrastructure-ip-failover-buy.html
  client/app/cloud/project/compute/infrastructure/ip/failover/buy/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(vps.additional-disk): use agora for order a disk
  client/app/vps/additional-disk/order/translations/Messages_fr_FR.json
  client/app/vps/additional-disk/order/vps-order-additional-disk-order.controller.js
  client/app/vps/additional-disk/order/vps-order-additional-disk-order.html
  client/app/vps/additional-disk/order/vps-order-additional-disk-order.routes.js
  client/app/vps/additional-disk/vps-additional-disk.routes.js
  client/app/vps/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

build(deps): remove unused ovh-angular-doc-url dependency
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

feat(kube-nodes): name field addition
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/nodes/add/kubernetes-nodes-add.controller.js
  client/app/kubernetes/nodes/add/kubernetes-nodes-add.html
  client/app/kubernetes/nodes/kubernetes-nodes.controller.js
  client/app/kubernetes/nodes/kubernetes-nodes.html
  client/app/kubernetes/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix: code review
  client/app/error/translations/Messages_fr_FR.json
Due: none

build(deps): remove unused ovh-angular-doc-url dependency (#1295)
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

feat(vps.snapshot): migrate snapshot order to agora
  client/app/error/error.controller.js
  client/app/vps/additional-disk/order/legacy/vps-order-additional-disk-order-legacy.controller.js
  client/app/vps/dashboard/vps-dashboard.controller.js
  client/app/vps/snapshot/order/legacy/vps-snapshot-order-legacy.controller.js
  client/app/vps/snapshot/order/legacy/vps-snapshot-order-legacy.html
  client/app/vps/snapshot/order/translations/Messages_fr_FR.json
  client/app/vps/snapshot/order/vps-snapshot-order.controller.js
  client/app/vps/snapshot/order/vps-snapshot-order.html
  client/app/vps/snapshot/order/vps-snapshot-order.routes.js
  client/app/vps/snapshot/vps-snapshot.html
  client/app/vps/snapshot/vps-snapshot.routes.js
  client/app/vps/translations/Messages_fr_FR.json
  client/app/vps/upgrade/vps-upgrade.routes.js
  client/app/vps/vps.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

Revert "build(deps): remove unused ovh-angular-doc-url dependency (#1295)"
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

feat(vps.windows.order): migrate windows order to agora
  client/app/vps/dashboard/vps-dashboard.controller.js
  client/app/vps/translations/Messages_fr_FR.json
  client/app/vps/vps.js
  client/app/vps/windows/order/legacy/vps-windows-order-legacy.controller.js
  client/app/vps/windows/order/legacy/vps-windows-order-legacy.html
  client/app/vps/windows/order/translations/Messages_fr_FR.json
  client/app/vps/windows/order/vps-windows-order.controller.js
  client/app/vps/windows/order/vps-windows-order.html
  client/app/vps/windows/order/vps-windows-order.routes.js
  client/app/vps/windows/vps-windows.html
  client/app/vps/windows/vps-windows.routes.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix: add ngInject and bump ovh-api-services
  client/app/vps/vps.js
  package.json
  yarn.lock
Due: eslint --fix

feat(vps.veeam): migrate order to agora
  client/app/vps/translations/Messages_fr_FR.json
  client/app/vps/veeam/order/legacy/vps-veeam-order-legacy.controller.js
  client/app/vps/veeam/order/legacy/vps-veeam-order-legacy.html
  client/app/vps/veeam/order/translations/Messages_fr_FR.json
  client/app/vps/veeam/order/vps-veeam-order.controller.js
  client/app/vps/veeam/order/vps-veeam-order.html
  client/app/vps/veeam/order/vps-veeam-order.routes.js
  client/app/vps/veeam/vps-veeam.html
  client/app/vps/veeam/vps-veeam.routes.js
  client/app/vps/vps.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(vps.backupstorage): migrate order to agora
  client/app/vps/backup-storage/order/legacy/vps-backup-storage-order-legacy.controller.js
  client/app/vps/backup-storage/order/legacy/vps-backup-storage-order-legacy.html
  client/app/vps/backup-storage/order/translations/Messages_fr_FR.json
  client/app/vps/backup-storage/order/vps-backup-storage-order.controller.js
  client/app/vps/backup-storage/order/vps-backup-storage-order.html
  client/app/vps/backup-storage/order/vps-backup-storage-order.routes.js
  client/app/vps/backup-storage/vps-backup-storage.html
  client/app/vps/backup-storage/vps-backup-storage.routes.js
  client/app/vps/translations/Messages_fr_FR.json
  client/app/vps/veeam/order/translations/Messages_fr_FR.json
  client/app/vps/vps.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(server): create server
  client/app/cloud/project/compute/infrastructure/region.service.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.service.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix: add missing @ngInject
  client/app/vps/upgrade/legacy/vps-upgrade-legacy.controller.js
  client/app/vps/veeam/order/legacy/vps-veeam-order-legacy.controller.js
Due: eslint --fix

fix: bad ngInject
  client/app/vps/backup-storage/order/legacy/vps-backup-storage-order-legacy.controller.js
  client/app/vps/veeam/order/legacy/vps-veeam-order-legacy.controller.js
Due: eslint --fix
