Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore '**/noVNC/**' 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

refactor(ordered-hash): move ordered-hash to cuc
  client/components/cloud/project/compute/infrastructure/internet/internet.factory.js
  client/components/cloud/project/compute/infrastructure/vrack/vrack.factory.js
  client/components/orderedHash/orderedHash.factory.js
  package.json
  yarn.lock
Due: eslint --fix

fix(kubernetes): exit beta prefix
  client/app/kubernetes/translations/Messages_cs_CZ.json
  client/app/kubernetes/translations/Messages_de_DE.json
  client/app/kubernetes/translations/Messages_en_ASIA.json
  client/app/kubernetes/translations/Messages_en_AU.json
  client/app/kubernetes/translations/Messages_en_CA.json
  client/app/kubernetes/translations/Messages_en_GB.json
  client/app/kubernetes/translations/Messages_en_SG.json
  client/app/kubernetes/translations/Messages_en_US.json
  client/app/kubernetes/translations/Messages_es_ES.json
  client/app/kubernetes/translations/Messages_es_US.json
  client/app/kubernetes/translations/Messages_fi_FI.json
  client/app/kubernetes/translations/Messages_fr_CA.json
  client/app/kubernetes/translations/Messages_fr_FR.json
  client/app/kubernetes/translations/Messages_it_IT.json
  client/app/kubernetes/translations/Messages_lt_LT.json
  client/app/kubernetes/translations/Messages_nl_NL.json
  client/app/kubernetes/translations/Messages_pl_PL.json
  client/app/kubernetes/translations/Messages_pt_PT.json
Due: none

fix(kubernetes): exit beta prefix
  translations/Messages_cs_CZ.json
  translations/Messages_de_DE.json
  translations/Messages_en_ASIA.json
  translations/Messages_en_AU.json
  translations/Messages_en_CA.json
  translations/Messages_en_GB.json
  translations/Messages_en_SG.json
  translations/Messages_en_US.json
  translations/Messages_es_ES.json
  translations/Messages_es_US.json
  translations/Messages_fi_FI.json
  translations/Messages_fr_CA.json
  translations/Messages_fr_FR.json
  translations/Messages_it_IT.json
  translations/Messages_lt_LT.json
  translations/Messages_nl_NL.json
  translations/Messages_pl_PL.json
  translations/Messages_pt_PT.json
Due: none

refactor(vrack): move vrack service to cuc (#1331)
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
  client/app/iplb/home/iplb-home.controller.js
  client/app/iplb/vrack/iplb-vrack.controller.js
  client/app/vrack/add/vrack-add.controller.js
  client/app/vrack/modals/selectVrack.controller.js
  client/app/vrack/modals/selectVrack.html
  client/app/vrack/vrack.controller.js
  client/app/vrack/vrack.service.js
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor: move feature availability service to cuc
  client/app/cloud/offer/cloud-offer.controller.js
  client/app/cloud/project/add/cloud-project-add.controller.js
  client/app/cloud/project/compute/cloud-project-compute.controller.js
  client/app/dbaas/dbaas-metrics/dashboard/metrics-dashboard.controller.js
  client/app/deskaas/deskaas-details/deskaas-details.controller.js
  client/app/home/home.controller.js
  client/app/iplb/home/iplb-home.controller.js
  client/app/veeam-enterprise/dashboard/veeam-enterprise-dashboard.controller.js
  client/app/veeam/dashboard/veeam-dashboard.controller.js
  client/app/vps/vps.js
  client/components/featureAvailability/featureAvailability.service.js
  client/components/navbar/navbar.service.js
  client/components/sidebar/sidebar-helper.service.js
  client/components/sidebar/sidebar-order.service.js
  client/components/sidebar/sidebar-products.service.js
  package.json
  yarn.lock
Due: eslint --fix

fix(i18n): add missing translations
  client/app/kubernetes/translations/Messages_pt_PT.json
Due: none

fix(i18n): add missing translations
  translations/Messages_pt_PT.json
Due: none

fix(cloud.logs): i18n typo
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
Due: none

feat(cloud.logs): queryFilter on alert conditions
  client/app/dbaas/logs/detail/streams/alerts/add/alerts-add.html
  client/app/dbaas/logs/detail/streams/alerts/streams-alerts.service.js
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(cloud.logs): capped plan
  client/app/dbaas/logs/detail/home/account/logs-home-account.html
  client/app/dbaas/logs/detail/home/capped/logs-home-capped.controller.js
  client/app/dbaas/logs/detail/home/capped/logs-home-capped.html
  client/app/dbaas/logs/detail/home/capped/logs-home-capped.modal.controller.js
  client/app/dbaas/logs/detail/home/logs-home.controller.js
  client/app/dbaas/logs/detail/home/logs-home.html
  client/app/dbaas/logs/detail/home/logs-home.js
  client/app/dbaas/logs/detail/home/logs-home.service.js
  client/app/dbaas/logs/detail/streams/alerts/streams-alerts.service.js
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(cloud.logs): typo
  client/app/dbaas/logs/detail/home/logs-home.service.js
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
Due: eslint --fix

fix(cloud.logs): frederic.espiau review
  client/app/dbaas/logs/detail/home/logs-home.service.js
Due: eslint --fix

fix(cloud.project.billing): fix consumption chart hiding on alert delete
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
Due: eslint --fix

refactor(cloud.project.billing): extract chart init from alert fetching
  client/app/cloud/project/billing/consumption/estimate/cloud-project-billing-consumption-estimate.controller.js
Due: eslint --fix

style(cloud.project.billing): rename services file
  client/app/cloud/project/billing/cloud-project-billing-agora.service.js
  client/app/cloud/project/billing/cloud-project-billing-legacy.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
Due: eslint --fix

style(cloud.project.billing): rename controller
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.html
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

style(cloud.project.billing): sort parameters
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
Due: eslint --fix

refactor(cloud.project.billing): switch function to a class
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
Due: eslint --fix

style(components.billing.instance-list): sort parameters
  client/components/cloud/project/billing/instance-list/billing-instance-list.component.controller.js
Due: eslint --fix

refactor(components.billing.instance-list): switch to a class
  client/components/cloud/project/billing/instance-list/billing-instance-list.component.controller.js
Due: eslint --fix

fix(i18n): add missing translations
  translations/Messages_de_DE.json
  translations/Messages_en_ASIA.json
  translations/Messages_en_AU.json
  translations/Messages_en_GB.json
  translations/Messages_en_SG.json
  translations/Messages_es_ES.json
  translations/Messages_fi_FI.json
  translations/Messages_it_IT.json
  translations/Messages_lt_LT.json
  translations/Messages_nl_NL.json
Due: none

fix(i18n): add missing translations
  client/app/kubernetes/translations/Messages_de_DE.json
  client/app/kubernetes/translations/Messages_en_ASIA.json
  client/app/kubernetes/translations/Messages_en_AU.json
  client/app/kubernetes/translations/Messages_en_GB.json
  client/app/kubernetes/translations/Messages_en_SG.json
  client/app/kubernetes/translations/Messages_es_ES.json
  client/app/kubernetes/translations/Messages_fi_FI.json
  client/app/kubernetes/translations/Messages_it_IT.json
  client/app/kubernetes/translations/Messages_lt_LT.json
  client/app/kubernetes/translations/Messages_nl_NL.json
Due: none

fix(i18n): add missing translations
  client/app/common/translations/Messages_de_DE.json
  client/app/common/translations/Messages_es_ES.json
  client/app/kubernetes/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations
  translations/Messages_pl_PL.json
Due: none

Revert "feat(kube): add order in sidebar"
  client/app/config/all.ca.js
  client/app/config/all.eu.js
  client/app/config/all.us.js
  client/components/featureAvailability/featureAvailability.service.js
  client/components/sidebar/products/kubernetes-sidebar.service.js
  client/components/sidebar/sidebar-order.service.js
  client/components/sidebar/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: eslint --fix

release v7.18.0
  CHANGELOG.md
  package.json
Due: none

fix(html): hide unavailable flavors
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

Revert "Revert "feat(kube): add order in sidebar""
  client/app/config/all.ca.js
  client/app/config/all.eu.js
  client/app/config/all.us.js
  client/components/featureAvailability/featureAvailability.service.js
  client/components/sidebar/products/kubernetes-sidebar.service.js
  client/components/sidebar/sidebar-order.service.js
  client/components/sidebar/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: eslint --fix

release v7.18.1
  CHANGELOG.md
  package.json
Due: none

fix(i18n): retrieve translations
  client/components/sidebar/translations/Messages_cs_CZ.json
  client/components/sidebar/translations/Messages_de_DE.json
  client/components/sidebar/translations/Messages_en_ASIA.json
  client/components/sidebar/translations/Messages_en_AU.json
  client/components/sidebar/translations/Messages_en_CA.json
  client/components/sidebar/translations/Messages_en_GB.json
  client/components/sidebar/translations/Messages_en_SG.json
  client/components/sidebar/translations/Messages_en_US.json
  client/components/sidebar/translations/Messages_es_ES.json
  client/components/sidebar/translations/Messages_es_US.json
  client/components/sidebar/translations/Messages_fi_FI.json
  client/components/sidebar/translations/Messages_fr_CA.json
  client/components/sidebar/translations/Messages_it_IT.json
  client/components/sidebar/translations/Messages_lt_LT.json
  client/components/sidebar/translations/Messages_nl_NL.json
  client/components/sidebar/translations/Messages_pl_PL.json
  client/components/sidebar/translations/Messages_pt_PT.json
Due: none

release v7.18.2
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations
  client/app/kubernetes/translations/Messages_pl_PL.json
Due: none

fix(i18n): add missing translations
  client/app/common/translations/Messages_it_IT.json
  client/app/common/translations/Messages_pt_PT.json
Due: none

fix(cloud-project): translation fix
  client/app/cloud/project/translations/Messages_fr_FR.json
Due: none

refactor: move feature availability service to cuc (#1333)
  client/app/cloud/offer/cloud-offer.controller.js
  client/app/cloud/project/add/cloud-project-add.controller.js
  client/app/cloud/project/compute/cloud-project-compute.controller.js
  client/app/dbaas/dbaas-metrics/dashboard/metrics-dashboard.controller.js
  client/app/deskaas/deskaas-details/deskaas-details.controller.js
  client/app/home/home.controller.js
  client/app/iplb/home/iplb-home.controller.js
  client/app/veeam-enterprise/dashboard/veeam-enterprise-dashboard.controller.js
  client/app/veeam/dashboard/veeam-dashboard.controller.js
  client/app/vps/vps.js
  client/components/featureAvailability/featureAvailability.service.js
  client/components/navbar/navbar.service.js
  client/components/sidebar/sidebar-helper.service.js
  client/components/sidebar/sidebar-order.service.js
  client/components/sidebar/sidebar-products.service.js
  package.json
  yarn.lock
Due: eslint --fix
