Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

build(htmlhint): add htmlhint configuration
  .htmlhintrc
  .lintstagedrc.json
  package.json
  yarn.lock
Due: none

feat(pci): add snapshot tasks
  client/app/cloud/cloud.js
  client/app/cloud/project/compute/cloud-project-compute.html
  client/app/cloud/project/compute/cloud-project-compute.service.js
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.js
  client/app/cloud/project/compute/infrastructure/translations/Messages_fr_FR.xml
  client/app/cloud/project/compute/tasks/cloud-project-compute-tasks.constant.js
  client/app/cloud/project/compute/tasks/cloud-project-compute-tasks.controller.js
  client/app/cloud/project/compute/tasks/cloud-project-compute-tasks.html
  client/app/cloud/project/compute/tasks/cloud-project-compute-tasks.routes.js
  client/app/cloud/project/compute/tasks/create/cloud-project-compute-tasks-create.controller.js
  client/app/cloud/project/compute/tasks/create/cloud-project-compute-tasks-create.html
  client/app/cloud/project/compute/tasks/create/cloud-project-compute-tasks-create.routes.js
  client/app/cloud/project/compute/tasks/delete/cloud-project-compute-tasks-delete.controller.js
  client/app/cloud/project/compute/tasks/delete/cloud-project-compute-tasks-delete.html
  client/app/cloud/project/compute/tasks/onboarding/cloud-project-compute-tasks-onboarding.controller.js
  client/app/cloud/project/compute/tasks/onboarding/cloud-project-compute-tasks-onboarding.html
  client/app/cloud/project/compute/tasks/onboarding/cloud-project-compute-tasks.routes.js
  client/app/cloud/project/compute/tasks/translations/Messages_fr_FR.xml
  client/app/cloud/project/compute/translations/Messages_fr_FR.xml
  client/components/validator/crontabExpression.factory.js
  client/components/validator/validator.config.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(pci): use components for tasks
  client/app/cloud/project/compute/tasks/cloud-project-compute-tasks.component.js
  client/app/cloud/project/compute/tasks/cloud-project-compute-tasks.routes.js
  client/app/cloud/project/compute/tasks/create/cloud-project-compute-tasks-create.component.js
  client/app/cloud/project/compute/tasks/create/cloud-project-compute-tasks-create.controller.js
  client/app/cloud/project/compute/tasks/create/cloud-project-compute-tasks-create.html
  client/app/cloud/project/compute/tasks/create/cloud-project-compute-tasks-create.routes.js
  client/app/cloud/project/compute/tasks/onboarding/cloud-project-compute-tasks-onboarding.component.js
  client/app/cloud/project/compute/tasks/onboarding/cloud-project-compute-tasks.routes.js
  client/app/cloud/project/compute/tasks/translations/Messages_fr_FR.xml
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(pci.tasks): add step to choose task name
  client/app/cloud/cloud.js
  client/app/cloud/project/compute/cloud-project-compute.controller.js
  client/app/cloud/project/compute/cloud-project-compute.html
  client/app/cloud/project/compute/infrastructure/diagram/cloud-project-compute-infrastructure-diagram.html
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.controller.js
  client/app/cloud/project/compute/infrastructure/list/cloud-project-compute-infrastructure-list.html
  client/app/cloud/project/compute/infrastructure/translations/Messages_fr_FR.xml
  client/app/cloud/project/compute/tasks/cloud-project-compute-tasks.controller.js
  client/app/cloud/project/compute/tasks/cloud-project-compute-tasks.html
  client/app/cloud/project/compute/tasks/create/cloud-project-compute-tasks-create.controller.js
  client/app/cloud/project/compute/tasks/create/cloud-project-compute-tasks-create.html
  client/app/cloud/project/compute/tasks/delete/cloud-project-compute-tasks-delete.html
  client/app/cloud/project/compute/tasks/onboarding/cloud-project-compute-tasks-onboarding.controller.js
  client/app/cloud/project/compute/tasks/onboarding/cloud-project-compute-tasks-onboarding.html
  client/app/cloud/project/compute/tasks/translations/Messages_fr_FR.xml
  client/app/cloud/project/compute/translations/Messages_fr_FR.xml
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(pci.tasks): add subsection in sidebar
  client/components/sidebar/products/project-sidebar.service.js
  client/components/sidebar/translations/Messages_fr_FR.xml
Due: eslint --fix

style(package.json): sort entries
  package.json
Due: none

fix(i18n): retrieve translations
  translations/Messages_en_CA.xml
  translations/Messages_en_US.xml
  translations/Messages_fr_CA.xml
  translations/Messages_pl_PL.xml
Due: none

refactor(stylelint): switch to json format as configuration file
  .stylelintrc.json
Due: none

refactor: use @ovh-ux/translate-async-loader
  client/app/app.js
  client/app/async-loader.factory.js
  package.json
  yarn.lock
Due: eslint --fix

build(deps): upgrade manager-webpack-config to v2.4.0
  package.json
  yarn.lock
Due: none

fix(project.compute): apply eslint rules
  client/app/cloud/project/compute/infrastructure/privateNetwork/dialog/cloud-project-compute-infrastructure-privateNetwork-dialog.service.js
  client/app/cloud/project/compute/snapshot/cloud-project-compute-snapshot-price.service.js
Due: eslint --fix

build(deps): bump manager-webpack-config to v2.4.4
  yarn.lock
Due: none

feat(navbar): add tracking for assistance and notifications
  navbar-notification.service.js
  navbar.service.js
Due: eslint --fix

feat(navbar): add tracking for assistance and notifications
  client/components/navbar/navbar-notification.service.js
  client/components/navbar/navbar.service.js
Due: eslint --fix

fix(deps): upgrade manager-webpack-config to v2.4.5
  yarn.lock
Due: none

fix(deps): update manager-webpack-config to v2.4.6
  package.json
  yarn.lock
Due: none

fix(deps): update translate-async-loader to v1.0.5
  package.json
  yarn.lock
Due: none

style(navbar): animate notification icon
  client/app/common/less/navbar.less
  client/components/navbar/navbar-notification.service.js
Due: eslint --fix, stylelint 'client/**/*.less' --fix

feat(iplb.farm.probe): add force SSL option for HTTP probe
  client/app/iplb/serverFarm/iplb-server-farm-edit.controller.js
  client/app/iplb/serverFarm/preview/iplb-server-farm-preview.html
  client/app/iplb/serverFarm/probe/iplb-server-farm-probe.html
  client/app/iplb/serverFarm/translations/Messages_fr_FR.xml
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

style(navbar): animate notification icon
  navbar-notification.service.js
Due: eslint --fix

fix(deps): upgrade ovh-ui-kit to v2.22.0
  package.json
  yarn.lock
Due: none

fix(i18n): submit translations
  client/app/cloud/project/compute/infrastructure/translations/Messages_fr_FR.xml
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/translations/Messages_fr_FR.xml
  client/app/iplb/serverFarm/translations/Messages_fr_FR.xml
Due: none

fix(i18n): retrieve translations
  translations/Messages_cs_CZ.xml
  translations/Messages_de_DE.xml
  translations/Messages_en_ASIA.xml
  translations/Messages_en_AU.xml
  translations/Messages_en_CA.xml
  translations/Messages_en_GB.xml
  translations/Messages_en_SG.xml
  translations/Messages_en_US.xml
  translations/Messages_es_ES.xml
  translations/Messages_es_US.xml
  translations/Messages_fi_FI.xml
  translations/Messages_fr_CA.xml
  translations/Messages_it_IT.xml
  translations/Messages_lt_LT.xml
  translations/Messages_nl_NL.xml
  translations/Messages_pl_PL.xml
  translations/Messages_pt_PT.xml
Due: none

fix(deps): upgrade ovh-angular-otrs to v6.3.0
  package.json
  yarn.lock
Due: none

release v7.9.0
  CHANGELOG.md
  package.json
Due: none

docs(readme): update prerequisites
  README.md
Due: none

fix(load-balancer): ssl certificate load
  client/app/iplb/frontends/iplb-frontends-edit.controller.js
Due: eslint --fix

feat(cloud.project): Delete instance name
  client/app/cloud/project/compute/infrastructure/virtualMachine/delete/cloud-project-compute-infrastructure-virtual-machine-delete.controller.js
  client/app/cloud/project/compute/infrastructure/virtualMachine/delete/cloud-project-compute-infrastructure-virtual-machine-delete.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/delete/translations/Messages_fr_FR.xml
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

style: move CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Due: none

feat(navbar.user): add tracking on user menu
  client/components/navbar/navbar.service.js
Due: eslint --fix

fix(deps): update manager-webpack-config to v2.4.7
  package.json
  yarn.lock
Due: none

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
