Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat(pci-menu): PCI menu entries revamp
  client/app/onboarding/pci/pci.html
  client/app/onboarding/pci/pci.less
  client/assets/images/onboarding/compute-storage.jpg
  client/assets/images/onboarding/gestion-tech-admin.jpg
  client/assets/images/onboarding/openstack.jpg
  client/assets/images/onboarding/pay-as-you-go.jpg
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', stylelint 'client/**/*.less' --fix

feat(pci-menu): PCI menu entries revamp
  client/app/onboarding/pci/pci.less
Due: stylelint 'client/**/*.less' --fix

feat(update-vrack-flow): vrack automation
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.html
  client/app/cloud/project/compute/infrastructure/privateNetwork/translations/Messages_fr_FR.json
  client/app/vrack/modals/selectVrack.controller.js
  client/app/vrack/vrack.service.js
  client/assets/.DS_Store
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(pci-menu): PCI menu entries revamp
  client/app/onboarding/pci/pci.controller.js
  client/app/onboarding/pci/pci.html
  client/app/onboarding/pci/pci.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

build(deps): upgrade stylelint to v9.9.0
  package.json
  yarn.lock
Due: none

feat(pci-menu): PCI menu entries revamp
  client/app/onboarding/pci/pci.html
  client/assets/images/onboarding/compute-storage.jpg
  client/assets/images/onboarding/compute-storage_uk.jpg
  client/assets/images/onboarding/gestion-tech-admin.jpg
  client/assets/images/onboarding/gestion-tech-admin_uk.jpg
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(update-vrack-flow): vrack automation
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.html
  client/app/vrack/vrack.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(pci-menu): PCI menu entries revamp
  client/app/onboarding/pci/pci.html
  client/app/onboarding/pci/pci.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(update-vrack-flow): vrack automation
  client/app/vrack/modals/selectVrack.controller.js
  client/app/vrack/modals/translations/Messages_fr_FR.json
  client/app/vrack/vrack.service.js
  client/assets/.DS_Store
Due: eslint --fix

fixed review comments
  client/app/cloud/project/compute/regions/regions.controller.js
Due: eslint --fix

fixed review comments
  client/app/cloud/project/compute/regions/regions.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(kubernetes): rename option
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.html
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/kubernetes-service.routes.js
  client/app/kubernetes/service/rename/kubernetes-service-rename.controller.js
  client/app/kubernetes/service/rename/kubernetes-service-rename.html
  client/app/kubernetes/service/rename/kubernetes-service-rename.modal.controller.js
  client/app/kubernetes/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(iplb): handle datacenters without running tasks
  client/app/iplb/configuration/iplb-configuration.controller.js
  client/app/iplb/configuration/iplb-configuration.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(*): support APAC region in PCI
  .DS_Store
  .gitignore
  client/app/app.less
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
  client/app/cloud/project/compute/regions/regions.html
  client/app/cloud/project/compute/regions/regions.less
  client/app/cloud/project/compute/regions/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', stylelint 'client/**/*.less' --fix

feat(update-vrack-flow): vrack automation
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(update-vrack-flow): vrack automation
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
Due: eslint --fix

fix(cloud.privatenetwork): apply right default loader state
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
Due: eslint --fix

refactor(babel): remove unused configuration and dependencies
  .babelrc
  package.json
  yarn.lock
Due: none

feat(kubernetes): rename option
  client/app/kubernetes/kubernetes.controller.js
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/service/kubernetes-service.routes.js
  client/app/kubernetes/service/rename/kubernetes-service-rename.controller.js
  client/app/kubernetes/service/rename/kubernetes-service-rename.html
  client/app/kubernetes/service/rename/kubernetes-service-rename.modal.controller.js
  client/app/kubernetes/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(cloud.privatenetwork): apply right default loader state (#1243)
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
Due: eslint --fix

release v7.12.3
  CHANGELOG.md
  package.json
Due: none

feat(update-vrack-flow): vrack automation (#1240)
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.directive.js
  client/app/cloud/project/compute/infrastructure/privateNetwork/cloud-project-compute-infrastructure-privateNetwork-list.html
  client/app/cloud/project/compute/infrastructure/privateNetwork/translations/Messages_fr_FR.json
  client/app/vrack/modals/selectVrack.controller.js
  client/app/vrack/modals/translations/Messages_fr_FR.json
  client/app/vrack/vrack.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(kubernetes): rename option (#1241)
  client/app/kubernetes/kubernetes.constants.js
  client/app/kubernetes/kubernetes.controller.js
  client/app/kubernetes/kubernetes.html
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/service/kubernetes-service.controller.js
  client/app/kubernetes/service/kubernetes-service.html
  client/app/kubernetes/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(kubernetes): rename option (#1241)
  kubernetes.constants.js
  kubernetes.controller.js
  kubernetes.html
  kubernetes.service.js
  service/kubernetes-service.controller.js
  service/kubernetes-service.html
  translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat: support APAC region in PCI
  client/app/app.less
  client/app/cloud/project/compute/cloud-project-compute.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
  client/app/cloud/project/compute/regions/regions.controller.js
  client/app/cloud/project/compute/regions/regions.html
  client/app/cloud/project/compute/regions/regions.js
  client/app/cloud/project/compute/regions/regions.less
  client/app/cloud/project/compute/regions/translations/Messages_fr_FR.json
  client/components/sidebar/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

feat: support APAC region in PCI (#1242)
  client/app/app.less
  client/app/cloud/project/compute/cloud-project-compute.html
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/cloud-project-compute-infrastructure-virtualMachine-add.html
  client/app/cloud/project/compute/regions/regions.controller.js
  client/app/cloud/project/compute/regions/regions.html
  client/app/cloud/project/compute/regions/regions.js
  client/app/cloud/project/compute/regions/regions.less
  client/app/cloud/project/compute/regions/translations/Messages_fr_FR.json
  client/components/sidebar/translations/Messages_fr_FR.json
  package.json
  yarn.lock
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(cloud.logs): translation & ux updates
  client/app/dbaas/logs/detail/aliases/logs-aliases.service.js
  client/app/dbaas/logs/detail/home/logs-home.html
  client/app/dbaas/logs/detail/index/logs-index.controller.js
  client/app/dbaas/logs/detail/index/logs-index.html
  client/app/dbaas/logs/detail/index/logs-index.service.js
  client/app/dbaas/logs/detail/inputs/add/configure/logs-inputs-add-configure.html
  client/app/dbaas/logs/detail/inputs/console/logs-inputs-console.html
  client/app/dbaas/logs/detail/logs-helper.service.js
  client/app/dbaas/logs/detail/roles/edit-permissions/edit-permissions.html
  client/app/dbaas/logs/detail/roles/members/logs-roles-members.html
  client/app/dbaas/logs/detail/streams/add/logs-streams-add.html
  client/app/dbaas/logs/detail/streams/alerts/add/alerts-add.html
  client/app/dbaas/logs/detail/streams/archives/streams-archives.html
  client/app/dbaas/logs/detail/streams/follow/streams-follow.html
  client/app/dbaas/logs/logs-constants.js
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(pci-menu): PCI menu entries revamp
  client/app/cloud/project/cloud-project.controller.js
  client/app/onboarding/pci/pci.controller.js
  client/app/onboarding/pci/pci.html
  client/app/onboarding/pci/pci.js
  client/app/onboarding/pci/pci.less
  client/app/onboarding/pci/pci.modal.controller.js
  client/app/onboarding/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(cloud.logs): antleblanc review
  client/app/dbaas/logs/detail/home/logs-home.controller.js
  client/app/dbaas/logs/detail/roles/edit-permissions/edit-permissions.html
  client/app/dbaas/logs/detail/roles/members/logs-roles-members.html
  client/app/dbaas/logs/detail/streams/archives/streams-archives.html
  client/app/dbaas/logs/detail/streams/follow/streams-follow.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(welcome): change message for FR subsidiary
  client/app/common/translations/Messages_fr_FR.json
  client/app/home/home.controller.js
  client/app/home/home.html
  client/app/home/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(home): move to Component
  client/app/home/home.component.js
  client/app/home/home.controller.js
  client/app/home/home.routes.js
Due: eslint --fix

refactor(home): use Pascal Precht instead of Angular binding
  client/app/home/home.controller.js
  client/app/home/home.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(cloud.logs): teddy.kaczanowski review
  client/app/dbaas/logs/detail/home/formatsports/logs-home-formatsports.html
  client/app/dbaas/logs/detail/home/logs-home.html
  client/app/dbaas/logs/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(cloud.logs): update some translations and improve ui (#1249)
  client/app/dbaas/logs/detail/aliases/logs-aliases.service.js
  client/app/dbaas/logs/detail/home/formatsports/logs-home-formatsports.html
  client/app/dbaas/logs/detail/home/logs-home.controller.js
  client/app/dbaas/logs/detail/home/logs-home.html
  client/app/dbaas/logs/detail/index/logs-index.controller.js
  client/app/dbaas/logs/detail/index/logs-index.html
  client/app/dbaas/logs/detail/index/logs-index.service.js
  client/app/dbaas/logs/detail/inputs/add/configure/logs-inputs-add-configure.html
  client/app/dbaas/logs/detail/inputs/console/logs-inputs-console.html
  client/app/dbaas/logs/detail/logs-helper.service.js
  client/app/dbaas/logs/detail/roles/edit-permissions/edit-permissions.html
  client/app/dbaas/logs/detail/roles/members/logs-roles-members.html
  client/app/dbaas/logs/detail/streams/add/logs-streams-add.html
  client/app/dbaas/logs/detail/streams/alerts/add/alerts-add.html
  client/app/dbaas/logs/detail/streams/archives/streams-archives.html
  client/app/dbaas/logs/detail/streams/follow/streams-follow.html
  client/app/dbaas/logs/logs-constants.js
  client/app/dbaas/logs/translations/Messages_cs_CZ.json
  client/app/dbaas/logs/translations/Messages_de_DE.json
  client/app/dbaas/logs/translations/Messages_en_ASIA.json
  client/app/dbaas/logs/translations/Messages_en_AU.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_GB.json
  client/app/dbaas/logs/translations/Messages_en_SG.json
  client/app/dbaas/logs/translations/Messages_en_US.json
  client/app/dbaas/logs/translations/Messages_es_ES.json
  client/app/dbaas/logs/translations/Messages_es_US.json
  client/app/dbaas/logs/translations/Messages_fi_FI.json
  client/app/dbaas/logs/translations/Messages_fr_CA.json
  client/app/dbaas/logs/translations/Messages_fr_FR.json
  client/app/dbaas/logs/translations/Messages_it_IT.json
  client/app/dbaas/logs/translations/Messages_lt_LT.json
  client/app/dbaas/logs/translations/Messages_nl_NL.json
  client/app/dbaas/logs/translations/Messages_pl_PL.json
  client/app/dbaas/logs/translations/Messages_pt_PT.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
