Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

fix(deps): upgrade ng-ovh-form-flat to v4.0.0
  client/app/app.js
  client/app/app.less
  client/app/cloud/less/cloud.popover.less
  client/app/cloud/project/compute/infrastructure/virtualMachine/addEdit/cloud-project-compute-infrastructure-virtualMachine-addEdit.less
  client/app/cloud/project/compute/infrastructure/virtualMachine/monitoring/cloud-project-compute-infrastructure-virtualMachine-monitoring.less
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix, stylelint 'client/**/*.less' --fix

fix(deps): upgrade ng-ovh-checkbox-table to v1.0.0
  client/app/app.js
  client/app/index.js
  package.json
  yarn.lock
Due: eslint --fix

fix(i18n): add missing translations
  client/app/common/translations/Messages_pl_PL.json
Due: none

fix(kube-nodes): flavor update post node creation
  client/app/kubernetes/kubernetes.service.js
  client/app/kubernetes/nodes/kubernetes-nodes.controller.js
Due: eslint --fix

fix(i18n): add missing translations
  client/app/cloud/project/compute/regions/translations/Messages_de_DE.json
Due: none

fix(kube): enable actions when status is in error
  client/app/kubernetes/kubernetes.constants.js
Due: eslint --fix

feat(cloud.project): display hourly total consumption for all services
  client/app/cloud/project/billing/cloud-project-billing-legacy.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.html
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(i18n): add missing translations
  client/app/cloud/project/compute/regions/translations/Messages_it_IT.json
Due: none

style(components.cloud.billing.outgoing-trafic): add missing export
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.controller.js
Due: eslint --fix

refactor(components.billing.object-storage): switch controller to class
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.controller.js
Due: eslint --fix

refactor(components.billing.instance-list): change object initialization
  client/components/cloud/project/billing/instance-list/billing-instance-list.component.controller.js
Due: eslint --fix

refactor(components.cloud.billing): switch function to a class
  client/components/cloud/project/billing/archive-storage-list/billing-archive-storage-list.component.controller.js
Due: eslint --fix

feat(cloud.project.billing): adapt object storage consumption
  client/app/cloud/project/billing/cloud-project-billing-legacy.service.js
  client/app/cloud/project/billing/cloud-project-billing.constants.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.controller.js
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(cloud.project.billing): adapt snapshot hourly consumption display
  client/app/cloud/project/billing/cloud-project-billing-legacy.service.js
  client/app/cloud/project/billing/cloud-project-billing.constants.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.html
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.js
  client/components/cloud/project/billing/snapshot-detailed-consumption/billing-snapshot-detailed-consumption.component.controller.js
  client/components/cloud/project/billing/snapshot-detailed-consumption/billing-snapshot-detailed-consumption.component.html
  client/components/cloud/project/billing/snapshot-detailed-consumption/billing-snapshot-detailed-consumption.component.js
  client/components/cloud/project/billing/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(components.billing.snapshot-list): switch to a class
  client/components/cloud/project/billing/snapshot-list/billing-snapshot-list.component.controller.js
Due: eslint --fix

style(components.billing-hourly-resource): prefix attributes with data-
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(cloud.project.billing): adapt archive storage consumption display
  client/app/cloud/project/billing/cloud-project-billing-legacy.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/components/cloud/project/billing/archive-storage-list/billing-archive-storage-list.component.controller.js
  client/components/cloud/project/billing/archive-storage-list/billing-archive-storage-list.component.html
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

style(components.billing.volume-list): remove unused code
  client/components/cloud/project/billing/volume-list/billing-volume-list.component.controller.js
Due: eslint --fix

style(components.billing.instance-list): remove unused code
  client/components/cloud/project/billing/instance-list/billing-instance-list.component.controller.js
Due: eslint --fix

feat(project.cloud.billing): display volume consumption for all services
  client/app/cloud/project/billing/cloud-project-billing-legacy.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/components/cloud/project/billing/volume-list/billing-volume-list.component.controller.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(cloud.project.billing): adapt hourly consumptions display
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

style(components.billing.snapshot-list): sort parameters
  client/components/cloud/project/billing/snapshot-list/billing-snapshot-list.component.controller.js
Due: eslint --fix

style(components.billing.volume-list): sort parameters
  client/components/cloud/project/billing/volume-list/billing-volume-list.component.controller.js
Due: eslint --fix

refactor(components.cloud.billing): replace tooltips by popovers
  client/components/cloud/project/billing/archive-storage-list/billing-archive-storage-list.component.html
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.html
  client/components/cloud/project/billing/snapshot-detailed-consumption/billing-snapshot-detailed-consumption.component.html
  client/components/cloud/project/billing/snapshot-list/billing-snapshot-list.component.html
  client/components/cloud/project/billing/translations/Messages_fr_FR.json
  client/components/cloud/project/billing/volume-list/billing-volume-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

refactor(components.billing.volume-list): replace foreach + push by map
  client/components/cloud/project/billing/volume-list/billing-volume-list.component.controller.js
Due: eslint --fix

style(components.billing.monthly): prefix attributes with data-
  client/components/cloud/project/billing/monthly-resource-list/billing-monthly-resource-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

refactor(components.billing.archive-storage-list): use oui-spinner
  client/components/cloud/project/billing/archive-storage-list/billing-archive-storage-list.component.html
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(cloud.project.billing): adapt outgoing trafic display
  client/app/cloud/project/billing/cloud-project-billing-legacy.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/components/cloud/project/billing/outgoing-trafic/outgoing-trafic.component.controller.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(components.billing): keep the same alignment between table elements
  client/components/cloud/project/billing/archive-storage-list/billing-archive-storage-list.component.html
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(cloud.project.billing): display instances hourly consumption detail
  client/app/cloud/project/billing/cloud-project-billing-legacy.service.js
  client/app/cloud/project/billing/cloud-project-billing.service.js
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.controller.js
  client/components/cloud/project/billing/hourly-resource-list/billing-hourly-resource-list.component.html
  client/components/cloud/project/billing/instance-list/billing-instance-list.component.controller.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

refactor(components.billing.volume-list): switch to a class
  client/components/cloud/project/billing/volume-list/billing-volume-list.component.controller.js
Due: eslint --fix

style(components.billing.object-storage): sort parameters
  client/components/cloud/project/billing/object-storage-list/billing-object-storage-list.component.controller.js
Due: eslint --fix

style(cloud.project.billing): prefix attributes with data-
  client/app/cloud/project/billing/consumption/current/cloud-project-billing-consumption-current.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

fix(i18n): add missing translations
  translations/Messages_en_CA.json
Due: none

fix(i18n): add missing translations
  client/app/cloud/project/compute/infrastructure/privateNetwork/translations/Messages_en_CA.json
  client/app/cloud/project/compute/infrastructure/virtualMachine/add/translations/Messages_en_CA.json
  client/app/cloud/project/compute/loadbalancer/translations/Messages_en_CA.json
  client/app/cloud/project/compute/translations/Messages_en_CA.json
  client/app/cloud/project/onboarding/translations/Messages_en_CA.json
  client/app/cloud/project/storage/storage-add/translations/Messages_en_CA.json
  client/app/cloud/project/storage/storage-details/translations/Messages_en_CA.json
  client/app/cloud/project/storage/translations/Messages_en_CA.json
  client/app/cloud/project/translations/Messages_en_CA.json
  client/app/dbaas/dbaas-metrics/dashboard/translations/Messages_en_CA.json
  client/app/dbaas/logs/translations/Messages_en_CA.json
  client/app/home/translations/Messages_en_CA.json
  client/app/iplb/configuration/translations/Messages_en_CA.json
  client/app/iplb/frontends/translations/Messages_en_CA.json
  client/app/iplb/serverFarm/translations/Messages_en_CA.json
  client/app/kubernetes/translations/Messages_en_CA.json
  client/app/nasha/add/translations/Messages_en_CA.json
  client/app/veeam/dashboard/translations/Messages_en_CA.json
  client/app/veeam/translations/Messages_en_CA.json
  client/app/vps/translations/Messages_en_CA.json
  client/app/vrack/modals/translations/Messages_en_CA.json
  client/components/cloud/project/billing/translations/Messages_en_CA.json
Due: none

fix(iplb-configuration): error on apply configuration success
  client/app/cloud/project/compute/infrastructure/cloud-project-compute-infrastructure.service.js
  client/app/iplb/configuration/iplb-configuration.service.js
  client/app/iplb/frontends/iplb-frontends.service.js
  client/app/iplb/server/iplb-server.service.js
  client/app/iplb/serverFarm/iplb-server-farm.service.js
  client/app/iplb/sslCertificate/iplb-ssl-certificate.service.js
  client/app/iplb/vrack/iplb-vrack.service.js
Due: eslint --fix

fix(pci): translations issues
  client/app/cloud/project/onboarding/translations/Messages_en_US.json
  client/app/cloud/project/translations/Messages_en_US.json
  client/app/home/home.controller.js
  client/app/home/home.html
  client/app/home/translations/Messages_en_US.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

release v7.18.3
  CHANGELOG.md
  package.json
Due: none

fix(kube): remove beta message
  containers/kubernetes-containers.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

Path conditions:
  htmlhint --ignore '**/noVNC/**' 'client/**/*.html': any of: *.html
  eslint --fix: any of: *.js
  stylelint 'client/**/*.less' --fix: any of: *.less
