Repository ovh-ux/ovh-manager-cloud: changes, and which lint-staged commands are due for each by the changed paths.
All: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix, stylelint 'client/**/*.less' --fix

.lintstagedrc.json:

{
  "*.html": [
    "htmlhint --ignore '**/noVNC/**' 'client/**/*.html'"
  ],
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.less": [
    "stylelint 'client/**/*.less' --fix",
    "git add"
  ]
}

fix(vps): disable change owner link if it no existss
  client/app/vps/dashboard/vps-dashboard.controller.js
  client/app/vps/dashboard/vps-dashboard.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(vps): add terminate action and autorenew capability
  client/app/vps/dashboard/index.js
  client/app/vps/dashboard/terminate/index.js
  client/app/vps/dashboard/terminate/vps-terminate.component.js
  client/app/vps/dashboard/terminate/vps-terminate.controller.js
  client/app/vps/dashboard/terminate/vps-terminate.html
  client/app/vps/dashboard/terminate/vps-terminate.routing.js
  client/app/vps/dashboard/terminate/vps-terminate.service.js
  client/app/vps/dashboard/vps-dashboard.constants.js
  client/app/vps/dashboard/vps-dashboard.controller.js
  client/app/vps/dashboard/vps-dashboard.html
  client/app/vps/vps.module.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix: redirect to error page if state resolve fails
  client/app/app.js
Due: eslint --fix

fix(vps): fix edition of display name callback
  client/app/vps/cloud-database/vps-cloud-database.constants.js
  client/app/vps/cloud-database/vps-cloud-database.routing.js
  client/app/vps/dashboard/rebuild/translations/Messages_en_GB.json
  client/app/vps/dashboard/rebuild/vps-rebuild.component.js
  client/app/vps/dashboard/rebuild/vps-rebuild.controller.js
  client/app/vps/dashboard/rebuild/vps-rebuild.html
  client/app/vps/dashboard/rebuild/vps-rebuild.routing.js
  client/app/vps/dashboard/terminate/translations/Messages_en_GB.json
  client/app/vps/dashboard/vps-dashboard.controller.js
  client/app/vps/dashboard/vps-dashboard.html
  client/app/vps/header/vps-header.controller.js
  client/app/vps/translations/Messages_en_GB.json
  client/app/vps/translations/Messages_fr_FR.json
  client/app/vps/vps.routing.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(vps): create rebuild action for US VPS
  client/app/vps/dashboard/vps-dashboard.controller.js
  client/app/vps/vps-capabilities.service.js
  client/app/vps/vps.module.js
Due: eslint --fix

feat(vps): disable unavailable capabilities
  client/app/vps/dashboard/vps-dashboard.controller.js
  client/app/vps/dashboard/vps-dashboard.html
  client/app/vps/vps-capabilities.service.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix: fix translation
  client/app/vps/dashboard/rebuild/vps-rebuild.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(vps): add terminate action and autorenew capability
  client/app/vps/dashboard/vps-dashboard.html
  client/app/vps/vps.module.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(vps): fix edition of display name callback
  client/app/vps/translations/Messages_fr_FR.json
Due: none

feat: make test build
  package.json
  yarn.lock
Due: none

fix(dbaas.logs.detail.roles.members): prevent error when adding adp role (#1591)
  client/app/dbaas/logs/detail/roles/members/add/add-members.controller.js
  client/app/dbaas/logs/detail/roles/members/add/add-members.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(dbaas-logs-inputs): helpers fetch from api
  client/app/dbaas/logs/detail/inputs/add/configure/logs-inputs-add-configure.controller.js
  client/app/dbaas/logs/detail/inputs/add/configure/logs-inputs-add-configure.html
  client/app/dbaas/logs/detail/inputs/logs-inputs.service.js
  client/app/dbaas/logs/logs-constants.js
  client/app/dbaas/logs/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(vps): disable vps section for US
  package.json
  yarn.lock
Due: none

fix(vps): disable vps section for US (#1593)
  package.json
  yarn.lock
Due: none

release v7.33.3
  CHANGELOG.md
  package.json
Due: none

fix(i18n): add missing translations [CDS 80]
  client/app/vps/translations/Messages_it_IT.json
  client/app/vps/translations/Messages_pt_PT.json
Due: none

fix(dbaas.logs.detail.inputs.add.configure): fetch helpers from the api (#1592)
  client/app/dbaas/logs/detail/inputs/add/configure/logs-inputs-add-configure.controller.js
  client/app/dbaas/logs/detail/inputs/add/configure/logs-inputs-add-configure.html
  client/app/dbaas/logs/detail/inputs/logs-inputs.service.js
  client/app/dbaas/logs/logs-constants.js
  client/app/dbaas/logs/translations/Messages_fr_FR.json
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

release v7.34.0
  CHANGELOG.md
  package.json
Due: none

build: bump @ovh-ux/manager-navbar
  package.json
  yarn.lock
Due: none

fix(deps): bump @ovh-ux/manager-navbar to v2.1.0 (#1598)
  package.json
  yarn.lock
Due: none

fix(vps): hide dash if no country set
  client/app/vps/dashboard/vps-dashboard.html
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html'

feat(vps): create rebuild action for US VPS
  client/app/vps/dashboard/rebuild/index.js
  client/app/vps/dashboard/rebuild/vps-rebuild.component.js
  client/app/vps/dashboard/rebuild/vps-rebuild.controller.js
  client/app/vps/dashboard/rebuild/vps-rebuild.html
  client/app/vps/dashboard/rebuild/vps-rebuild.routing.js
  client/app/vps/dashboard/rebuild/vps-rebuild.service.js
  client/app/vps/dashboard/vps-dashboard.component.js
  client/app/vps/dashboard/vps-dashboard.controller.js
  client/app/vps/dashboard/vps-dashboard.html
  client/app/vps/vps-capabilities.service.js
  client/app/vps/vps.module.js
  client/app/vps/vps.routing.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

feat(vps): disable unavailable capabilities
  client/app/vps/cloud-database/vps-cloud-database.constants.js
  client/app/vps/cloud-database/vps-cloud-database.routing.js
  client/app/vps/dashboard/rebuild/vps-rebuild.html
  client/app/vps/dashboard/vps-dashboard.component.js
  client/app/vps/dashboard/vps-dashboard.constants.js
  client/app/vps/dashboard/vps-dashboard.controller.js
  client/app/vps/dashboard/vps-dashboard.html
  client/app/vps/dashboard/vps-dashboard.routing.js
  client/app/vps/header/vps-header.component.js
  client/app/vps/header/vps-header.constants.js
  client/app/vps/header/vps-header.controller.js
  client/app/vps/header/vps-header.html
  client/app/vps/translations/Messages_fr_FR.json
  client/app/vps/vps-capabilities.service.js
  client/app/vps/vps.routing.js
Due: htmlhint --ignore '**/noVNC/**' 'client/**/*.html', eslint --fix

fix(vps): fix missing features
  client/app/vps/header/vps-header.constants.js
  client/app/vps/header/vps-header.controller.js
Due: eslint --fix

feat(vps): add order link
  yarn.lock
Due: none

build: upgrade server sidebar to 0.7.0
  package.json
  yarn.lock
Due: none

build: upgrade ovh api services to 9.23.3
  package.json
  yarn.lock
Due: none

Update README.md
  README.md
Due: none

Update README.md (#1600)
  README.md
Due: none

docs: update CODEOWNERS file
  .github/CODEOWNERS
Due: none

release v99.0.6
  CHANGELOG.md
  package.json
Due: none
